[mac]-atualiza-exclusão-GqnBmxmIIJevx7Nl.json
{"updatedAt":"2026-01-17T00:04:00.358Z","createdAt":"2026-01-16T22:51:04.628Z","id":"GqnBmxmIIJevx7Nl","name":"[MAC] ATUALIZA EXCLUSÃO","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"exclusao","lookupValue":"true"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,-256],"id":"f367ba42-e0b8-46fe-bb38-824dcb2adfaa","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"set","key":"MAC:EXCLUSAO","value":"={{ $json.telefone.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,-256],"id":"c1e5e4ca-6c1a-4e7d-8acd-4c16aef9a868","name":"Redis3","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-528,-320],"id":"0e0a41f7-bcb9-49a9-b7d9-118b4be49174","name":"Schedule Trigger"},{"parameters":{"operation":"delete","key":"MAC:EXCLUSAO"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-256],"id":"f6886bb3-42ab-479b-8d56-4eac3d225a97","name":"Redis4","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}},"disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"telefone"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,-256],"id":"bbb124c0-7295-4ce1-b8a8-0f44e2c169bb","name":"Aggregate1"},{"parameters":{"path":"mac-atualiza-exclusao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-144],"id":"2cacfac9-c793-4128-aba3-73dd7115e7b5","name":"Webhook","webhookId":"c6cfba08-d50d-4be4-9df9-e2e9312bd1bb"}],"connections":{"Get row(s) in sheet1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Redis4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"5da6a613-0e97-4f86-841c-c1b008b473ab","activeVersionId":"5da6a613-0e97-4f86-841c-c1b008b473ab","triggerCount":2,"shared":[{"updatedAt":"2026-01-16T22:51:04.628Z","createdAt":"2026-01-16T22:51:04.628Z","role":"workflow:owner","workflowId":"GqnBmxmIIJevx7Nl","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":{"updatedAt":"2026-01-17T00:04:00.360Z","createdAt":"2026-01-17T00:04:00.360Z","versionId":"5da6a613-0e97-4f86-841c-c1b008b473ab","workflowId":"GqnBmxmIIJevx7Nl","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"exclusao","lookupValue":"true"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,-256],"id":"f367ba42-e0b8-46fe-bb38-824dcb2adfaa","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"set","key":"MAC:EXCLUSAO","value":"={{ $json.telefone.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,-256],"id":"c1e5e4ca-6c1a-4e7d-8acd-4c16aef9a868","name":"Redis3","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-528,-320],"id":"0e0a41f7-bcb9-49a9-b7d9-118b4be49174","name":"Schedule Trigger"},{"parameters":{"operation":"delete","key":"MAC:EXCLUSAO"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-256],"id":"f6886bb3-42ab-479b-8d56-4eac3d225a97","name":"Redis4","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}},"disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"telefone"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,-256],"id":"bbb124c0-7295-4ce1-b8a8-0f44e2c169bb","name":"Aggregate1"},{"parameters":{"path":"mac-atualiza-exclusao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-144],"id":"2cacfac9-c793-4128-aba3-73dd7115e7b5","name":"Webhook","webhookId":"c6cfba08-d50d-4be4-9df9-e2e9312bd1bb"}],"connections":{"Get row(s) in sheet1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Redis4","type":"main","index":0}]]}},"authors":"Renato Marques","name":null,"description":null},"tags":[]}