[mac]-criar_contato-Pg3WkEK2qwORWtXL.json
{"updatedAt":"2025-12-30T19:39:30.304Z","createdAt":"2025-12-14T20:05:04.425Z","id":"Pg3WkEK2qwORWtXL","name":"[MAC] criar_contato","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"nome\": \"João Silva\",\n  \"telefone\": \"5511999999999\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-752,-48],"id":"d7e58c73-08cf-452e-a650-0558ba299c18","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"criado\": true,\n  \"contato_id\": \"{{ $json.id }}\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-48],"id":"495e835b-fddc-451e-8568-39759dab24b4","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","nome":"={{ $json.nome }}","criado_em":"={{ $now }}","ultimo_evento_em":"={{ $now }}","id":"={{ 'ctt_' + Date.now() }}","status":"a7f40dde"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,-48],"id":"f265b259-b23f-4ca7-8c83-5bcf13479d84","name":"Append or update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"nome":"João Silva","telefone":"5511999999999"}}]},"versionId":"3b5a4568-2c3a-4bb4-b2cf-59c9381581ba","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:05:04.425Z","createdAt":"2025-12-14T20:05:04.425Z","role":"workflow:owner","workflowId":"Pg3WkEK2qwORWtXL","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}