[mac]-atendimento-3.0-SIQ80PfJ4fxbroZ9.json
{"updatedAt":"2026-01-16T22:53:17.316Z","createdAt":"2025-12-24T15:49:22.440Z","id":"SIQ80PfJ4fxbroZ9","name":"[MAC] Atendimento 3.0","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.WhatsApp }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n","options":{}},"id":"1af75968-b462-4bbe-845a-c58e7f9af111","name":"Enviar Mensagem WhatsApp Lead6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6576,288],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"59fd3a53-08be-41db-b91e-9abccd7ef4ad","name":"Audio","value":"={{ $json.text || '' }}","type":"string"},{"id":"1f3efabc-087b-4843-8766-742b9109e955","name":"WhatsWeb","value":"={{ $json.pergunta || ''}}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem || '' }}","type":"string"},{"id":"f45d0d25-8456-4a53-9290-69eed044964e","name":"Imagem","value":"={{ $json.content || ''}}","type":"string"},{"id":"0d9377f3-acbb-49ed-9254-ef9e3e561465","name":"Documento","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"ef2ae406-c212-4019-8468-4af52092fc38","name":"Filtra Webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,272]},{"parameters":{"amount":3},"id":"474e8bde-9cd7-4256-89cf-955f25d2dfdf","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3216,288],"webhookId":"b6154711-94b6-4b0a-a59a-5be1e2474257"},{"parameters":{"operation":"get","propertyName":"mensagem","key":"=MAC:{{ $json.telefone }}","options":{}},"id":"9f2a94b2-b90e-4a52-ae9c-a697f4a81a8b","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3312,528],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c513c6ff-e8c6-4008-ac40-c371b6bed82a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3440,384]},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait').item.json.telefone }}","type":"string"},{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"=MAC:{{ $('normalizacao').item.json.telefone }}","type":"string"}]},"options":{}},"id":"342c50b7-20c0-4a4a-9c04-02731f0f6b71","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3632,272]},{"parameters":{},"id":"76d1e491-18c7-4337-b306-1fa921fa611f","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3616,512]},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.telefone }}"},"id":"2896e830-f0ef-4989-8362-517b23c1565a","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3840,272],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"model":"gpt-5-mini","options":{}},"id":"6cfb3ff3-cea5-4e6e-9234-7febc06d9956","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5584,208],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"417562cc-1caf-4fde-a885-470bcafed610","name":"Mensagem de Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,16],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"ef2c663c-9a65-498d-8b83-c9566f343225","name":"Converter Áudio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,16]},{"parameters":{"assignments":{"assignments":[{"id":"6b7bef37-abbe-4207-aae0-5447388019a3","name":"baseUrl","value":"https://wa.macexecutivo.com.br","type":"string"},{"id":"67c50f2f-89e2-4a5c-84c2-c2ac76962f6e","name":"apikey","value":"A4D7BFA8CAE8-41DC-9E39-CCA859AFCBD2","type":"string"},{"id":"9177d222-437a-4284-a96f-115fba66662c","name":"instancia","value":"MAC","type":"string"},{"id":"ab90e3ce-3657-4124-968d-37c0aaebd5ab","name":"xi-api-key","value":"(api elevenlabs)","type":"string"},{"id":"8d6c586e-0f00-4100-bc40-231cda7f93b7","name":"WhatsApp","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"c4aa8b35-49f3-4920-a7da-8929763f05a9","name":"numAlerta","value":"5511991650228","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"bbee8000-50d6-4049-b7e4-877caf2933d6","name":"Credenciais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1792,368]},{"parameters":{"assignments":{"assignments":[{"id":"17694db0-6248-444f-afb9-ff7ed13996ef","name":"pergunta","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"95d0d52b-c391-4bf4-b67a-1d726f6736e0","name":"Texto Web","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2256,176],"notesInFlow":false,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('input evolution').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"d7994400-94e6-4d05-8562-9d1e5b482164","name":"Filta Msg App","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,352]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"635c9de4-adc0-4a48-8be1-17bdf3cf4176","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,528],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"72499587-a2af-4993-9fa7-614294152576","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,528]},{"parameters":{"operation":"push","list":"=MAC:{{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"fc682565-9cd0-4808-8a22-4247a98885f8","name":"Lista Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3024,512],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"75eb74f6-39c8-40fe-b57d-9f7e6f5d34e3","name":"Extrair Dados","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2576,704]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"5090b08b-0c14-4d8b-99b8-a7706388e0a2","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,704],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"=image {{ $('Switch').item.json.body.data.message.documentMessage.fileName }}","mimeType":"={{ $('Switch').item.json.body.data.message.documentMessage.mimetype }}"}},"id":"72d8d491-3ea6-4f76-85be-230366efba57","name":"Converter Arquivo1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,704]},{"parameters":{"content":"Filtra as Mensagens","height":873,"width":1070,"color":5},"id":"8de74102-feff-4b2e-8d1e-ad04ba3bce31","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1776,0]},{"parameters":{"content":"Concatenação de Mensagens","height":878,"width":1401,"color":6},"id":"c6f01f13-ea4a-4824-adbd-21a7eb2475cf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2848,0]},{"parameters":{"content":"IA","height":838.8485983917634,"width":1292.417508558578,"color":4},"id":"96c888f3-3e97-48c6-a573-c5e8960ecb46","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5200,16]},{"parameters":{"content":"## Responde em Áudio\n","height":328,"width":638,"color":3},"id":"015dfe0b-0855-4809-8e1b-f2fd4bf1122e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,-560]},{"parameters":{"content":"## Responde em Texto\n","height":239.1747914011388,"width":249.0313820540327},"id":"91a24217-fe57-4249-adc4-3e4986468f9d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6496,240]},{"parameters":{"mode":"delete"},"id":"2a00b8be-4bba-4153-bd3f-bbc5fffd7148","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[5312,880]},{"parameters":{"content":"Limpa Memória","height":304.83247531487484,"width":415.33068089188083,"color":7},"id":"1a70e0b6-3295-436e-8c6e-731d199991bf","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5200,864]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/jsCqWAovK2LkecY7zXl4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"audio/mpeg"},{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('Credenciais').item.json['xi-api-key'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n    \"model_id\": \"eleven_multilingual_v2\",\n    \"voice_settings\": {\n        \"stability\": 0.5,\n        \"similarity_boost\": 0.5\n    }\n}","options":{}},"id":"1ec6a63e-4289-4f81-b70a-3eb98acf5459","name":"ElevenLabs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4144,-400]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"67201008-f9c6-4bc8-a3c7-779f3b3fd586","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4304,-400]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendWhatsAppAudio/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('input evolution').item.json.body.data.key.remoteJid }}\",\n    \"audio\": \"{{ $json.data }}\"\n}\n","options":{}},"id":"913bd144-e6cc-4a22-91bf-49fd33b32b68","name":"sendWhatsAppAudio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4464,-400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9432a5cd-37fc-4ba9-a0e3-c12017585807","leftValue":"={{ $json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"3919f042-8304-4dc9-8ed2-a29751ec2a2c","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3952,-384]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"6cb11282-9f28-4b0d-836a-16b8f46b6f5e","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4064,272]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"463b754d-8d4a-43fb-99fc-46862bbcdef3","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2576,16],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"4d1f6193-4d03-4dcb-b420-7f85190ce3ba","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2576,528],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('input evolution').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $('input evolution').item.json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $('input evolution').item.json.body.server_url }}","type":"string"},{"id":"1471832b-8999-46ba-9d42-998ff8f20c85","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid.split(\"@\")[0].split(\":\")[0] }}","type":"string"},{"id":"65bf6151-2330-4f2c-9ba9-08dd9523e11f","name":"body.data.pushName","value":"={{ $('input evolution').item.json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"dfbee8a4-f257-4152-8665-694c1041aeeb","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,384]},{"parameters":{"operation":"set","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"d8768b29-3752-4613-9c7f-74f3ed05d303","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4496,112],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block","options":{}},"id":"1c93d6f0-fb58-4e0e-b5b7-b1ca4823695a","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4480,448],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"content":"## Intervenção Humana \nTTL = Segundos\n60 = 1 Min\n900 = 15 Min","height":839.8446227150625,"width":938.9118166958406},"id":"1de24bf0-3128-4096-a9ab-dace2580c170","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4256,16]},{"parameters":{"httpMethod":"POST","path":"mac-atendimento","options":{}},"id":"25718af0-9ddb-481b-974c-3ebe30b42a5b","name":"input evolution","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,368],"webhookId":"e52194fd-a6f6-49a4-a0a1-59ede94b134c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"29b4e9d9-33ed-4d07-b543-de7a0aaa8e09"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b24d7ce0-8970-4ec0-a2c3-ac38ba86ac5a","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DEBUG"}]},"options":{}},"id":"64dc3645-6b95-4bba-bae4-a2afe1fcbd8f","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4640,432]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('input evolution').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4b94d2ac-53e5-4153-9377-4cc6db20cb1c","leftValue":"={{ $json.body.data.message.extendedTextMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('input evolution').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('input evolution').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('input evolution').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"de94bcef-f36a-410c-8154-6c743b20aeeb","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1984,352]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"a2520379-0bcc-4847-8679-37811767777b"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"2c18fdb4-94e8-427d-aa10-fb6a55a2660b","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4288,352]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=**Você é o Assistente Virtual Oficial da MAC Transporte Executivo.**\nSua função é **exclusivamente** lidar com:\n0. Saudação Inicial de Boas Vindas para novos contatos e Olá NOME! Em que posso ajudar? para contatos já conhecidos.\n1. Agendamento de novas corridas\n2. Alteração de reservas\n3. Cancelamento de reservas\n4. Consulta de informações sobre reservas\n\nIMPORTANTE:\nAntes de aplicar a regra de “FALAR COM ATENDENTE”, você sempre deve:\n\n- Identificar se o cliente existe no banco (com a Tool buscar_contato_por_telefone)\n- Identificar se tem reserva em aberto (com a Tool buscar_reserva_em_aberto)\n- Identificar se está iniciando um atendimento\n- Interpretar se a mensagem é uma saudação ou início de conversa.\n- Interpretar se a mensagem é um agradecimento ou encerramento de conversa.\n\nSaudações (ex.: “olá”, “oi”, “bom dia”, “boa noite”, “tudo bem”) NUNCA devem ser tratadas como assunto fora do escopo.\nNesses casos você deve seguir o fluxo NORMAL de atendimento.\n\nAgradecimento ou encerramento de conversa (exemplos: \"obrigado\", \"obg\", \"tchau\", \"ok\")\nNesses casos, se já tiver sido finalizado o registro da reserva, apenas encerrar o atendimento.\n\nSó considere “fora do escopo” quando a mensagem for realmente sobre temas não relacionados a corridas, como:\n\n– conversar sobre assuntos pessoais\n– pedir informações que não envolvem transporte\n– tentar vender algo\n– perguntas filosóficas ou gerais\n– assuntos administrativos internos\n– conversas paralelas\n\nNesses casos, e somente nesses casos, responda com:\n\n“Sou um assistente de Inteligência Artificial da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\nJamais usar essa resposta em saudações, início de conversa ou mensagens vagas.\n\nQuando a mensagem for vaga (ex.: “oi”, “olá”, “boa noite”), você deve seguir o fluxo:\n\nVerificar se o contato existe\n\nSe sim:\n\n“Olá NOME! Em que posso ajudar?”\n\nSe não:\n\n“Olá! Sou o novo atendente virtual da MAC Transporte Executivo. Para iniciar, como posso te chamar?”\n\n---\n\n**1. ESTILO DE COMUNICAÇÃO**\n\nVocê deve ser:\n\n* **Extremamente objetivo**\n* **Cordial**\n* **Simpático na medida certa**\n* **Claro e rápido**, como se fosse um atendente humano experiente\n* Evite textos longos.\n* Sempre leve o cliente ao próximo passo para concluir a reserva.\n\n---\n\n**2. REGRA FUNDAMENTAL DO ATENDIMENTO**\n\nO objetivo central é **coletar os dados necessários para cadastrar ou alterar uma reserva**, e **confirmar com o cliente antes de salvar**.\n\nOs dados que precisam estar completos:\n\n* Endereço de partida\n* Endereço de destino\n* Data\n* Horário\n\nNada deve ser registrado no banco sem **confirmação explícita do cliente**, mas não precisa pedir confirmação mais de uma vez, pedir confirmação apenas no final após coletar todos os dados da corrida.\n\n---\n\n**3. FUNCIONAMENTO GERAL DO AGENTE**\n\n## **3.1 Identificação do Cliente**\n\nSempre siga esta ordem:\n\n1. Use a Tool: buscar_contato_por_telefone\no retorno deve estar nesse formato quando encontrar o contato:\n[\n{\n\"encontrado\": \ntrue,\n\"contato\": \n{\n\"id\": \n\"ctt_1765505949746\",\n\"nome\": \n\"Renato\",\n\"telefone\": \n\"5511999999999\",\n\"status\": \n\"a7f40dde\",\n\"criado_em\": \n\"2025-12-11T21:19:09.745-05:00\"\n}\n}\n]\nguardar o nome para se referir ao contato.\n\n2. Se não encontrar o cliente:\n     Responda: “Para continuar, como posso te chamar?”\n3. Após receber o nome:\n   * Use a Tool: criar_contato\n   * Em seguida, comece imediatamente a coleta de dados da reserva.\n\n---\n\n# **4. COMPORTAMENTO POR CENÁRIO**\n\n## **4.1 Se o cliente ainda NÃO tem atendimento em aberto (status EM_ATENDIMENTO)**\n\nVerifique se existe reserva em aberto (Tool buscar_reserva_em_aberto - salvar o valor reserva_id do retorno json e todos os dados da reserva em aberto para utilizar posteriormente):\n\n* Se **não existe reserva em aberto** : Cenário A\n* Se existe **reserva em aberto** : Cenário B\n\n### **Cenário A — Cliente sem reserva em aberto**\n\nResponda:\n\n> “Que bom ter você por aqui! Gostaria de agendar uma corrida agora?”\n\n---\n\n### **Cenário B — Cliente com reserva em aberto**\n\nPergunte:\n\n> “Você deseja *alterar* sua reserva atual ou *cancelar*?”\n\nSe a mensagem do cliente já sugerir intenção (ex.: “Quero mudar para 18h”):\n\n* Interprete automaticamente\n* Responda com confirmação:\n\n> “Entendi que você deseja alterar *HORÁRIO* da sua reserva. Segue novos dados da reserva: (enviar todos os dados da reserva, já alterados) Posso confirmar isso?”\n\nSomente após confirmação → chamar Tool de alterar_reserva passando o valor reserva_id e todos os dados atualizados da reserva como parâmetro. Seguindo esse formato: \n{\n  \"telefone\": \"5511931468609\",\n  \"alteracoes\" : {\n    \"origem\": \"Rua X\",\n    \"destino\": \"Aeroporto de Congonhas\",\n    \"data_hora\": \"2025-02-15 09:30\",\n    \"status\": \"f460a703\"\n  }\n}\n\n---\n\n## **4.2 Se o cliente já está em atendimento status EM_ATENDIMENTO (a7f40dde)**\n\nSimplesmente continue a coleta de dados.\n\n---\n\n# **5. COLETA DE DADOS PARA NOVA RESERVA**\n\nVocê deve sempre conduzir as perguntas de maneira objetiva:\n\n1. **Endereço de Partida**\n\n   * Pergunte apenas se o cliente não informou antes.\n    > “Qual será o endereço de partida?”\n   \n2. **Endereço de Destino**\n\n   * Se cliente não informou:\n\n     > “Qual será o destino?”\n\n3. **Data**\n\n   * Interprete linguagens naturais: “amanhã”, “sábado”, “dia 15”, etc.\n  * Para referência, a data de hoje é {{ $now }}\n\n4. **Horário**\n\n   * Interprete “às 8”, “8 da manhã”, “18h”, “me busca às 7”, etc.\n\n---\n\n## **5.1 Confirmação antes de salvar**\n\nQuando os quatro dados estiverem completos, você sempre deve enviar:\n\n> “✅ **Confirmar a reserva abaixo?**\n\\n\\n\n🚗 **Partida:** [partida]\\n\n📍 **Destino:** [destino]\\n\n📅 **Data:** [data]\\n\n⏰ **Horário:** [horario]”\n(na confirmação sempre utilizar o formato de data \"DD/MM/YYYY - dia da semana\")\n\nSomente se o cliente confirmar → chamar a Tool **registrar_reserva**.\n\nApós salvar a reserva:\n\n> **“Reserva registrada! Nossa equipe entrará em contato para confirmar.”**\n\nE então:\n\n* Atualize status do contato para **AGUARDANDO (06a0701d)** via Tool atualizar_status_atendimento)\n\nEsse passo é obrigatório.\n\n---\n\n# **6. ALTERAÇÃO DE RESERVA**\n\nO agente deve:\n\n1. Identificar automaticamente a intenção (se possível), utilizar a Tool buscar_reserva_em_aberto para verificar os dados da reserva atual\n2. Perguntar confirmação\n3. Somente após confirmar → chamar Tool alterar_reserva (enviando o campo reserva_id como parâmetro)\n\nExemplo:\n\nCliente: “Quero mudar o horário para 17h.”\n\nResposta:\n\n> “Certo! Você deseja alterar o horário da sua reserva atual para 17h, correto?”\n\nApós confirmação → Tool alterar_reserva e resposta final:\n\n> “Alteração registrada! Nossa equipe dará continuidade.”\n\n---\n\n# **7. CANCELAMENTO DE RESERVA**\n\nSempre confirmar antes de cancelar, buscando dados atuais da reserva para confirmação Tool buscar_reserva_em_aberto:\n\n> “Deseja realmente cancelar sua reserva atual?”\n\nApós confirmação → chamar Tool cancelar_reserva.\n\n---\n\n# **9. REGRAS DE STATUS INTERNAS**\n\nOs status são exatamente:\n\n| Código   | Nome                   |\n| -------- | ---------------------- |\n| 7b3b688c | NOVO_CONTATO           |\n| a7f40dde | EM_ATENDIMENTO         |\n| 06a0701d | AGUARDANDO             |\n| f460a703 | RESERVA_EM_ABERTO      |\n| aa024903 | RESERVA_FINALIZADA     |\n| 503776da | ATENDIMENTO_FINALIZADO |\n| 7bbdf177 | CANCELADA              |\n\n### Quando o cliente enviar “FALAR COM ATENDENTE”:\n\n→ Mudar para **AGUARDANDO (06a0701d)** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **10. REGRAS DE INTERPRETAÇÃO DE MENSAGENS**\n\n* Entenda datas e horários em linguagem natural.\n* Entenda frases curtas e fragmentos.\n* Nunca invente dados.\n* Sempre confirme antes de salvar.\n* Se algo estiver ambíguo, pergunte de maneira objetiva:\n  “Só para confirmar, qual é o destino?”\n\n---\n\n# **11. FINALIZAÇÃO DO ATENDIMENTO**\n\nApós qualquer ação concluída:\n\n> “Reserva registrada! Nossa equipe entrará em contato para confirmar.”\n\nE sempre:\n\n* Mudar para **AGUARDANDO** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **12. QUANDO RECUSAR ASSUNTOS**\n\nQualquer assunto fora de:\n\n* Agendar corrida\n* Alterar corrida\n* Cancelar corrida\n* Consultar status da reserva\n\nDeve ser respondido somente com:\n\n> “Sou o assistente da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\n---\n\n# **13. MENSAGEM DE FALHA OU DADOS INSUFICIENTES**\n\nSe faltarem dados:\n\n> “Para prosseguir preciso apenas de *X*. Pode me informar?”\n\nSe o cliente enrolar:\n\n> “Perfeito! Só me informe *X* para eu finalizar seu agendamento.”\n\n---\n\n# **14. PRIORIDADE MÁXIMA DO AGENTE**\n\nSua missão é:\n\n**Coletar dados → Confirmar → Registrar → Encerrar em AGUARDANDO.**\n\nSempre de forma rápida, objetiva e simpática."}},"id":"c825be68-dc60-46a2-bc8d-54a5e630bf14","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[5760,64]},{"parameters":{"description":"Objetivo: localizar o cliente na aba contatos usando o telefone vindo do WhatsApp.","workflowId":{"__rl":true,"value":"v3Phy4QYRGpmN1iW","mode":"list","cachedResultUrl":"/workflow/v3Phy4QYRGpmN1iW","cachedResultName":"[MAC] buscar_contato_por_telefone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["telefone"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5568,704],"id":"c014b253-08a6-4d67-8ff9-6a121751b9c3","name":"buscar_contato_por_telefone"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5472,416],"id":"36b3e520-44e5-4b0c-ba85-1c230b629708","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"EiI1RjCFgKiqZlew","name":"Postgres account"}}},{"parameters":{"description":"Objetivo: atualizar o status do contato na aba contatos.","workflowId":{"__rl":true,"value":"WYYNaQUSejiL35xi","mode":"list","cachedResultUrl":"/workflow/WYYNaQUSejiL35xi","cachedResultName":"[MAC] atualizar_status_atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5616,416],"id":"0d54ab12-6218-4f75-9887-8a08bf5a1ef2","name":"atualizar_status_atendimento"},{"parameters":{"description":"Objetivo: cadastrar um novo contato na aba contatos.","workflowId":{"__rl":true,"value":"uvBdX5xok6YjjX0v","mode":"list","cachedResultUrl":"/workflow/uvBdX5xok6YjjX0v","cachedResultName":"[MAC] criar_contato"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $fromAI('nome', `nome informado pelo cliente`, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5712,672],"id":"73912add-a483-49c3-9fa4-317088f594d5","name":"criar_contato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e53fea41-ae17-4a34-b491-364e8598d883","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}},{"id":"f1840b98-0b0f-4804-b5ac-f915bbaa50b2","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11947471209","operator":{"type":"string","operation":"contains"}},{"id":"503d1d80-9f90-440a-bace-b36fc079f255","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11987261353","operator":{"type":"string","operation":"contains"}},{"id":"f599c2cf-1174-4a2c-b2fa-a8126cb5aa9b","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11963549018","operator":{"type":"string","operation":"contains"}},{"id":"a2936d06-3676-4ac6-b539-337053280a55","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11967273490","operator":{"type":"string","operation":"contains"}},{"id":"640d1a25-e2f2-45e3-8bbf-f09dce343c78","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11932925766","operator":{"type":"string","operation":"contains"}},{"id":"f8b5e0c8-7e23-4396-a831-7b8055d3c685","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11952715444","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,384],"id":"33b60056-494a-45cf-b003-6342529f15f8","name":"NUMEROS ACEITOS"},{"parameters":{"assignments":{"assignments":[{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"MAC:5511952715444","type":"string"}]},"options":{}},"id":"b7f942cb-3abf-4323-84e6-177a0e16e0c3","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,896]},{"parameters":{"description":"Objetivo: retornar a reserva atual em aberto do contato.","workflowId":{"__rl":true,"value":"VyufsUFec5hyMHTh","mode":"list","cachedResultUrl":"/workflow/VyufsUFec5hyMHTh","cachedResultName":"[MAC] buscar_reserva_em_aberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["contato_id"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,512],"id":"4de14e89-18f6-479c-9251-5dca1eba4f90","name":"buscar_reserva_em_aberto"},{"parameters":{"description":"Objetivo: criar nova reserva na aba reservas.","workflowId":{"__rl":true,"value":"mWVta9ikFzxw5bWb","mode":"list","cachedResultUrl":"/workflow/mWVta9ikFzxw5bWb","cachedResultName":"[MAC] registrar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"origem":"={{ $fromAI('origem', ``, 'string') }}","destino":"={{ $fromAI('destino', ``, 'string') }}","data_hora":"={{ $fromAI('data_hora', ``, 'string') }}","status":"f460a703","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5936,656],"id":"d25939a1-9b9d-42dc-a891-a6ba8f54258e","name":"registrar_reserva"},{"parameters":{"description":"Objetivo: atualizar uma reserva existente.","workflowId":{"__rl":true,"value":"uPYDEsWAd8hYluOP","mode":"list","cachedResultUrl":"/workflow/uPYDEsWAd8hYluOP","cachedResultName":"[MAC] alterar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"alteracoes":"={{ $fromAI('alteracoes', ``, 'JSON') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"alteracoes","displayName":"alteracoes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6016,512],"id":"dca1c8e4-f0f8-414c-9f26-ef09a86a147e","name":"alterar_reserva"},{"parameters":{"description":"Objetivo: alterar o status da reserva para CANCELADA (ID = 7bbdf177).","workflowId":{"__rl":true,"value":"p7hwOcBRVIZ6D2kC","mode":"list","cachedResultName":"[MAC] cancelar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reserva_id":"={{ $fromAI('reserva_id', ``, 'string') }}"},"matchingColumns":["reserva_id"],"schema":[{"id":"reserva_id","displayName":"reserva_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6144,640],"id":"6d845e4c-c87d-456c-9aec-e3d77b50175a","name":"cancelar_reserva"},{"parameters":{"description":"Objetivo: retornar o destino mais frequente do cliente.","workflowId":{"__rl":true,"value":"zi8F3SI5hkRN9TW7","mode":"list","cachedResultName":"[MAC] sugerir_destino_preferido"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contato_id":"={{ $fromAI('contato_id', ``, 'string') }}"},"matchingColumns":["contato_id"],"schema":[{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6192,368],"id":"aa10dc9a-516b-4b1e-a052-417e94085d10","name":"sugerir_destino_preferido"},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.numAlerta }}\",\n  \"text\": \"[MAC] Alerta: nova mensagem do contato {{ $('normalizacao').item.json.telefone }}\"\n}\n","options":{}},"id":"f3e51310-46e6-482a-ae66-fe5506e20c90","name":"Enviar Mensagem WhatsApp Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8208,112],"continueOnFail":true},{"parameters":{"operation":"get","propertyName":"=alerta","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7328,272],"id":"4301236b-b764-4db5-8c6a-a10dfd2c9b4b","name":"Redis1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efc9dd9d-2ebc-4f47-8fe7-64a557dc451c","leftValue":"={{ $json.alerta }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"4e327ce1-a3b9-4e51-8ab5-1d2febd2989c","leftValue":"={{ $json.alerta }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7584,224],"id":"485f4106-6d70-4bdd-a6c6-8f8554733693","name":"If2"},{"parameters":{"operation":"set","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","value":"true","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7856,112],"id":"e0a08af8-5a47-4e2e-b43b-39ba811a521f","name":"Redis2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,816],"id":"c35cbada-2a6a-4fc6-8b43-1ec54865cce6","name":"DELETE","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,1152],"id":"989849f3-53cc-47a7-85cc-b0d02e3bfcce","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"a82c847e-cded-4c9a-b5e1-3c364f4f5cea","name":"TELEFONE","value":"5511947471209","type":"string"},{"id":"c1fb9df8-7812-4536-a49c-cd7db4edc088","name":"TELEFONE2","value":"5511952715444","type":"string"},{"id":"8f484262-903f-4a02-b0df-517b0cea42b3","name":"TELEFONE3","value":"5511987261353","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1088],"id":"ae4d4ae6-2020-4c37-8e5b-6703d4c8ed68","name":"Edit Fields2"},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE2 }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[96,976],"id":"cbfe1ba6-b337-47a2-88e2-d575796e136a","name":"DELETE1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE3 }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,1136],"id":"fc9c0786-e4fb-4fd5-845c-d2e08d386283","name":"DELETE2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('normalizacao').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6816,288],"id":"83ac7a19-4a3a-4cd0-bfd2-b1e291875aed","name":"GET_CLIENTE","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"ultimo_evento_em":"={{ $now }}","status":"06a0701d","id":"={{ $('GET_CLIENTE').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[8048,112],"id":"6f330bb1-5ae1-4ef7-b45b-c0c24d3bcc89","name":"Update row in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7600,432],"id":"7d189040-2a81-48d0-9fe6-845c82c46975","name":"DELETE6","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20a2e404-483e-4553-ae17-8f0a3b964c22","leftValue":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}},{"id":"4abe6304-5ab8-4011-bf29-00c7b44fee18","leftValue":"={{ $json.exclusao }}","rightValue":"={{ $('input evolution').item.json.body.data.key.remoteJid.split(\"@\")[0] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1168,368],"id":"663818b3-4a87-4fcb-a8ca-39994479b75e","name":"GRUPO_MOTO_EXCLUSAO"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}","status":"503776da"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4688,96],"id":"eca36ce2-b44a-4ce8-961c-28ce18c54e91","name":"CONTATO_EM_ATENDIMENTO","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.id }}","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $now }}","telefone":"={{ $('normalizacao').first().json.telefone }}","direcao":"atendente"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4896,96],"id":"950f2f64-2f48-4c8f-bbf0-bcac30da0afd","name":"SALVAR_MENSAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.id }}","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $now }}","telefone":"={{ $('normalizacao').first().json.telefone }}","direcao":"cliente"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,624],"id":"5492454a-f189-43ed-aa46-71b65afd25db","name":"SALVAR_MENSAGEM1","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('normalizacao').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4816,592],"id":"a2666fd4-c6e6-428e-a421-8e0ebda87c08","name":"GET_CLIENTE1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8b13e93e-1895-435a-903e-116b91aa0c03","name":"mensagem","value":"={{ $('Code').item.json.mensagem }}","type":"string"},{"id":"88358e20-d8e1-459e-b1f3-87ece26dfde3","name":"telefone","value":"={{ $('Code').item.json.telefone }}","type":"string"},{"id":"dd96561f-0b2e-4c76-81b1-cc86ec1243ad","name":"sessionId","value":"={{ $('Code').item.json.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,320],"id":"33d07db0-531b-4f93-bc9f-783178926107","name":"MSG"},{"parameters":{"content":"## Salva MSGs\n","height":255,"width":745,"color":4},"id":"86d357a3-fce9-4169-9758-b26036a913e5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6752,240]},{"parameters":{"content":"## Alerta\n","height":255,"width":745,"color":4},"id":"e9f79940-6da0-410a-8de3-2ed1947b77a9","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7760,64]},{"parameters":{"operation":"get","propertyName":"exclusao","key":"=MAC:EXCLUSAO","options":{}},"id":"381bd70d-11dc-4ad7-8e59-9a05ae7db5c6","name":"Get Block Chat Id1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[896,368],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + $('input evolution').item.json.body.date_time.toDateTime() }}","contato_id":"={{ $json.id }}","direcao":"cliente","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $('input evolution').item.json.body.date_time }}","telefone":"={{ $('normalizacao').first().json.telefone }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6992,272],"id":"35d8725e-d146-46e1-9bb3-4923391bacb0","name":"MSG_CLIENTE","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.contato_id }}","direcao":"agente","conteudo":"={{ $('AI Agent').item.json.output }}","ts":"={{ $('input evolution').item.json.body.date_time }}","telefone":"={{ $('normalizacao').first().json.telefone }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7168,272],"id":"2569de8b-a7f7-4aa8-b9d8-7f7cdd34d4a8","name":"MSG_AGENTE","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"Filtra Webhook":{"main":[[{"node":"Lista Mensagens1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mensagem de Audio":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Credenciais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Texto Web":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Filta Msg App":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Lista Mensagens1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extrair Dados":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo1","type":"main","index":0}]]},"Converter Arquivo1":{"main":[[{"node":"Extrair Dados","type":"main","index":0}]]},"ElevenLabs1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"sendWhatsAppAudio1","type":"main","index":0}]]},"If":{"main":[[{"node":"ElevenLabs1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"Credenciais","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"input evolution":{"main":[[{"node":"NUMEROS ACEITOS","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"MSG","type":"main","index":0}],[{"node":"GET_CLIENTE1","type":"main","index":0}],[{"node":"GET_CLIENTE1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem de Audio","type":"main","index":0}],[{"node":"Texto Web","type":"main","index":0}],[{"node":"Filta Msg App","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead6","type":"main","index":0}]]},"buscar_contato_por_telefone":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"atualizar_status_atendimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_contato":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"NUMEROS ACEITOS":{"main":[[{"node":"Get Block Chat Id1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"buscar_reserva_em_aberto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"registrar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"alterar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"sugerir_destino_preferido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar Mensagem WhatsApp Lead6":{"main":[[{"node":"GET_CLIENTE","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If2","type":"main","index":0},{"node":"DELETE6","type":"main","index":0}]]},"If2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Block AI":{"main":[[{"node":"CONTATO_EM_ATENDIMENTO","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"DELETE","type":"main","index":0},{"node":"DELETE1","type":"main","index":0},{"node":"DELETE2","type":"main","index":0}]]},"GET_CLIENTE":{"main":[[{"node":"MSG_CLIENTE","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead","type":"main","index":0}]]},"GRUPO_MOTO_EXCLUSAO":{"main":[[],[{"node":"normalizacao","type":"main","index":0}]]},"CONTATO_EM_ATENDIMENTO":{"main":[[{"node":"SALVAR_MENSAGEM","type":"main","index":0}]]},"GET_CLIENTE1":{"main":[[{"node":"SALVAR_MENSAGEM1","type":"main","index":0}]]},"MSG":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Block Chat Id1":{"main":[[{"node":"GRUPO_MOTO_EXCLUSAO","type":"main","index":0}]]},"MSG_CLIENTE":{"main":[[{"node":"MSG_AGENTE","type":"main","index":0}]]},"MSG_AGENTE":{"main":[[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"input evolution":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.10.0","content-length":"24531","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"MAC","data":{"key":{"remoteJid":"5511976885630‬@s.whatsapp.net","fromMe":true,"id":"2A9860B0DE8FCA8C5135"},"pushName":"Mac Executivo","status":"SERVER_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/561075660_1493907068743035_5457252356505948906_n.enc?ccb=11-4&oh=01_Q5Aa3QHCXGsEIj0-FwFvGcQeQHl-7DmR1MeqfOpBAVIxhXoHJA&oe=697C9064&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"KezqDp9iZW3PU6KI20dHCEnLRSZysFXajP7b9+adiWM=","fileLength":"17075","seconds":6,"ptt":true,"mediaKey":"tKak5Q5orXnP2hRnY3o9sRuxo+aY/liWIpsK5Ta+w28=","fileEncSha256":"29v8kRubtaMOTVGQaPB6MZLC4UIUcvThVdXKTkIfE74=","directPath":"/v/t62.7117-24/561075660_1493907068743035_5457252356505948906_n.enc?ccb=11-4&oh=01_Q5Aa3QHCXGsEIj0-FwFvGcQeQHl-7DmR1MeqfOpBAVIxhXoHJA&oe=697C9064&_nc_sid=5e03e0","mediaKeyTimestamp":"1767191200","contextInfo":{"expiration":7776000,"ephemeralSettingTimestamp":"1764692481","disappearingMode":{"initiator":"INITIATED_BY_ME","trigger":"ACCOUNT_SETTING","initiatedByMe":true}},"streamingSidecar":"SIky2VGkku/A+w==","waveform":"AAsQGDBSZGNhV1ZkZGRfUV1kZGRkVz5EPDlLOCgqXVZQUUlHPCIgNEUpGzRkZGRkZGRdVlY9QEwxOEhXPCkiLA=="},"base64":"T2dnUwACAAAAAAAAAABkAAAAAAAAADI5MFABE09wdXNIZWFkAQE4AYA+AAAAAABPZ2dTAAAAAAAAAAAAAGQAAAABAAAAWxHrFgEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAAuFIBAAAAAABkAAAAAgAAAHRZ8Rwc8/8S/w//I/89/w//OP8Z/wv+/z//KP81/zb/LkuGByUxLTIL5ME27MWAgCQZFcKK5vNIFwKa92zp1e2/CpHBZGcNknJnXwegVD7e0MQTCI2MdroAGWgNKkdY7OxeD4DTRzOQz+yRINxNjOGfk/6gvzXnnN9HlYYdnx70eCNUKBCNZ51qbwdhpbAUgcsgdxun6zL849vntJUKbzR7dp5K6+71e0bNYpEPei4YPKCNAssBuOY8JlJslROcuCWyKVS3UoR/66vFh0q+j1cWjIZRAnTZJpdKwIx7Yl5tRI19Eo3Crx7N7y1173p5UqiiQ553NmbYxcsQqKIxtHN8q8ca08zC07tddLI/Pwqc0YC3hEuGKi4pLTCOoRw02vZ3hoNlmxHMl70Pke0y7oEyK8w6s0UbILTtI7wh4dXkXUIH4XeOpB54WTmj8s9zpk+QHpn725n00rEnJLca3KLGy6hucWv93JmhzFjayZLJo5tgjqgtavrtKXftWCgOukgYMAx/TJjvfhi5nTneOCx4/G9s/lh/+iueqICOHb7b/txDcd1+x0af8lnkVCK411A6hk/NJevVyXznt7MmLYwBTr5EaeHwZ+COHfU7Btn841tlHCqd8IS0m49Hb4wRnI8AIo9xwVr/Edu1vkrCMyzl7cJ5tailFSCOHjYYpSJOXlN6pFXNn8upM5/Huf9XEzZciJ+cSUyECwFpm7ZwMc5w8JDVMkuGMSgpKS+lLJ2Fiardk8UvKDuZYTnlFNWNMx9XnwbiIsKFK45LcWcrVr3XXpzM9ColHhe09e+sjh42X7b46e9thFsQhh0VckDLndA2s5deB2wiXJyiQCI6cVhNp0lOLoJ1AKa476MnAKhEotaKmAuXHnvmimfn7EOOoTWyYL88EnZ/l6SxN7QkgmdIFs64N5YOgr+NtmGqUQth90J3hJMAQel5pNOIcO4OAW7aH/DgyK2M8iRmU5WoBE3ejqFKG0Has1vvrDNfD9pf7q95px13B5uWv+bjKaAuMK+3tzZfRIyTZafMtKfG9JZ54Xe+zhNf7ItO920JQ9VYAVnwybG+ngHXk6ITIo4Z4TNmoEuGMS8sKjCNEr9EtvviPS+/yO3kWDJgaKfY02vOpcn8xJ+4YL/wRaIm4UwfajcU4REV6jdldSEngoKEd8eGWf++cPsi3yHsKiMcvJRKvSdpQLbw5B5+fBfnBPO0Gt03HryrcuDjtECNjSXm2CuTyk7g5UwZym8eLYnlwO03Ls1/w9+wq5g4tJaGoV1O79rKUJo9oI2NUS4rew6/6QyaxvjEQirgpJpt/kqdHFOgv9A+F0if6ayVFZKgbN2fPI2UPKDBgjSIA/mq3Ra6jdSAnh8X8476Nw57aPy6KYPLj609JoDC60WL8jYn7TxAJI2pI0vaW+vfDhAa8+UDkAx0FWJWf8Xfue5S9AQuCE/WlGst1C7396kaywD6PkQzwAwMwcbIS4YxKTY5NY6/VM1ZYpkBuRql/pwDFDBJPys43CqSGRyoVid3VKXvymsey3u691GLuij3QHPS+OSPMI3WhwwVLCxNJa72rplZFg6Po2IZFaTWFxuYphiDxERo5R2taVrtIKgxQxM3szalHq0xOR7N92gs2Ii7nua55CgbB8X1AqESSpqNQayEhRK2PJxH/mazuwe4AmiPgLMxmt6/X8AUk5Q2i/09PXnhn9Donn84YPdKviAqbtxo4cKeF9SuZMkJvGFTSo962x1g95M3EbPZHrB6hmmblGwzZY7HRhJ/L73C0riQUy3w3ft84LDUFGBeaqiwL1nhzxxOx+7Y2uYyQemSwPPAsltF2qtHqFA1aGgXdDXcswCZSjxHFY9ukKqoBBBYtU9wrKY4+OY+d2AyIbws/ADZnHyVdd/xWEuGIDcyOSG1AOKAh+Il2p3VQs/eQoC/wwx2XDkBIx+slogayJUfsbMR+mFJLkUJxl1cj40VPL1KMvKAnSR5o1n6L4U9mH5IP63pYJLbwHfOLEKvFEMfU56AA/8HcYms8St/lHVybuUadab1Y1DQk1OUTuHr94z72D2v6isoIoqRxI85pmS1mVSdGNJ+IuXagLDmAARMboChEUmFiQ1V6RTEgWIcJ5ggzX2Z8f6WrH8RGqAevlzxAv5jLkRIiVMnj5kaKL6T3Y/+crGDH0Hl3GOx/nMm6VeVk4L4qZNwPaldQNh4eGcwikxKOLIJ2mFCZ1EwW5UOPtDJYE3c+YUua19TR1TiBcTS6J1uge9PwEuGKTQ4NzKzo0wCLpClBM+4CAShf69bcGZQsuW4QfSCqTbCY5td/po/Wp5nDQeFgLF0QpNduwNsGLZThpMhFyfZcDU6t4eQoJ/t+UG9VBnojefVeInHcHWNPvQZUwi9Cw8kw76s6Aon5sR9vNRatSOZ1eKCIyE6rc1tKCT8cBdt6GeDx9rpSmbryt+ZLjWWNnTkurPLMm+bp9VceK4kScl9dIqTJEEQ+jpClVOIiftRu3aBHoNpUZlDC3fl1yQjx8N5IfBl8MJ1E0xW/e4sVjx0yrys8MepO9zN0XVShPc/gVXbuIbX6F2V4SuatZPLIXExRoZdFIHqP5icgvPo09HORT6LwKxyz/8fvG6VuKsJ8JRQjq9PYPTjLzFk3MvT+Ktp2WWyQe/5Gnu15LqCV6Xo21+b9WzgS4YzLy0hMatgR+xNlGRVQci0ZIQS0K9HFzoZ3FPOlAZSkWXos6b9v54FGLbviUW3/IUug3ug1q+0ZK2BPNmwuWNI6Q2eeGwynrXmjfWQ4E/gn6Cp/XrsSmGdqU7lRoh4MljnSh0VWFDQsEMh2UJJlaVNx1sDEzHZtfJixwGCq+TSgUWwfpb9nJ0phNrdquVzg0QuAd/AsA1hppuQ3HFQ+UPamQHgp3wID1qoPPT4KM6Ktt8AZt2YrnvDIB1z1cwEhpVzWyCrGGaKkkhmOmB2Kwb+XCsksN7hKZJgzGJCMsF38jIqQzyIgIOLa2dEHP9m+gN0d9h3xKnq4YXmvUrg/8lyiJexfwAuwozLXKJ+slwfbz0g3cG9bEuGMygoKTCuxyzrrXe5HBZy/fCxmRdtZIs0IRguofyy6CuF1YPgFq5V0rBv7tRtUyQ0Hd2aSKkGC4CwNSHUhI+YBhK//3Fb8eM/J3IftHxJKYhs+znBNMAk/72gedDkuL5Arp+bE2P62QJ0Ari4vqrk6oBffxjAUD3xV4+WYXRJuaYyK8ZJZsjOfbG6m3oHC8tw4VdF6I8UxuVezrNgchjGNQST315TwWiMFgH9LJ75ZorwrEWs9WFS6rtyiuX5UZPmB6/H9TbJnKT01LF2emvY5q7QSkG2+J9NJFKJL3inMVIYOwrieAsG3S4WJccp0Y8MgVItRQgwkBThViFC9OLu3yDf3OOlvuOAS4YpICkjKjgUCnnbjS06nQq0LFMJ2rddgNC/ILIQ7piIlJ4fIYc4dicrDL98zrGABfd8bLgSSb6TyffFiIH52/LVO6Dl4TKhDB5qkl8nH9o4xh6WB2LhTpUmSzVoU/9yDEX93vnExqr/TAuJAxORGIkkpQD+20ddgDdL3F4+7+UGHphgPtGfo1Mh3f/igsHWDRZrgs0ZmQ2YP9tAN1sO/ep9N4uGiU2WWKoeFdxRG/7toTfBm0WumukKECT0gLIwVqG/r6SAoIRokyYjXSv6IOxJH6efheAf6eL5i8bfDSO1L/Ga+Feku0FUXEbm0INDrJoOT8B0Vbomt+k/poBLhjM2LzMwsEW1rkShG9CvjwMg3CWR478r8qSUl3wsQn1tVOdzgXF7WKOL7HVbS32qHZfV91eUxUdcsk5auzGGSx2Oyh1ZvhemgC6/tYf2iaKgq8YoPw7OK+xdc3q9DyX8C+mS5Jqzw6MqlsCKHA+ws2ypfnIj1/DGhZWpGsxVqnweGCj/DANcTyEKNpFHKiuJvzlFoXEyGLMP9sSPGryvvqJq+ch1z1p0lE17ktEuuCvzNsPkzc7f1q5NIp3gFDYw+yOdZyhczlCl4TO5gboUE7++hT6/k10V7Afvz7H+k1K6OFCGPn9XTUgnHMIpO7FwzRGtcjC4aOgaMisdChivC+CEY4LzTUIw9WFWoHajPJre4UZoaQit14rZ2jI7g7OZgwWTYputKJu4yXRbyybPZ+hDsaYHg+26bfbfR4BLhjA2KCkxg8oDzfyDZu2zta44oPN2rfscCV7ZjigRkgRKG/sJnPJEvw40NYX8VWXaSVQRLXLgtg9eTVVD9GBm5iUMAcKZqToES5aBucrACkCj/ZOPIZcjcosSCnVtdU8EQtG5uqn3zAE7eQcQtealFgierU+6bKGs8zJsbNW2uR5+wvRF+KjRTsS+bvyoeYdcWw3w27T/bROAUxZqYFbAD2yNOsgZNX9I1bkuX49NE+C6GqexOC4aXepX26c6s8Il9D6/+WeAnTIO01vuj6B6ffdJ3BtKObgOrsO9WO7623yjrDTo0hjO3QfKJHm5gLMGqIhnuFekP2l/Ctu2uOifkdsUU2B81okEIkf7a9R5cYQmzoSwkvu7hVEHgy6t4lXrfJz+hvyrS4YzNzYsMKdG7Vct+lTz36+XxkUlVT6GZyViScOYG9ToHONuAHAEI1J1sYXDqEFhy8boqHHWjJ7YgIKqh3NJC+Tyr4pljMapvuWLH1hmdIluDRruO16IifxX0z4D0HTlHA7mgrSq7mShqDTkA9toakCqKzAUZAYn+jHdR0XT/nvmQFZLfPJElnp1QoC7mHdQ31a2xUU1IKRYPDi2gSdORqQKvxWTfaCq9NM74QmhCb+q7s8udIU4V3aO81uKmYA6oY+RjR2a5IzL13wxj1+gcFkdQKfY+EhZ6hDOP/m7R4Tskue+wz1/55oPnDjUEa1yEckbc9uu3JMELaiOml61oz+Odqht7DemIipQDfRv+6xmfPhngieEjiJJoUjHTwpajPDHncpRro6gEwDWgtIr/VdWouFLhjkzLSw0rTrRZeEVe/aVYu5WqjFNEcy+DgXcum1FZN2Ifo73fFnJiFwHstzYOHGd0zvK3tLFGRtC05lJlnOssFt1MZIW80H2Hc5vWANzNXMhdPwEtarJd3n2O1lTbriENEC+zh0EGlkp6AXdJdzPmwzAr6vQR/YwiyWyX3vL5yjaNroXmIyXuaL8FfeUBqik7Uopc1STHUejELJEohpEqV67hGQ4EP1D+xXO8CZ/e/ik794Yw9FX8zg0tkGsGlqPxeKvB8b12kUTv+OnUw6ibi06hcM2s33X6pivpFwMhDZavDDqzovv72Yp2DLoWXxhap1CXZpjqSmtG4jxGE1AvmmvBs/5BAR3bLQoLXCJA9gX7jdTK6v1lyN/goCFmhWYA/gn//33w9kkl3K7WVj/W3Spx3pLhjU1Ly8svmEbnGIqyyA8TIaPXU3cseRDTgRO8xBXR6dMcOb4731NuUbuRM7ttWtK5ut3FB2K6/pHbAW+cHk53mycS6rm05gwsfWIonvgqxzLlAh2Y7U+uX+21icabM/ZZzIBYASLmYpcXP31k67aII86vHQDGCQ1P3XUcHJBnYprkH/G032mOPBGD9uhZTFp4AbCOBaSMGBtQIWbzbvJj0tGtX9crTZlNE6FmoVrru7sUnS20lMeB6w3Dz9E3gbWQfCNPxbcZp8hj2NHVLCQO/zc57NDQiVHs7NmxqCbYmCDrSWsIOEBb3h5Q0ZN1W/43sR0JXoj1gKhQINsZnj3dYqVlzZpOOBnR+sRkHnkajCMS4NENRh818fyYpGqK1fTKll1awxv2ZXLcCu4T2dnUwAAOKQCAAAAAABkAAAAAwAAAAyOizAe/xb/CP8o/zH/Ev8X/wr/I/89/wr/Kf8O/wX/NP81S4Y0MyomKbCiRRGvdK8jm4Co+Zo1WGgFK8bRWXOHt7fYKSPH62RteToOqcvHId7KCFi2qa73YaWNwKm5wW8oTWZYp/Q/CYXO7basDYYcFNo25kDBivvGiYuwzpnsqe/PGgoHP/WUs3hfg9ZBj2y787srmQJfodmaIUrWcjEX5Mc4wsGrtM6Rb+DyZjYZjYJyBY9/gYtPvWC5VnqMDgb9+Y69sm/uLGk8iZ4jheT2gCe2s6P3gVqluet5zSmJzriY11GyrJZDnbhyVZt7mgiBB4E/wxY8JLBmnYbgIfe2nJjC314qsoGltNIv0Qya9hC6I2QdBrzM9/3yPkk1ctqv518N8OBBZcFmlhMLroLaoMSYpBHiaEuGMy4jIy6yL6ZZn/TCrg2KjEYXUDNxC2dLdq9eFzPoqypJ5jRNWFtZ7JnjDhfCebyPelea8EK3hoC1JaFtnLkBSC2hCFQrGM9SJzPt4VNMG1DwJxRG1gnmN+2rAXwkqUOlMzTqIAnZtemYhng06MP7my4LJTWmcFsJGSrQcietuMTAF+k+k7d5Wza1BkbfqZyYzb2Hw66mARws8uQDf3AzxA78N/vYvnkPvvAxwLUeRF3ZRc43jlyrA/9932PUq2fsBwRrX5ucQLpQnzBxLeux31pfNJR2hc6SMkm1CxTTyu/YtBSmtxeZYcZ/MOEO984vcp1GJbc8GnYK9vQtpOwJ6z1vb9ewS4YzMywtLbTrqxKvjAkFO9gSCht1NCnlaicc7wYSwCYZrYH8AM8xbSGwJtjPZqhCmI9Kas6QcqCPYJJZZsJIY9KyGwapzV0AmtcL7ajTXZ1G02VDnnBrfuz9f5BHeKZ9pesX8UClOMzHGB7rQJDfHxE9T4MHqU8P21RSSW1/KKP9Ee6saD5kDkugqV3BGmcqxPEagSqJZGqwkOjNR6oKmB3jsv20yd4Av/AWlUWiG2uBczTM/FBmvsnsP6OD4437jO46pD2AkjcUjFz9/GnOuP0/sw4hu76CCvKfuY3+5KALcEKwa+k1bYw1bfKd53jGnSSAuBJ81kEhV8IYmaOMs6zaFF2+/C4KFxL4zipxaAnuvg8KL44qNYNdpKbC9OW/h+mR11dYsUuGLys0Lje4ucrv6NsZ/ypjmlkFLT1DlD/zM/M/uz5WJ3O//lYPRzCbLnJU0c9N7jlbnceKDLhuaAPN0RYyOGIceTG/LBbhvXsHxxJ2e99Bvkw4wHvUzVLqpAvGiExbf4C3g3ADuK7jAHaYoW6h8gEmp8I1QPRRp26+wYAVrvtrYU9JdmAETKX8ODbmZG8UoT8w17oftO5foSBMrjXvN0Ez9wTlIx6GaZzuYrpW2GpUJZgzNzlKiEpc+GMSG3pFiD9iBLIsmf8aGdZauAi6s8l+qheZA8D6YlhMl9dk9JTgMrHBH3gVDqQhc6ru9emP/LH2L8uLDqHmmiCz/w6Il8VbDF790L268ZRvCQ4a+3RIB7e9gBVu17cBeuKWapuZl5UfoR+S4dLb72TWtgUsjlxLhjgvKCgptWsL7i99V0fIW1R2buCXOMB5d5TXUQ3FBRVrBhmPh17/KNyLiiN5ng1LdAQdUulqujkXztAmhyi2R8stjCHthLIJ19qmS13Qey7c0WSl8E9asarVtp72iPjD2lTI14gZ8GbRQgR8tLaHrlZbXj2hZWyDcZxK3CCkWYyzc5zCO/2HLGr+nz8jiaD8GQzZzCOQJ+x5xyzxbB/mOiE6diE6LCheqaxk/YYOofGX/muo/7StKN7AguWXgy+Tm/0ortBSUdwxQckNUnE4pwkOkZdlkEk1SIdVTAaETOmpyfix/LiDutlIAj9QUt0ZkFLm3xXvFjvcupiJ83LH1jILgo/wZ+mteBiiY8EOxdVLhjQyKiktsgbMSFC0hHfpk5eA3zMso9JwkuH7fgMelRFW0SqExsrqc0Jvudrvm5/kRIZoMSsGxThxGb8SEbe79NXz+8ZJKgxfk7QEpjQ2R8nQst099hO/zaQjwgL+5AKEdlDZtwzCTl0M+Zsmj8bpv6uGNI6dPI14SoxeiBr2fxckG2rVnve9Fk2ygbwwWyNwlYdnAtLwj8vgr9Ba4ymXflbo/fjjmDg/P0BQ+N75NeQ/LrtgEqOdcXj+LcCuSQWP4IMCdFeX0uD9HjcUA2AX/344s39rYflQdSbpX1vLSiqpt895hjkVSB0GUkCSwSWVZt+qLJDjn6pwPVjqoTh9do2GX6VnsKJUj3njlnmBKuWa1isggEuGKCoqLSmTpwAim5L5Vhj/FzNxc6U5DNHzaVLTiaKEXhVZGjoAKGe8VPDoR69gk6cTPw6ZFtLgH70rkpInv66qlBhOb/vSvztlQvRSTkdtlXUrO5XTxS0gku7TQJ+yYTcIHpH/ucFvIRWMELGOwkI8mPBLf4S52ulEgyp4LG58cLlkkRV9kQDDXXqV6hoswMCSveTX1ZcIG4IfmbISDO4GWQd7lYjmq1Lb7J42oMREsbv9hT3vJ6Z/vg7Hf+/CmgUuVri+QOoB0ZhhMg6ZGQS2zUBYO5vw1MCsfaFSfYl+tWrvS6FqXiFLh8W/RrBnLHrGNEIbKXJYKc+L0znvgh1tC54CheWrh4BLhjAnLC80rHGkSZ86RLRc9XPBfctBAbw7eA7eSD+QtwGuIiSO0E3qIEeLdsiUAfSmZO93raqDrN1Xqb50cKq45lQh+RFTTZv99cziuXW8G+Tiz7aYt1DHrw1efa3grN1jhNkpeGRjV72TvbZBstckCuI+xBOTeQ3h33uifSUBm4LJxV25GPQ9fYCsro2v9CGkxrX0QcCUO9CUetkSkkBjn+6muh1rq62lthFyq+ayStJr21g7XD1D0KuPDmm1GXDGhimKbWhezhYWiCq2hRLeBWCEdpyUonkt9kcbbLzEK8DV3rXAThwVAp4bjfauHIyicDC4RsGtRI+e6k1KvUOhXzoe5liIlB2gw+VKivcJUut6Qbt19xD/7pSIl1cejQSfYEuGOTMvNTK/HTL3Ig8ZY4L5WhH/gw5nvcG79vi4Yq3RWQjPk2omyZWjjtNYHcLOMB/GIHMXvxlse5d0nuF9kuCuds4jYqW2GhNohVPs8AjPXiN+6pFJFEVmpPCciur6ueMIsmuXZ/ZP3FjyIhN6OK4KBySs/dY+uMZVW0hapnyDK+eFfA0pE6cR02rX/v7kFASevzkDzGmpRLYotcMaHI8vgKxKsn0d2byspQrGxGBH+oA1M6Nug5exA+SIwJQeYiZd6+2j4fPEmBsrDtJGx/nPpk/ka+Tgq+TYKpGYliL7r3PvFD4U9ZXBnEHd+by6tjAfW/NyeohJZam7Jz1FeCwIFlLuEjEBmiCz2odDXl+AYZzFPlYsi1eHNY6IqMmy50KQ/5YNp/91dECjFMUrQMtsfaAyzdZCKGcuMYBLhiUqMiwqtdpHmZwXX/KyJ4MW2YFvhl6ugmU/XkX6AbXwEBMlH3CvuN+tD7Nu6hAO3i8/Vi4bpEnJlhXWS9g1hXKUO2ym/6M9UCIq2/oEUF+QF9PEWKqwIlX697QeliQyTMWU91z6jSjXPmyIVDZkvaExzYvMTlXUjawpnNkYjkJfKui7vzl4PHHTHaN2IZ0dYtWof0ZRgwtiGIztIZQ80MJHlTYa4NRqROw83WlkzkqLNpCP9kfqIvoQIQ5LqRYXihVWhqclCzy6Q4OaVJbgM+l4qkkhoj9Jnm/pwEiSM7uwhLpqJ0mpzR6butDC98MenoU9+FOBgxz3kDUO8ofX8ChEithXF/oYS4YxKi0xNZQiPz1W+XYBuf6FUi/Hxz4fwK7RbyhnP3I5GeFpEpzp94qlHkaY/FMeBlMRbX716VWEyPjEptB45Jlw76BxTrctZf4JhP7sxg923EZT4xumV+kONnMTsWmsXqCR6iFt/CDJBbtTzaItuJwVBfd6mkyPbq/6XJojag2AxYCHh7B6GvYhtoYFxNCsbQWAqGkwis2anRg+j1edKOGD0ifok4Ppb4gXUb3AhBCKzjZmyl8srEMzGDWPyD6MrNOOk+jcPj3yAO3xN6TJ5Rnn4jTW9eJkZI/rHBl5Q7kCYUXYiENxowXbF7oTMWDq3IbJEjmtANH1pt8i0OICA71E6HQoxcUQKJENph/NEdd46yuOwkA8R7jwSyde54jWmHXdEEp8EHxLhi8oKyorrM37etLqMU6doWJa7fWclF6Oey1ESbmwxFuRi9sB6ONrvVeQE3gmz/9be/fDZU+QT1PrYz6bhMD5Kfd8+LeeOuA+Z2/qQ9CA+yBUT43eLLQbmR74Of/8kXTJY4FxAjlMqt4rOZiREzoWJ5nZs2vZbpoLFGm+UDYwwbbTMahJJwgo0JIwMU1UWBn84RBAsEphfN/3mGPlxCA4SzJWXHnkLG/haAy5oGavdgAxvpKTzfZoZ6cZA3tx3UbXutvjOk5MUL0l+a2kzkzPVKRW7bAepIH573/meyCSnbU6epGcK7Uf7U3wc8QPJG4YSjSMKDMvMgEqHJcBRseNc3tnrnrOTPiORrab00uGJyMpMiqTIy3kGB0vmjMdWMGKafgb2ETNm6/3FV1Rgky9okOsC3Xol4h66cCS78iRxiNxCKizKzVPsWfTalXiQgi6vhv8ZLjfOD0EJfuMIJFKKw2dVsU8ykF3XY7OzRWZj1aX8fXczXyKEwY0oTpdDmA/FxpqPi/Nrn2jPtKVe1R52ZaiUmzWiHv9IrExDtVm10MXqPHLgonFuO3ppflMRc/YXja1n+vV7EyrE1woKhK02h9WHXdUGkOJFR9Q6AtF3P7sAfp4cwmm+7CBQ6JnW57DBYCnzveyvWrNrx3TckpnFeduZCDdCZ74SoVnKbRo8wnpj7K7n4Bgahp7csApvO0FS4Y5NS0wMahqFMvKD2sconUPXFe4P2izsvy97R+lLAesYzB+/Qkf2C/GAkOWzwej5k64rupY03RDbcrDnLZ7ILJTtakKk9DA0TGxBq7vB3tz+BlpZF3upFp0zKGsM/JcsEuoVvJsNgqeU27pubB2cJtA8I3QtM08/elERTsAe5cxYiWzrPhCaGSjh42ny8s6BIQX1lDg2BytbhpEM/DfR3TJszhTqmd2U60+T3JKff1b9n2HPcF+l1LumjOqhbGveHJv/U0nwii/56Qiz5fEYZWpsBBb7dZOjK0AQ4V50uOKeAnAMHUzGHNNTJNF2JFJxHi77i7OQfB0Nqw/zM9bJeIPYK5UlU40bzAvQnphTpzA+IC17Mh/j2U46qwiLW2K/bOWT6B54ynR3jtNMIksXdePQEuGNCsxNjSqqxr3/0OgfMB79aEEKGwhj32alCIWsTWCyAt7Aqx3iU3Oksuyo4erHVMa/72UGYs2dBiAp0XKrwIH7xppIi5xkP1ZJD9fG4un7L9M8KsRil07HrMiNXxxG8pVDtuOwL5TBR1fR5KTXlbOl+fI/x0uhIyLtcxzcH9zgeATSkM8mVD882hleMxfrf1hpbinAuClFIlsisJBpKc7ntNvxvNbN33Iu4HByoQ0sDRbj/GkuxM6K5yH8+WYbW+5RKWC15mXw/5hIsCm0wcH1YH7HfnScu/A5sqIhB5dD/5VABIBg3G/7I6s6AAVmQeDQp+VE/wca1QXnA7nSttAq14/0kA/ZnIPLOCzNSvyENzKtqHskLJMJ6bdopRuEAzGffXJMFWJJ5E1lPWYv/W8riPRT2dnUwAAuPUDAAAAAABkAAAABAAAAIstWi4c/xT/G/85/wr/AP8W/yH/Cv3z/z7/L/8d/xv/KUuGMi4sJiqtgNW1vOfhuxjz4oFCq2v0OnlJwmQ7lpsetrkGqtAI7hWj8triWO1StYm6volNfCk1lLA+SMFbKH0XTmMUFIQ5DPRG6D9AbsZ+cxw34LbCfaIR+P7X3NhW19mBqaGm58Cw3UI9+nCCpQGJ0xwz5izyzr+HPNmbijRbxdLskxkR5mM/3mCiOOBsxSDt+LG+Q/xnR9h5BGJHh6+UFtRr0VfDWdxa5oIlKRM8dkti/8Xrx9VAr8KcoAj7bqmWPGKtiY0FuBuoVZMKxdoIiEDdYkg2LF0i1ePAuZ+ZGrxAqvPm9aHD5ntQ5qMzWZ/wFXOKDeehogtqGotzABIKMnRy/ilXmMtE5cOMWr3IHAuPS4YuMy0tK6spr0dQlh+oQMiuStLv0V/+HHEG7BpMKFhkF4OXTC+wphQRiMWCepYoG8pNKeCr1OAqTxgM19/FmIUGiPnVGrk6sdCAixOm4zbc7SVf430rUaotiDACEBhFwXIOp2G+BUSx9eKTnRFDkjdN+Jws2apXRsSuyqF7WgrmJggiwKrVN/2liXA/gWJvPTwIGdiyWlVb3Hl9nXZmD0jCb/YxbO2KFXS7QIdRkZjd6c/wnCA9fgKyptWKoqw9nAe00+dijRpyNXqL48PgfjsUL+m7OUGo1eAfK+/JbHY+rMIru5X7z/SlXByYtPEiPOagyyVA4w/Bh7XXXMjHv0mk6PgxwwjGSNjmf7EIFZ9xBjvmLGINqyTqS4YyMTQ0NLASD4PgfPJ4D+mIM+bJVwzbKzBPtqLSuj0ztXYgd5QakDr75nujAdbgUUq9OIugKK5grKoJhduElMJ+6vjKDwprXKWTEwRapfGZWKc/9UV3yixJqZ9jMsQgrCOCCLmhaiV00K0IV6Ugg3g3T/CqnjpGipJb1JPG5BxzZH4KAG38gHUaQ3qpUEEccoVJym9BgU8HXCuVUHe+/YqWdDIvY+iIRb2Sja1uZK/J/GdDjGj5KyUzstOkebM3KJrOAoFIIN7DzoLBEx/86jRArGmoet+vcdsOTPvH+idyOgA7+0N5em2hxcWCMuTnmhjkknkXU3toxLQlsJ6FST6+k1Ye0KvFk9ZLW+TWEJboHVRCDyZbVP7ddkjqA0RH4YTu6AfpcgnTL1lezBJ88ief5EVlJsbAS4YsKjAnKq0CH3dipPN3TUm9gKMI6cionVkdR9POd9nt3mjByWE2azQYVR3ATryB/8uArKx3NXtzWj0XI+ni/rlMbxpHsdPEvQc4n540X/8T7wxQgyCR2E/JA5KgrNObnXxru8TJJ2aZaxcvYensyuXISYYk/jwmOqoECYpV2UYetZfcE69RWkq3kGigkO6qo7Y9kGZh9Crv2b9N+rQNCs7cB6YAtfAQLwKNzdkedTEj8xAtkaQhAGZ1xJM8NXj8efTj6PWPpjfHkVfawUt2HHINkKCN+DjQF3jHxOaQksLgafa3H3fioZTTjj9LpnXU7que/S67zhwKZYeZrgnd6V2npzIWTk7OQEuGJygmITCTgL2If9Q0wKrCspfJc2aeY2kGP6unlmYeX6oUwCmnWXq9Vsw8bcCDqUtmj4jIXXy5VtLIAX1muOmuvqW5Dal49CFSASD+nwigtU5irOOAhC6+0SZ0An3Z/Er1GC7EnDKlEMAX5ColFgcNUFSnkPlJVbROr/iDVxLtKTm+VbcWm3Qzig0zeOpZFMfvZBr3khQkWEO2uMCDOx1ddhUDlg7QkEEZSiXQHH31nC+Itwis7X9x2a24K6l4XaGUcPWGH7cp6aeAHmyuJE6HnFZYRMV6SlfidNpCAmkSa510qWkX0rGZD/r8HiLLJBdobK3XGzbJVZGgXLJl8EuGOCQ0LSusxi2EYgFFSw8oi2neY33lN3Wg9V+RI/QFnxRUFj7IONIqsD6XYy9jQt81lVfu5JreuH1KXJewEDzEunD1cus4tO5eBGFJHdY2RKVW/AgPJDMrkAypoxFwAOCK1o/8d+YFQL0lgLma64otR4Nsiho3Mih2zWXIWoUeLCUlSnbczDBv2GxAmRe9tQdY1cm67XiVBwFI2jYvUlRUMUpKaASG3Xo38HKG1yVA4i5jyFkBIfpNdq1ehVa/TRdZINiU1ytYckcjB1zrF/fkuN2VzDhIYUdYGZlO/rX3/cqb0ySdZiprjcss8XgYk3sBUl6iLatRTEriJHS51HYmtxmodXdeNw9iOs/85B8z9gWrRepLhi0sMzUrrnm7DIgUWoicOre/DpKI5FF1picqOIjFs4lP07Iez14S+9XEJRTW6ary3TporPUfGIA0xTS59ANdLWPY8mYK/bR4DLAMAMkaoTRQega44ntALQbBl39+FoSsroIBxYmiF8jSYY+/ch6Ubil6kumfB+03+NJS+tnkyj/b5ZDMndLWsF8GKHberit6rXyriLM7G0C/j/ZrP+lZKhN8n1bC0htsJWwN2Atb+Xq28KnOqBCzzU9QmJF2VKmy3T+2uHO/QLPAiUsZWZ+JvzwDymgGbuiWdgblPalO7eS1rw0ZRkb3sRBjHWEWFyVp+e+zkgbWoVrxPbrQ1oWUP7LVX5EEknFV0CmGwuJvCUcxwJLvGZBGP3ZO3nbqx3BLhi00MCYkr9AHtXW5phjkYB2Gx0LULw8pfq8jeHW4Sp+T0KtahkswdilUvlhLnW+Gp3OYrpLxV4vpwVtOUUMcIqYMdJx1/mO671TFmvJ8JjrP/H35Xh/xiZblKNps+vebKTk6CD/t9q4Q6TEgcPGLp7VGsdRKnSLNds6kWnWiOx0//0S5mgqg++B98m/NF8istqFJjS1eHKlgn4TBfJ0JTiPf6ihyWCy8q9/Y2xwmUOpL50TMiqJuUCTYQNLgjyeZf2yQAEAlKbGE4c3ChEuBLTm3vj/yT5gCqJV288eIE8F+PDZYpQHKO1rJflfSrwMk3guoMPbtqDoCcS6hrc0ii2vOYF2Ab/SQS4YkLiwtJo6kUw2r3hAzw4bPKJIitf4tdM7xtUjCN8T5ZUhhWhzkmUTkCI6mD9U9EaTegwypPuigf+3y6zu1ZNh2As5huxSQHDG2NPyP9vfVsJ9hHvg+4iiOqN7F3XiN4pU3biXV8GBerWlP/DZviNzjfU1S4uRtGH6b403UdIX4C7foeI5+NbCVGLSqFiThercFNmY4awZHAQTs15qIZ/KaDu1FmKfM5bYMbm4T9UwOwDtcwDX6oa5PC4xDMmVuZ2XbAd/tnNKFPUrE8qbm+58i4CuCf3pAOxXUe9RuBivVs05vuRC1bCd/9xoVAWwDLFAvqkCY15M8L3ohCEuGJiwnJig5wWnTh45L5yoIU/m2v9ChMG0vq7G56FJnF1h0d903mmYu4e8MgDn9J9aeIm4HJvQVD/3JpQMF8tGu9KQ3imp/sN980ju3hTzQAuLvISrBu0XMOoXt89vj+HaQj9Y8A5FCy742CIWlgTeWvfov1GK7pRMpWTeBJpyoOkwyZCrgI+I8H2jtq6HPMQ3L8/x8oAW+wH8D3V7g258aoANHgo45tTBVSSVmGwi+sT0PhZJzofwTApmzwrxe15Bmkj1WHTzSqZyoIk1qBcnw112SvCGAIqP824JgWrarxa5rQsG3mt8cGKwtz2rKOpWEcEuGLTAtND+NxzixAlFcBGCSSsd88BrhpjpxHJd+ghzeGu1cLX9LqJr8HTahC7NaDgnIKDCOkllrgQ/VqFjcihvv9bdbvgZJqe3sn1hLXmAeOFNARaFOgPlPjv79+1E5LdlQaA6OIwsTuu30n+iXN75Zm9Ayp3RBfmiZuFQSNhTzODlRQviw6HyMx54DZvWDI1qCsZN+ShcNLkDZIIvEPxKImp1DEOJv1lVX1K0nNmKEW2CaECIa9UEcEuLYb1bvH56UCq4+rYd+Akym4LIf2HlmszER7ALSZb6D2zMsCvR6w+sodbgad9wEt0h+X7bba+bWoagF9pF3M8pDbbc/IS/bQKOAs9tIdMJ28W46jGmFeU8swclplRGkUy4rzjUuFV3Tpr4kgdVh1TNe/QNPMdz9SFPopfbUECeMNvIwS4Y1NC8xLrTFrMl+21TLgMCjRYN96rTzUiQj3kIyi7w7qwkiE3MOj8VjNmr9ue1SQCm1DADjkJsKVejAvr66DmkTXHiPjzQKzrr2AEFQtb7AVQZz5JbdNzpnyiQDKJW00CwgD8c1b2Xf88FotSj+kL5sUnZ4V8OSXNZRM0wWBDPkkQNbtWmOwfcO7IZpFHCTpLEgyxxY7c08kjY2Tww7jhsXAwyNvNcnzApWrIOq5VXoNsiJ+m7vgQ4yoybF4G9DyIpgpQNl2ItC1b+rAqECgIKrUBWbhpeRIhGFY8O4hK3kri0MCWFSd4UONpOGml0OIe9TV1wDRQ81U516KLCEXsu4n+MM/4eUVcowDUChmVDd0WEkXZLd1Crh33g1t5RvzhgogYMH0sNL6EM3E4BLhjQoMyc0tgUwqrEghRI1TPUzwmhsILSGzMVwGr0GFkSvqXeRXNKm5E+vsQkwEmwl+/LBPyICdRvQiLZF0Rbmm98RM98HCn/Hb4XJE5xRiPxE6pfyKEkRDHyn0DCmCyF/zYC21M/1WPS1Py2v1/XQrAAi4nfr0B+RB3YGRmM4UH2RQ621/itFV4NBlkFvTThGm4q0x8y27N+Sxdd62kG930Qs90LgpS3S4G9HPAQiodn3zzSRmGyoabHaqAi3B+NsWKLnYL2sHpzXt9bEMHDa6JLWqOoJSct+W3u4+rOS3Ht2Zc6Bm+5nS15qjINSNcwwtftYk66LbmJ/BmAUCShFB85D68XOmO6jZSH/BGykJw/LXXDfE0IlxPip4EuGKDIvKC+2y8p+AszZ8ldtwPxGep2PT0Kr5M42NfGFf3L8kajf164zQdF+r6IJtg+/ylelEcQ7Xdc5vnnS1bRB9NkJc1+3detSbdd2TzuybOzfxEs/5vtQQ6Wue+c0EIC17Y35AMoZs9uhu9YxIUSaQtqXne4hFutazLjFdmg6wbpTALIcr9ssHJfns5QY4rYeMXeSJcHVx1cNnEZ/KIJiekuCtzuYwBFjiC9CLQUkweKjuJbj2KS1525sOK0u0dUL0pkRK/XJcPLPIOi0xzBPRyQWudCxuWd8ySlyg45ngl6976qaWLQSSfIO/nZcBiabU22dTQHsO4RSDslx7cU50H1hQkGsGmGtyGoDqiQN7pMAtCIKVIZQO0uGLzAuMzG02NwvB9c/yub8ycfPb/clFSkCQNGT4ShFaMbZ9dU0EPgQVG6LP9NpOHH4SEsr47Ph8YSoMHn4hqvivY8qlk1QABmll9xwZLgNOU8ty0WJHGU0OkAMXDM74sAGUGJjM7TLToJ74hPem5c6J559K/3P7FoY4c02uI4XYlSFfP8ZZbuuffsWkFvQXIFqciCxcV+ebfpC2Y7vNK/igcO+6XWHwUEJ3Y6+O7PbJPCcAFiH9XpGo13w+CB8kRBwNEtfpgiqqqkbCvKuiQ/Wrc0medqWW+9YER8reoSevIKsa6I+bORI+5vCHL2BJOQjgy7q/1zQp1NKvYiwkBfMujeJcbIJVmTazXCrNuGSyStxDPRGP3noLqU46D3ckcfiAXQG4rqAT2dnUwAAuDAFAAAAAABkAAAABQAAAF0UCica/z3/Gf9A/xD+/xz/A/9E/y7/N/8P+v8D/ypLhjY2NjIwpnkC+okZRHHZNIhNX/k3o9PVOnnjDhrLDBj/alm3sHt153RJt9qhCT6Th/tCsi0ueCpZGlGAraaG+oiKcxfNHOv7y7CardkjNN7m4ZnTniyb8+o5HvXCTtSb0nVTkBRnwlrEqY2gg91Gia8ctWw67jTPYe5cgkmr6GnbmtVrYZT+PBxqsfWCKcs5tvyuSscr8+uDvCd0rFv1hMBDOb8RGI38tzBSJVf4zLcHctGQPE79giaqweIkClAKHdu3Rlh3pfANsiujCKpzK4zyUoD16+kMZNq5nI65wiGW4UAOxtPobhMNP7sNvjMqZKBviz98+bEU7aSekEsYCf4eQdIxhvbLy4C4ms7eBfXXYMmX4C8YWTRrC6PD0SEqKEBdKhbznWud6twSZ+P9Xc9skvqb7rSlUFyAS4YuKzEvKrd/2+RB0+owZ68WQGCuAUQNs9NGnUoSoxXA3O3QxGuxoeQYmxbdvhizJIeE2aC0ylsNyga5jXaPAQslk5gX1bgi88Ia5oAJDN287/mVtRFdYiklde3RxC2sr78fiYRZ6KWC67SMx+vZQDSpNFIaX0ETg1v0WPogeA81ofkbSpFelnIrHxkXlM4LgKs4H9C5EM9Q/xjNog/6b0lg3YwrUsqIwz00gyA3/AFJaNhxxshbxnTdhLx0mT/krTYuCNhRmRMkoLmqGivZRj3nXxklgYKRK0cmpujD3Gs5KMg+rjoAoonhrrEihbSXlADTUD1TfKeg2O7OeImWb+aeO0mtxDRPuaYjIP6rfLAw2hFiCM0ZjEuGLTQwOjmuTVL2D0CfqCL7hmT3qgyWcJcRGpknhkYBGSED3BEM8Hn7Fpfm3Xh5fVOypmCpdr9yvfBjxZ/5zmG+TAgyeeN7/vo4xKa7w+mut4pE5rQf2mdzfZ02h0ym308zuaWqI17/qPeKrJx5Yo1xwlZwD+2Xg83f9AAKpckyO4bojFAS3RmASx7cZHTI2QIQ5u9kPfxlvm8SetP535xsZLdpfYrYfGMEH21cHlJAEACj+88/VmQSalyF2vvFxE7QmalJiogYeXgcUqE7yPUEzqbUy2MP/C2UMSwh7kay9AT6in8rsRzieymDn/Xu7wykt8zxnCninqhPHC17/ey7P6vRKqkp5IVd4LIOGfGHuNM8D/o21Z0kPmkIYoO5qcimLemmUPwZAI/vYL4uB2f2oYTh5vjeNjWCyHTxF4BLhjUvKCUssku3cY/S1s4eDe7jjMji0fFWzGSy61Y9GfSxnc5G7vELNr7EYecYV11qwAPqD8bI3Uz5h5a0Q4W5CUttOsjqukke/btC2/RVged4nWxkhPKHpNdDtmDF4eRgO5b24H0w/Dc4wLT+3a3p8k5jSA3tErS6B2sFUMvEM/S2U440mctP+QMtOn6oW+Ouc5ezbLjdrfCZokMpmRIQKVajCHzed5s9g5rwbOsBXmxYd+hi2p5Qr8LKmwyvqnd/8E+8+dFyVNLXXmrE5J3LiKYCN2QvyZSvUyqTsINd2Be0KUCDSZAhVt3wUABL/JKgfGHhoyL31LssVZrH0psQrSXumq83kTlkzRZnZ4n4S4YjIygpLDwaqVZktQj0jg6szzVq77M9gvMBJZON4bJucXGXBPusuqKvOo5RUpuetk5S+j3rlFo1C4gHP6Xb7jh+VzjsAFocxdo3UMA6i67YGjMgkwr/1uu2nuxktbTg+RKVX8iOdPwEiLYgVD1K42GSY7euOp47xR40niV07ZbpTiVQt5vk6U9uD8pjh+AReBcP661zM13W4IGhoBCCvnYrO4gbUzk48S+32tnxj94cOlVdjBxNxLRS7RoBWGEN6zyFMEI4KBiHdKl9wL2prk4wn8s2YbXDzbgb9YWL1q54TL8F/JBfGPHEK380GtS7q8z6K66kA5ZB81lPrwhLhiUtMS0yqYY2kWm2aQhyjeJnEHIb8lbIfUyvOJW24JVSdcPjDfatbk8i2akMx2oN6B3AetNtNQtYdOltdG9eZ4vjgfPoBf7Ld0cHiRsyRU75VeFCb/DMsKfLxADj0Rd8jP+rFVUNGyEhnm+8TCxZCihJkgKOw7xltFFpXUMY0Ks+15Oy51xWHMCn5gqPOqJtLr14Ss4UcvhvyUixKiYJ9CmooKoQkye+s/O5LFo+znWuWORIjMan/JyjUUuWbILWmDtAIenOFMpci8SMHCWHTo3LfPu75ZlO1t5ELHuVTZiJtgSeFx4P3KoTEAEV4CZlczpT4cOsA5A6gfMHg3Ij5QUG9m1OwD1Bvx71CIMkFLahVKael2tniy5ES4Y4MigfIKsrIdERMOZEnLj4pBmMlK5qcQq0HtwSkXx/NaxnfNyPn4XFgC+synWxMIKhSXyIQ74B94edWpgUqxYxvTYX40XNpMLAEwPqXc79ql6Xh0H/Ocr/Lk/oWrg73R/aSnsqGzmylTFLVF3nZcqPlmJKrN4JvVlgUCKMdzYrg5dHrZ8fU/zlPNh08dmyeSubdP8DgctYPCbNzbSwcgLAm6h0d3Ue+T3HFxVpd2U4Yb0ZklQr6AYTecCdkaGTY0ygVUUyHoOcVdQvlX67mKRrZaJnH3YQkLJB8uq4uztdO/YMPq+Wp72NnlUUZC0bd/Qtx1xVtgGu03WbVq3Q6CJCS4YwMjU4NIMMg6JfMuWpb6oivb9jerAemaVS6etd78MY+weywZ+BbOTv6zI/Fr8dWVdtou118qqrHhmYdoiko/7+Txlb/OcgbQLwSwalk+EAIRtfof3bgviJhc+S6vvOv9w2oY8KYNBAvoCBEDxmmxmgctpP7apLiHlO9sAR9T6IMJkvdD4B1bUEa8K+M+gPV8YzlqITx+kLWoEOlHGobnxWsL0kCJncJoIJf/HIRHndVmJLFy019kJZsuPT2a1QGmoEwVAPxp2fg0ZOmUdtCS24zN6ogKs+zBhEzg4q1zkMwmPKOvb0Nq+RTL7DY8O2zuQ4b1RdAIJ1ffSOMVIH+VK4FEOtV0J4J3CrX4dwHKc1Rz72eicYrzX7nQXVjye+8fdiIg3EFiKpQIaafk3r7BVZAz+/Y2dU967APifRxjmXmKRLhjoxLi0vrsWaQr6wpnG/Lnyd9mKTIp5umrXjlNIrA+hFjPR0wQJf/1yRo6GD3PJPEnxtYKrh0/JXcskYE79dKrDjx3cKWjpluJbczkX1vibABn7OIt4QBQ3RXUofYkMs9YXNw4p6Ldw8LeVYWhLGHvCx5lL16ke9DeB1be+OtjpIz3EBTPXons2Qm+iTf7lmQVaA20sxEv9gHkkebvw4kezY/j8OC+F+f4+Wn35P4BH2hN2RQWZQkX5g3WIS0Xiebq1ksa0yz3BYgLxArhBySYou8JFdwucgaYxW2OJ6Rh+s7dpIxnV879p6YiVZZeUP2rYVOYY4MzqAdH2pbRnkT++QfAyMVpASnQyTGWVxT6yEI5GziGlPKjZOE7HxjWHV0/t+7rxwcQn0vtgTS4Y3MzMuNr7OcLqBxNjrAZVvPD36on86bY1P1fl3SSsA4IgIVQXIZ7tvlk5bZpJBhnFyGUrYHt9SetGbHVCyt4oQR4cjNJRsQKSbrq7zYKutBLHbI5FoH/2QWDIrv3hW59lVyHPh6Ape18Zeetjo7JC2Dl2Q7++Ii5ti9csyj2hGkIkybMjWGRotpXY2T/bCuGhPUR2KeAQvAsvBqmsGsw+YUli25nknp6+jPULh7S/MsEDaajAEtUJ5G3EDnmQfTepycQEUSJNNdiGAyGmuA63gtzjhXAMB1KurnxUVsEe+3Rmr4olwlfW9znqIwbKedDQNQLKHhfIbL5Gt7ObRDT4a6MkkE+2gt826muI1NfjPGIIDAb3+TVXfnjiPA7U4Ycmy5uxNGZf+mvuBqqRnDmUA6r+LxEuGMCwsLym3uBYT5wU1QkTNCb3DMmi268pGv+W3oOEsjugtzyuoXz4VeBgDw443OEp5BCw1ooC10vvPLBk4AsNolMyyP/QbyY/ss09USD461f2i9hVdWOOeNiGv7g2R81m1rJKR1WJQ3nGMIIZr+QZW8ZhhnClea+dREK5DFfasbzkRyJYC5yAAgMrU6P9Akp95vy14URndHndIPg52dDf19Ferv4yZjVP6SIeHeqA2Yb3+ZZwz3hlVM+Pl8oCVCjS749Z5nJgFWzQWiazYl5ct/WWebl2Qf57+16QjjeAWYwEMgh8CwITsjA2mmU8DHGp7VFOqRQliqljRxWfvbWeJ8GqVXZU/L5j1cwyxgEuGKCMjIi+Te8c7b+skIOmrp4oI2EPNM8zqEc+ILCFnti29qPoYHY+gZgodphlQkTtL5gkawfavoEsYhjmVyaJt/rUd0NhBbw6tMEaP/3V1YcQ8rQbMIl2Z7ko72YTRG4mF7vHUwaAc5ylRGKZd8Z424a5VgAYSaGCraaJXBm0984JU1Uz5Q3ChnBhfUf0nNSbts5TzlciONW6CqkUU6aHiwtMEfNPX+fle6iy7ETLltdSoeMh5VLoIbv2a39cYcgBfzE72gI860/g1Lv3Fs0w6G1K9w54tukLOy1MpF+aDV68B/scmEYZDxAlSOjvpcN/gmgr07MKApgdLhjAqJSYugv5Slgi4u2yOatGYNENQwm4tMl/eZuntWGzc8lteZw+h3x3nTkLt1opEDUZ3o2vgjyjV1dgBEr43sFrf658OIc5oFGprnKU3evFKBzJEbPr17Z7JOdtqH6TAjq3ZrF4MIx3/GhV1IWaWufdw43+Qq6Fh7pvX8lbjcZIuQYwpsDwmz+s2TX/IEOWBH+CAuH/g03TJv6wj6tFBRwFQGkIuMLoH8ADwjqRan36oRT6S65Zc6EBOWrdh59xF3gJ7qHe7q6R1ktjxYLWUwqcEmy911gfJwI7T2Ydpdsrnrmou3JqZPDHkMu9bWoB7RlomXCyieuK481uzTXFJRIxLhjE3OC8pgw6Oq9C8YBESqIwhXZqSpHZYumszalcJjAbhcFGn6dLT3w1FWhKOPKd85s7BV38QQK8ziO992TZghaOB8yP2/LgkoLpVuexgTiEV+KBDZsRFAUZIVVS0Q3hNoP63pcDrEbvtAgweiICykNEt8pjkTRY6cmpbP2HgZS332JyGRSzFjkHR+Ef1QVf5113jnCXACKGwjjpmuONaEYISU5HVeLNui1XShPeaMnr3teFJT7Hh4HLO4dhSCn4K2Bowsfr0cjX33MlnTPzyTuFjSF1QkegEfmQdrv+VXUDskhpZB2wDEc7h2gnpFPRFwjhbYZ6YBfHws5qLqtCDUoZ822WnvtmYJlgx8BSGLzvu6EeUhfmz7bY4h1+gP4+SyNpJ00OiUno="},"contextInfo":{"expiration":7776000,"ephemeralSettingTimestamp":"1764692481","disappearingMode":{"initiator":"INITIATED_BY_ME","trigger":"ACCOUNT_SETTING","initiatedByMe":true}},"messageType":"audioMessage","messageTimestamp":1767191208,"instanceId":"32fe6b37-740f-463a-b654-fff19054966a","source":"unknown"},"destination":"http://n8n:5678/webhook/mac-atendimento","date_time":"2025-12-31T11:26:48.847Z","sender":"5511984974697@s.whatsapp.net","server_url":"https://wa.macexecutivo.com.br","apikey":"A4D7BFA8CAE8-41DC-9E39-CCA859AFCBD2"},"webhookUrl":"https://n8n.macexecutivo.com.br/webhook/mac-atendimento","executionMode":"production"}}]},"versionId":"fa89d9f3-584f-4c35-8d6e-c80fcc6cd851","activeVersionId":"fa89d9f3-584f-4c35-8d6e-c80fcc6cd851","triggerCount":1,"shared":[{"updatedAt":"2025-12-24T15:49:22.440Z","createdAt":"2025-12-24T15:49:22.440Z","role":"workflow:owner","workflowId":"SIQ80PfJ4fxbroZ9","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":{"updatedAt":"2026-01-16T22:53:17.319Z","createdAt":"2026-01-16T22:53:17.319Z","versionId":"fa89d9f3-584f-4c35-8d6e-c80fcc6cd851","workflowId":"SIQ80PfJ4fxbroZ9","nodes":[{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.WhatsApp }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n","options":{}},"id":"1af75968-b462-4bbe-845a-c58e7f9af111","name":"Enviar Mensagem WhatsApp Lead6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6576,288],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"59fd3a53-08be-41db-b91e-9abccd7ef4ad","name":"Audio","value":"={{ $json.text || '' }}","type":"string"},{"id":"1f3efabc-087b-4843-8766-742b9109e955","name":"WhatsWeb","value":"={{ $json.pergunta || ''}}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem || '' }}","type":"string"},{"id":"f45d0d25-8456-4a53-9290-69eed044964e","name":"Imagem","value":"={{ $json.content || ''}}","type":"string"},{"id":"0d9377f3-acbb-49ed-9254-ef9e3e561465","name":"Documento","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"ef2ae406-c212-4019-8468-4af52092fc38","name":"Filtra Webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,272]},{"parameters":{"amount":3},"id":"474e8bde-9cd7-4256-89cf-955f25d2dfdf","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3216,288],"webhookId":"b6154711-94b6-4b0a-a59a-5be1e2474257"},{"parameters":{"operation":"get","propertyName":"mensagem","key":"=MAC:{{ $json.telefone }}","options":{}},"id":"9f2a94b2-b90e-4a52-ae9c-a697f4a81a8b","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3312,528],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c513c6ff-e8c6-4008-ac40-c371b6bed82a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3440,384]},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait').item.json.telefone }}","type":"string"},{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"=MAC:{{ $('normalizacao').item.json.telefone }}","type":"string"}]},"options":{}},"id":"342c50b7-20c0-4a4a-9c04-02731f0f6b71","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3632,272]},{"parameters":{},"id":"76d1e491-18c7-4337-b306-1fa921fa611f","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3616,512]},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.telefone }}"},"id":"2896e830-f0ef-4989-8362-517b23c1565a","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3840,272],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"model":"gpt-5-mini","options":{}},"id":"6cfb3ff3-cea5-4e6e-9234-7febc06d9956","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5584,208],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"417562cc-1caf-4fde-a885-470bcafed610","name":"Mensagem de Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,16],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"ef2c663c-9a65-498d-8b83-c9566f343225","name":"Converter Áudio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,16]},{"parameters":{"assignments":{"assignments":[{"id":"6b7bef37-abbe-4207-aae0-5447388019a3","name":"baseUrl","value":"https://wa.macexecutivo.com.br","type":"string"},{"id":"67c50f2f-89e2-4a5c-84c2-c2ac76962f6e","name":"apikey","value":"A4D7BFA8CAE8-41DC-9E39-CCA859AFCBD2","type":"string"},{"id":"9177d222-437a-4284-a96f-115fba66662c","name":"instancia","value":"MAC","type":"string"},{"id":"ab90e3ce-3657-4124-968d-37c0aaebd5ab","name":"xi-api-key","value":"(api elevenlabs)","type":"string"},{"id":"8d6c586e-0f00-4100-bc40-231cda7f93b7","name":"WhatsApp","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"c4aa8b35-49f3-4920-a7da-8929763f05a9","name":"numAlerta","value":"5511991650228","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"bbee8000-50d6-4049-b7e4-877caf2933d6","name":"Credenciais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1792,368]},{"parameters":{"assignments":{"assignments":[{"id":"17694db0-6248-444f-afb9-ff7ed13996ef","name":"pergunta","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"95d0d52b-c391-4bf4-b67a-1d726f6736e0","name":"Texto Web","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2256,176],"notesInFlow":false,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('input evolution').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"d7994400-94e6-4d05-8562-9d1e5b482164","name":"Filta Msg App","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,352]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"635c9de4-adc0-4a48-8be1-17bdf3cf4176","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,528],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"72499587-a2af-4993-9fa7-614294152576","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,528]},{"parameters":{"operation":"push","list":"=MAC:{{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"fc682565-9cd0-4808-8a22-4247a98885f8","name":"Lista Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3024,512],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"75eb74f6-39c8-40fe-b57d-9f7e6f5d34e3","name":"Extrair Dados","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2576,704]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"5090b08b-0c14-4d8b-99b8-a7706388e0a2","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,704],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"=image {{ $('Switch').item.json.body.data.message.documentMessage.fileName }}","mimeType":"={{ $('Switch').item.json.body.data.message.documentMessage.mimetype }}"}},"id":"72d8d491-3ea6-4f76-85be-230366efba57","name":"Converter Arquivo1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2416,704]},{"parameters":{"content":"Filtra as Mensagens","height":873,"width":1070,"color":5},"id":"8de74102-feff-4b2e-8d1e-ad04ba3bce31","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1776,0]},{"parameters":{"content":"Concatenação de Mensagens","height":878,"width":1401,"color":6},"id":"c6f01f13-ea4a-4824-adbd-21a7eb2475cf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2848,0]},{"parameters":{"content":"IA","height":838.8485983917634,"width":1292.417508558578,"color":4},"id":"96c888f3-3e97-48c6-a573-c5e8960ecb46","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5200,16]},{"parameters":{"content":"## Responde em Áudio\n","height":328,"width":638,"color":3},"id":"015dfe0b-0855-4809-8e1b-f2fd4bf1122e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,-560]},{"parameters":{"content":"## Responde em Texto\n","height":239.1747914011388,"width":249.0313820540327},"id":"91a24217-fe57-4249-adc4-3e4986468f9d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6496,240]},{"parameters":{"mode":"delete"},"id":"2a00b8be-4bba-4153-bd3f-bbc5fffd7148","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[5312,880]},{"parameters":{"content":"Limpa Memória","height":304.83247531487484,"width":415.33068089188083,"color":7},"id":"1a70e0b6-3295-436e-8c6e-731d199991bf","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5200,864]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/jsCqWAovK2LkecY7zXl4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"audio/mpeg"},{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('Credenciais').item.json['xi-api-key'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n    \"model_id\": \"eleven_multilingual_v2\",\n    \"voice_settings\": {\n        \"stability\": 0.5,\n        \"similarity_boost\": 0.5\n    }\n}","options":{}},"id":"1ec6a63e-4289-4f81-b70a-3eb98acf5459","name":"ElevenLabs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4144,-400]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"67201008-f9c6-4bc8-a3c7-779f3b3fd586","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4304,-400]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendWhatsAppAudio/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('input evolution').item.json.body.data.key.remoteJid }}\",\n    \"audio\": \"{{ $json.data }}\"\n}\n","options":{}},"id":"913bd144-e6cc-4a22-91bf-49fd33b32b68","name":"sendWhatsAppAudio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4464,-400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9432a5cd-37fc-4ba9-a0e3-c12017585807","leftValue":"={{ $json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"3919f042-8304-4dc9-8ed2-a29751ec2a2c","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3952,-384]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"6cb11282-9f28-4b0d-836a-16b8f46b6f5e","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4064,272]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"463b754d-8d4a-43fb-99fc-46862bbcdef3","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2576,16],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"4d1f6193-4d03-4dcb-b420-7f85190ce3ba","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2576,528],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('input evolution').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $('input evolution').item.json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $('input evolution').item.json.body.server_url }}","type":"string"},{"id":"1471832b-8999-46ba-9d42-998ff8f20c85","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid.split(\"@\")[0].split(\":\")[0] }}","type":"string"},{"id":"65bf6151-2330-4f2c-9ba9-08dd9523e11f","name":"body.data.pushName","value":"={{ $('input evolution').item.json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"dfbee8a4-f257-4152-8665-694c1041aeeb","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,384]},{"parameters":{"operation":"set","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"d8768b29-3752-4613-9c7f-74f3ed05d303","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4496,112],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block","options":{}},"id":"1c93d6f0-fb58-4e0e-b5b7-b1ca4823695a","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4480,448],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"content":"## Intervenção Humana \nTTL = Segundos\n60 = 1 Min\n900 = 15 Min","height":839.8446227150625,"width":938.9118166958406},"id":"1de24bf0-3128-4096-a9ab-dace2580c170","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4256,16]},{"parameters":{"httpMethod":"POST","path":"mac-atendimento","options":{}},"id":"25718af0-9ddb-481b-974c-3ebe30b42a5b","name":"input evolution","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,368],"webhookId":"e52194fd-a6f6-49a4-a0a1-59ede94b134c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"29b4e9d9-33ed-4d07-b543-de7a0aaa8e09"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b24d7ce0-8970-4ec0-a2c3-ac38ba86ac5a","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DEBUG"}]},"options":{}},"id":"64dc3645-6b95-4bba-bae4-a2afe1fcbd8f","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4640,432]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('input evolution').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4b94d2ac-53e5-4153-9377-4cc6db20cb1c","leftValue":"={{ $json.body.data.message.extendedTextMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('input evolution').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('input evolution').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('input evolution').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"de94bcef-f36a-410c-8154-6c743b20aeeb","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1984,352]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"a2520379-0bcc-4847-8679-37811767777b"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"2c18fdb4-94e8-427d-aa10-fb6a55a2660b","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4288,352]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=**Você é o Assistente Virtual Oficial da MAC Transporte Executivo.**\nSua função é **exclusivamente** lidar com:\n0. Saudação Inicial de Boas Vindas para novos contatos e Olá NOME! Em que posso ajudar? para contatos já conhecidos.\n1. Agendamento de novas corridas\n2. Alteração de reservas\n3. Cancelamento de reservas\n4. Consulta de informações sobre reservas\n\nIMPORTANTE:\nAntes de aplicar a regra de “FALAR COM ATENDENTE”, você sempre deve:\n\n- Identificar se o cliente existe no banco (com a Tool buscar_contato_por_telefone)\n- Identificar se tem reserva em aberto (com a Tool buscar_reserva_em_aberto)\n- Identificar se está iniciando um atendimento\n- Interpretar se a mensagem é uma saudação ou início de conversa.\n- Interpretar se a mensagem é um agradecimento ou encerramento de conversa.\n\nSaudações (ex.: “olá”, “oi”, “bom dia”, “boa noite”, “tudo bem”) NUNCA devem ser tratadas como assunto fora do escopo.\nNesses casos você deve seguir o fluxo NORMAL de atendimento.\n\nAgradecimento ou encerramento de conversa (exemplos: \"obrigado\", \"obg\", \"tchau\", \"ok\")\nNesses casos, se já tiver sido finalizado o registro da reserva, apenas encerrar o atendimento.\n\nSó considere “fora do escopo” quando a mensagem for realmente sobre temas não relacionados a corridas, como:\n\n– conversar sobre assuntos pessoais\n– pedir informações que não envolvem transporte\n– tentar vender algo\n– perguntas filosóficas ou gerais\n– assuntos administrativos internos\n– conversas paralelas\n\nNesses casos, e somente nesses casos, responda com:\n\n“Sou um assistente de Inteligência Artificial da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\nJamais usar essa resposta em saudações, início de conversa ou mensagens vagas.\n\nQuando a mensagem for vaga (ex.: “oi”, “olá”, “boa noite”), você deve seguir o fluxo:\n\nVerificar se o contato existe\n\nSe sim:\n\n“Olá NOME! Em que posso ajudar?”\n\nSe não:\n\n“Olá! Sou o novo atendente virtual da MAC Transporte Executivo. Para iniciar, como posso te chamar?”\n\n---\n\n**1. ESTILO DE COMUNICAÇÃO**\n\nVocê deve ser:\n\n* **Extremamente objetivo**\n* **Cordial**\n* **Simpático na medida certa**\n* **Claro e rápido**, como se fosse um atendente humano experiente\n* Evite textos longos.\n* Sempre leve o cliente ao próximo passo para concluir a reserva.\n\n---\n\n**2. REGRA FUNDAMENTAL DO ATENDIMENTO**\n\nO objetivo central é **coletar os dados necessários para cadastrar ou alterar uma reserva**, e **confirmar com o cliente antes de salvar**.\n\nOs dados que precisam estar completos:\n\n* Endereço de partida\n* Endereço de destino\n* Data\n* Horário\n\nNada deve ser registrado no banco sem **confirmação explícita do cliente**, mas não precisa pedir confirmação mais de uma vez, pedir confirmação apenas no final após coletar todos os dados da corrida.\n\n---\n\n**3. FUNCIONAMENTO GERAL DO AGENTE**\n\n## **3.1 Identificação do Cliente**\n\nSempre siga esta ordem:\n\n1. Use a Tool: buscar_contato_por_telefone\no retorno deve estar nesse formato quando encontrar o contato:\n[\n{\n\"encontrado\": \ntrue,\n\"contato\": \n{\n\"id\": \n\"ctt_1765505949746\",\n\"nome\": \n\"Renato\",\n\"telefone\": \n\"5511999999999\",\n\"status\": \n\"a7f40dde\",\n\"criado_em\": \n\"2025-12-11T21:19:09.745-05:00\"\n}\n}\n]\nguardar o nome para se referir ao contato.\n\n2. Se não encontrar o cliente:\n     Responda: “Para continuar, como posso te chamar?”\n3. Após receber o nome:\n   * Use a Tool: criar_contato\n   * Em seguida, comece imediatamente a coleta de dados da reserva.\n\n---\n\n# **4. COMPORTAMENTO POR CENÁRIO**\n\n## **4.1 Se o cliente ainda NÃO tem atendimento em aberto (status EM_ATENDIMENTO)**\n\nVerifique se existe reserva em aberto (Tool buscar_reserva_em_aberto - salvar o valor reserva_id do retorno json e todos os dados da reserva em aberto para utilizar posteriormente):\n\n* Se **não existe reserva em aberto** : Cenário A\n* Se existe **reserva em aberto** : Cenário B\n\n### **Cenário A — Cliente sem reserva em aberto**\n\nResponda:\n\n> “Que bom ter você por aqui! Gostaria de agendar uma corrida agora?”\n\n---\n\n### **Cenário B — Cliente com reserva em aberto**\n\nPergunte:\n\n> “Você deseja *alterar* sua reserva atual ou *cancelar*?”\n\nSe a mensagem do cliente já sugerir intenção (ex.: “Quero mudar para 18h”):\n\n* Interprete automaticamente\n* Responda com confirmação:\n\n> “Entendi que você deseja alterar *HORÁRIO* da sua reserva. Segue novos dados da reserva: (enviar todos os dados da reserva, já alterados) Posso confirmar isso?”\n\nSomente após confirmação → chamar Tool de alterar_reserva passando o valor reserva_id e todos os dados atualizados da reserva como parâmetro. Seguindo esse formato: \n{\n  \"telefone\": \"5511931468609\",\n  \"alteracoes\" : {\n    \"origem\": \"Rua X\",\n    \"destino\": \"Aeroporto de Congonhas\",\n    \"data_hora\": \"2025-02-15 09:30\",\n    \"status\": \"f460a703\"\n  }\n}\n\n---\n\n## **4.2 Se o cliente já está em atendimento status EM_ATENDIMENTO (a7f40dde)**\n\nSimplesmente continue a coleta de dados.\n\n---\n\n# **5. COLETA DE DADOS PARA NOVA RESERVA**\n\nVocê deve sempre conduzir as perguntas de maneira objetiva:\n\n1. **Endereço de Partida**\n\n   * Pergunte apenas se o cliente não informou antes.\n    > “Qual será o endereço de partida?”\n   \n2. **Endereço de Destino**\n\n   * Se cliente não informou:\n\n     > “Qual será o destino?”\n\n3. **Data**\n\n   * Interprete linguagens naturais: “amanhã”, “sábado”, “dia 15”, etc.\n  * Para referência, a data de hoje é {{ $now }}\n\n4. **Horário**\n\n   * Interprete “às 8”, “8 da manhã”, “18h”, “me busca às 7”, etc.\n\n---\n\n## **5.1 Confirmação antes de salvar**\n\nQuando os quatro dados estiverem completos, você sempre deve enviar:\n\n> “✅ **Confirmar a reserva abaixo?**\n\\n\\n\n🚗 **Partida:** [partida]\\n\n📍 **Destino:** [destino]\\n\n📅 **Data:** [data]\\n\n⏰ **Horário:** [horario]”\n(na confirmação sempre utilizar o formato de data \"DD/MM/YYYY - dia da semana\")\n\nSomente se o cliente confirmar → chamar a Tool **registrar_reserva**.\n\nApós salvar a reserva:\n\n> **“Reserva registrada! Nossa equipe entrará em contato para confirmar.”**\n\nE então:\n\n* Atualize status do contato para **AGUARDANDO (06a0701d)** via Tool atualizar_status_atendimento)\n\nEsse passo é obrigatório.\n\n---\n\n# **6. ALTERAÇÃO DE RESERVA**\n\nO agente deve:\n\n1. Identificar automaticamente a intenção (se possível), utilizar a Tool buscar_reserva_em_aberto para verificar os dados da reserva atual\n2. Perguntar confirmação\n3. Somente após confirmar → chamar Tool alterar_reserva (enviando o campo reserva_id como parâmetro)\n\nExemplo:\n\nCliente: “Quero mudar o horário para 17h.”\n\nResposta:\n\n> “Certo! Você deseja alterar o horário da sua reserva atual para 17h, correto?”\n\nApós confirmação → Tool alterar_reserva e resposta final:\n\n> “Alteração registrada! Nossa equipe dará continuidade.”\n\n---\n\n# **7. CANCELAMENTO DE RESERVA**\n\nSempre confirmar antes de cancelar, buscando dados atuais da reserva para confirmação Tool buscar_reserva_em_aberto:\n\n> “Deseja realmente cancelar sua reserva atual?”\n\nApós confirmação → chamar Tool cancelar_reserva.\n\n---\n\n# **9. REGRAS DE STATUS INTERNAS**\n\nOs status são exatamente:\n\n| Código   | Nome                   |\n| -------- | ---------------------- |\n| 7b3b688c | NOVO_CONTATO           |\n| a7f40dde | EM_ATENDIMENTO         |\n| 06a0701d | AGUARDANDO             |\n| f460a703 | RESERVA_EM_ABERTO      |\n| aa024903 | RESERVA_FINALIZADA     |\n| 503776da | ATENDIMENTO_FINALIZADO |\n| 7bbdf177 | CANCELADA              |\n\n### Quando o cliente enviar “FALAR COM ATENDENTE”:\n\n→ Mudar para **AGUARDANDO (06a0701d)** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **10. REGRAS DE INTERPRETAÇÃO DE MENSAGENS**\n\n* Entenda datas e horários em linguagem natural.\n* Entenda frases curtas e fragmentos.\n* Nunca invente dados.\n* Sempre confirme antes de salvar.\n* Se algo estiver ambíguo, pergunte de maneira objetiva:\n  “Só para confirmar, qual é o destino?”\n\n---\n\n# **11. FINALIZAÇÃO DO ATENDIMENTO**\n\nApós qualquer ação concluída:\n\n> “Reserva registrada! Nossa equipe entrará em contato para confirmar.”\n\nE sempre:\n\n* Mudar para **AGUARDANDO** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **12. QUANDO RECUSAR ASSUNTOS**\n\nQualquer assunto fora de:\n\n* Agendar corrida\n* Alterar corrida\n* Cancelar corrida\n* Consultar status da reserva\n\nDeve ser respondido somente com:\n\n> “Sou o assistente da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\n---\n\n# **13. MENSAGEM DE FALHA OU DADOS INSUFICIENTES**\n\nSe faltarem dados:\n\n> “Para prosseguir preciso apenas de *X*. Pode me informar?”\n\nSe o cliente enrolar:\n\n> “Perfeito! Só me informe *X* para eu finalizar seu agendamento.”\n\n---\n\n# **14. PRIORIDADE MÁXIMA DO AGENTE**\n\nSua missão é:\n\n**Coletar dados → Confirmar → Registrar → Encerrar em AGUARDANDO.**\n\nSempre de forma rápida, objetiva e simpática."}},"id":"c825be68-dc60-46a2-bc8d-54a5e630bf14","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[5760,64]},{"parameters":{"description":"Objetivo: localizar o cliente na aba contatos usando o telefone vindo do WhatsApp.","workflowId":{"__rl":true,"value":"v3Phy4QYRGpmN1iW","mode":"list","cachedResultUrl":"/workflow/v3Phy4QYRGpmN1iW","cachedResultName":"[MAC] buscar_contato_por_telefone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["telefone"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5568,704],"id":"c014b253-08a6-4d67-8ff9-6a121751b9c3","name":"buscar_contato_por_telefone"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5472,416],"id":"36b3e520-44e5-4b0c-ba85-1c230b629708","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"EiI1RjCFgKiqZlew","name":"Postgres account"}}},{"parameters":{"description":"Objetivo: atualizar o status do contato na aba contatos.","workflowId":{"__rl":true,"value":"WYYNaQUSejiL35xi","mode":"list","cachedResultUrl":"/workflow/WYYNaQUSejiL35xi","cachedResultName":"[MAC] atualizar_status_atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5616,416],"id":"0d54ab12-6218-4f75-9887-8a08bf5a1ef2","name":"atualizar_status_atendimento"},{"parameters":{"description":"Objetivo: cadastrar um novo contato na aba contatos.","workflowId":{"__rl":true,"value":"uvBdX5xok6YjjX0v","mode":"list","cachedResultUrl":"/workflow/uvBdX5xok6YjjX0v","cachedResultName":"[MAC] criar_contato"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $fromAI('nome', `nome informado pelo cliente`, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5712,672],"id":"73912add-a483-49c3-9fa4-317088f594d5","name":"criar_contato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e53fea41-ae17-4a34-b491-364e8598d883","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}},{"id":"f1840b98-0b0f-4804-b5ac-f915bbaa50b2","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11947471209","operator":{"type":"string","operation":"contains"}},{"id":"503d1d80-9f90-440a-bace-b36fc079f255","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11987261353","operator":{"type":"string","operation":"contains"}},{"id":"f599c2cf-1174-4a2c-b2fa-a8126cb5aa9b","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11963549018","operator":{"type":"string","operation":"contains"}},{"id":"a2936d06-3676-4ac6-b539-337053280a55","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11967273490","operator":{"type":"string","operation":"contains"}},{"id":"640d1a25-e2f2-45e3-8bbf-f09dce343c78","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11932925766","operator":{"type":"string","operation":"contains"}},{"id":"f8b5e0c8-7e23-4396-a831-7b8055d3c685","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"11952715444","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,384],"id":"33b60056-494a-45cf-b003-6342529f15f8","name":"NUMEROS ACEITOS"},{"parameters":{"assignments":{"assignments":[{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"MAC:5511952715444","type":"string"}]},"options":{}},"id":"b7f942cb-3abf-4323-84e6-177a0e16e0c3","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,896]},{"parameters":{"description":"Objetivo: retornar a reserva atual em aberto do contato.","workflowId":{"__rl":true,"value":"VyufsUFec5hyMHTh","mode":"list","cachedResultUrl":"/workflow/VyufsUFec5hyMHTh","cachedResultName":"[MAC] buscar_reserva_em_aberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["contato_id"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,512],"id":"4de14e89-18f6-479c-9251-5dca1eba4f90","name":"buscar_reserva_em_aberto"},{"parameters":{"description":"Objetivo: criar nova reserva na aba reservas.","workflowId":{"__rl":true,"value":"mWVta9ikFzxw5bWb","mode":"list","cachedResultUrl":"/workflow/mWVta9ikFzxw5bWb","cachedResultName":"[MAC] registrar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"origem":"={{ $fromAI('origem', ``, 'string') }}","destino":"={{ $fromAI('destino', ``, 'string') }}","data_hora":"={{ $fromAI('data_hora', ``, 'string') }}","status":"f460a703","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5936,656],"id":"d25939a1-9b9d-42dc-a891-a6ba8f54258e","name":"registrar_reserva"},{"parameters":{"description":"Objetivo: atualizar uma reserva existente.","workflowId":{"__rl":true,"value":"uPYDEsWAd8hYluOP","mode":"list","cachedResultUrl":"/workflow/uPYDEsWAd8hYluOP","cachedResultName":"[MAC] alterar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"alteracoes":"={{ $fromAI('alteracoes', ``, 'JSON') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"alteracoes","displayName":"alteracoes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6016,512],"id":"dca1c8e4-f0f8-414c-9f26-ef09a86a147e","name":"alterar_reserva"},{"parameters":{"description":"Objetivo: alterar o status da reserva para CANCELADA (ID = 7bbdf177).","workflowId":{"__rl":true,"value":"p7hwOcBRVIZ6D2kC","mode":"list","cachedResultName":"[MAC] cancelar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reserva_id":"={{ $fromAI('reserva_id', ``, 'string') }}"},"matchingColumns":["reserva_id"],"schema":[{"id":"reserva_id","displayName":"reserva_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6144,640],"id":"6d845e4c-c87d-456c-9aec-e3d77b50175a","name":"cancelar_reserva"},{"parameters":{"description":"Objetivo: retornar o destino mais frequente do cliente.","workflowId":{"__rl":true,"value":"zi8F3SI5hkRN9TW7","mode":"list","cachedResultName":"[MAC] sugerir_destino_preferido"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contato_id":"={{ $fromAI('contato_id', ``, 'string') }}"},"matchingColumns":["contato_id"],"schema":[{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6192,368],"id":"aa10dc9a-516b-4b1e-a052-417e94085d10","name":"sugerir_destino_preferido"},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.numAlerta }}\",\n  \"text\": \"[MAC] Alerta: nova mensagem do contato {{ $('normalizacao').item.json.telefone }}\"\n}\n","options":{}},"id":"f3e51310-46e6-482a-ae66-fe5506e20c90","name":"Enviar Mensagem WhatsApp Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8208,112],"continueOnFail":true},{"parameters":{"operation":"get","propertyName":"=alerta","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7328,272],"id":"4301236b-b764-4db5-8c6a-a10dfd2c9b4b","name":"Redis1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efc9dd9d-2ebc-4f47-8fe7-64a557dc451c","leftValue":"={{ $json.alerta }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"4e327ce1-a3b9-4e51-8ab5-1d2febd2989c","leftValue":"={{ $json.alerta }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7584,224],"id":"485f4106-6d70-4bdd-a6c6-8f8554733693","name":"If2"},{"parameters":{"operation":"set","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","value":"true","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7856,112],"id":"e0a08af8-5a47-4e2e-b43b-39ba811a521f","name":"Redis2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,816],"id":"c35cbada-2a6a-4fc6-8b43-1ec54865cce6","name":"DELETE","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,1152],"id":"989849f3-53cc-47a7-85cc-b0d02e3bfcce","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"a82c847e-cded-4c9a-b5e1-3c364f4f5cea","name":"TELEFONE","value":"5511947471209","type":"string"},{"id":"c1fb9df8-7812-4536-a49c-cd7db4edc088","name":"TELEFONE2","value":"5511952715444","type":"string"},{"id":"8f484262-903f-4a02-b0df-517b0cea42b3","name":"TELEFONE3","value":"5511987261353","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1088],"id":"ae4d4ae6-2020-4c37-8e5b-6703d4c8ed68","name":"Edit Fields2"},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE2 }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[96,976],"id":"cbfe1ba6-b337-47a2-88e2-d575796e136a","name":"DELETE1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.TELEFONE3 }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,1136],"id":"fc9c0786-e4fb-4fd5-845c-d2e08d386283","name":"DELETE2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('normalizacao').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6816,288],"id":"83ac7a19-4a3a-4cd0-bfd2-b1e291875aed","name":"GET_CLIENTE","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"ultimo_evento_em":"={{ $now }}","status":"06a0701d","id":"={{ $('GET_CLIENTE').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[8048,112],"id":"6f330bb1-5ae1-4ef7-b45b-c0c24d3bcc89","name":"Update row in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","key":"=MAC:{{ $('normalizacao').item.json.telefone }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7600,432],"id":"7d189040-2a81-48d0-9fe6-845c82c46975","name":"DELETE6","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20a2e404-483e-4553-ae17-8f0a3b964c22","leftValue":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}},{"id":"4abe6304-5ab8-4011-bf29-00c7b44fee18","leftValue":"={{ $json.exclusao }}","rightValue":"={{ $('input evolution').item.json.body.data.key.remoteJid.split(\"@\")[0] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1168,368],"id":"663818b3-4a87-4fcb-a8ca-39994479b75e","name":"GRUPO_MOTO_EXCLUSAO"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}","status":"503776da"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4688,96],"id":"eca36ce2-b44a-4ce8-961c-28ce18c54e91","name":"CONTATO_EM_ATENDIMENTO","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.id }}","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $now }}","telefone":"={{ $('normalizacao').first().json.telefone }}","direcao":"atendente"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4896,96],"id":"950f2f64-2f48-4c8f-bbf0-bcac30da0afd","name":"SALVAR_MENSAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.id }}","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $now }}","telefone":"={{ $('normalizacao').first().json.telefone }}","direcao":"cliente"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,624],"id":"5492454a-f189-43ed-aa46-71b65afd25db","name":"SALVAR_MENSAGEM1","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('normalizacao').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4816,592],"id":"a2666fd4-c6e6-428e-a421-8e0ebda87c08","name":"GET_CLIENTE1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8b13e93e-1895-435a-903e-116b91aa0c03","name":"mensagem","value":"={{ $('Code').item.json.mensagem }}","type":"string"},{"id":"88358e20-d8e1-459e-b1f3-87ece26dfde3","name":"telefone","value":"={{ $('Code').item.json.telefone }}","type":"string"},{"id":"dd96561f-0b2e-4c76-81b1-cc86ec1243ad","name":"sessionId","value":"={{ $('Code').item.json.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,320],"id":"33d07db0-531b-4f93-bc9f-783178926107","name":"MSG"},{"parameters":{"content":"## Salva MSGs\n","height":255,"width":745,"color":4},"id":"86d357a3-fce9-4169-9758-b26036a913e5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6752,240]},{"parameters":{"content":"## Alerta\n","height":255,"width":745,"color":4},"id":"e9f79940-6da0-410a-8de3-2ed1947b77a9","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7760,64]},{"parameters":{"operation":"get","propertyName":"exclusao","key":"=MAC:EXCLUSAO","options":{}},"id":"381bd70d-11dc-4ad7-8e59-9a05ae7db5c6","name":"Get Block Chat Id1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[896,368],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + $('input evolution').item.json.body.date_time.toDateTime() }}","contato_id":"={{ $json.id }}","direcao":"cliente","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $('input evolution').item.json.body.date_time }}","telefone":"={{ $('normalizacao').first().json.telefone }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6992,272],"id":"35d8725e-d146-46e1-9bb3-4923391bacb0","name":"MSG_CLIENTE","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.contato_id }}","direcao":"agente","conteudo":"={{ $('AI Agent').item.json.output }}","ts":"={{ $('input evolution').item.json.body.date_time }}","telefone":"={{ $('normalizacao').first().json.telefone }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7168,272],"id":"2569de8b-a7f7-4aa8-b9d8-7f7cdd34d4a8","name":"MSG_AGENTE","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"Filtra Webhook":{"main":[[{"node":"Lista Mensagens1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mensagem de Audio":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Credenciais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Texto Web":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Filta Msg App":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Lista Mensagens1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extrair Dados":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo1","type":"main","index":0}]]},"Converter Arquivo1":{"main":[[{"node":"Extrair Dados","type":"main","index":0}]]},"ElevenLabs1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"sendWhatsAppAudio1","type":"main","index":0}]]},"If":{"main":[[{"node":"ElevenLabs1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"Credenciais","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"input evolution":{"main":[[{"node":"NUMEROS ACEITOS","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"MSG","type":"main","index":0}],[{"node":"GET_CLIENTE1","type":"main","index":0}],[{"node":"GET_CLIENTE1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem de Audio","type":"main","index":0}],[{"node":"Texto Web","type":"main","index":0}],[{"node":"Filta Msg App","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead6","type":"main","index":0}]]},"buscar_contato_por_telefone":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"atualizar_status_atendimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_contato":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"NUMEROS ACEITOS":{"main":[[{"node":"Get Block Chat Id1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"buscar_reserva_em_aberto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"registrar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"alterar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"sugerir_destino_preferido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar Mensagem WhatsApp Lead6":{"main":[[{"node":"GET_CLIENTE","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If2","type":"main","index":0},{"node":"DELETE6","type":"main","index":0}]]},"If2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Block AI":{"main":[[{"node":"CONTATO_EM_ATENDIMENTO","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"DELETE","type":"main","index":0},{"node":"DELETE1","type":"main","index":0},{"node":"DELETE2","type":"main","index":0}]]},"GET_CLIENTE":{"main":[[{"node":"MSG_CLIENTE","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead","type":"main","index":0}]]},"GRUPO_MOTO_EXCLUSAO":{"main":[[],[{"node":"normalizacao","type":"main","index":0}]]},"CONTATO_EM_ATENDIMENTO":{"main":[[{"node":"SALVAR_MENSAGEM","type":"main","index":0}]]},"GET_CLIENTE1":{"main":[[{"node":"SALVAR_MENSAGEM1","type":"main","index":0}]]},"MSG":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Block Chat Id1":{"main":[[{"node":"GRUPO_MOTO_EXCLUSAO","type":"main","index":0}]]},"MSG_CLIENTE":{"main":[[{"node":"MSG_AGENTE","type":"main","index":0}]]},"MSG_AGENTE":{"main":[[{"node":"Redis1","type":"main","index":0}]]}},"authors":"Renato Marques","name":null,"description":null},"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}