[mac]-sugerir_destino_preferido-O1D4y3xjHWRta1vL.json
{"updatedAt":"2025-12-15T15:27:53.747Z","createdAt":"2025-12-14T20:06:01.714Z","id":"O1D4y3xjHWRta1vL","name":"[MAC] sugerir_destino_preferido","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"telefone\": \"5511999999999\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,144],"id":"63b414f0-6566-41be-88ab-3e468d5864b5","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"destino_preferido\": \"{{ $json.destino_preferido }}\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,144],"id":"efc099d0-b1ec-4608-8865-1b1da63fea61","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[176,144],"id":"e53ba50f-e122-45f9-add0-0e4621b38608","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"contato_id":"ctt_1763124268042"}}]},"versionId":"a9daa1d6-2008-4327-b020-bdc83da5242c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:06:01.714Z","createdAt":"2025-12-14T20:06:01.714Z","role":"workflow:owner","workflowId":"O1D4y3xjHWRta1vL","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}