[mac]-atendimento-2.0-YlUfxAJuVhTRCCQd.json
{"updatedAt":"2025-12-29T17:24:24.233Z","createdAt":"2025-12-14T19:46:41.687Z","id":"YlUfxAJuVhTRCCQd","name":"[MAC] Atendimento 2.0","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.WhatsApp }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n","options":{}},"id":"56c48e91-4723-4505-8a07-c3ae10070810","name":"Enviar Mensagem WhatsApp Lead6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4000,352],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"59fd3a53-08be-41db-b91e-9abccd7ef4ad","name":"Audio","value":"={{ $json.text || '' }}","type":"string"},{"id":"1f3efabc-087b-4843-8766-742b9109e955","name":"WhatsWeb","value":"={{ $json.pergunta || ''}}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem || '' }}","type":"string"},{"id":"f45d0d25-8456-4a53-9290-69eed044964e","name":"Imagem","value":"={{ $json.content || ''}}","type":"string"},{"id":"0d9377f3-acbb-49ed-9254-ef9e3e561465","name":"Documento","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"2e9fc2ae-8e74-409f-88ac-8536b3af9dc6","name":"Filtra Webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,272]},{"parameters":{"amount":3},"id":"eab15cfd-9baa-4a1a-831a-dd0176fe8b5d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2384,288],"webhookId":"750464c1-5a4c-4c90-8c9d-2142a312a177"},{"parameters":{"operation":"get","propertyName":"mensagem","key":"=MAC:{{ $json.telefone }}","options":{}},"id":"f525329b-ca06-45c6-a303-125bd55a6f66","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2480,528],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"30a6d380-509d-4323-8e2e-557ac7888d85","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2608,384]},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait').item.json.telefone }}","type":"string"},{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"=MAC:{{ $('Wait').item.json.telefone }}","type":"string"}]},"options":{}},"id":"7c28f348-6069-4020-b77b-db535298befc","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2800,272]},{"parameters":{},"id":"b18ca509-2f80-42a4-8e45-9234149a51b9","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2784,512]},{"parameters":{"operation":"delete","key":"=MAC:{{ $json.telefone }}"},"id":"6847bca0-e5b1-4a4b-b907-4c22fb65b659","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3008,272],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"model":"gpt-5.2-chat-latest","options":{}},"id":"3574159e-08ae-486d-8d3f-c5033f26122d","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3168,288],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"bb559017-0f99-4543-91bd-13dfb89b9cd8","name":"Mensagem de Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1424,16],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"134ee205-d580-4149-a1ff-aa18ccbd23e2","name":"Converter Áudio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1584,16]},{"parameters":{"assignments":{"assignments":[{"id":"6b7bef37-abbe-4207-aae0-5447388019a3","name":"baseUrl","value":"https://wa.mutua.digital","type":"string"},{"id":"67c50f2f-89e2-4a5c-84c2-c2ac76962f6e","name":"apikey","value":"44410F7D2FF4-4E32-B787-8E063DF11626","type":"string"},{"id":"9177d222-437a-4284-a96f-115fba66662c","name":"instancia","value":"mutua","type":"string"},{"id":"ab90e3ce-3657-4124-968d-37c0aaebd5ab","name":"xi-api-key","value":"(api elevenlabs)","type":"string"},{"id":"8d6c586e-0f00-4100-bc40-231cda7f93b7","name":"WhatsApp","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"c4aa8b35-49f3-4920-a7da-8929763f05a9","name":"numAlerta","value":"5511952715444","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"80cc8183-db08-4454-8722-0e973a5d8790","name":"Credenciais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[960,368]},{"parameters":{"assignments":{"assignments":[{"id":"17694db0-6248-444f-afb9-ff7ed13996ef","name":"pergunta","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"de0592b2-2cb0-4449-b9c0-492cfb63e7d5","name":"Texto Web","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1424,176],"notesInFlow":false,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('input evolution').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"f3626720-49f7-4d0c-bb3b-8867fb1943b0","name":"Filta Msg App","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,352]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"c60cf10b-0dab-4864-a088-6d3c2d268574","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1424,528],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"debadada-a62f-4f81-b953-c3484fc8e5e4","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1584,528]},{"parameters":{"operation":"push","list":"=MAC:{{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"2726d0c7-1fd0-4890-bfd6-0fae6e874b3c","name":"Lista Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2192,512],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"562ea895-d8e2-4e6f-86c0-817bf19ca061","name":"Extrair Dados","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1744,704]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"71ba594b-902d-44a0-8091-ec3594014775","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1408,704],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"=image {{ $('Switch').item.json.body.data.message.documentMessage.fileName }}","mimeType":"={{ $('Switch').item.json.body.data.message.documentMessage.mimetype }}"}},"id":"08aa1502-753b-4b69-bc4d-e8dd0e7b4073","name":"Converter Arquivo1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1584,704]},{"parameters":{"content":"Filtra as Mensagens","height":840.9167639981462,"width":1069.89342253457,"color":5},"id":"7256fa73-fcb1-4261-bfea-d207e57acfa4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,0]},{"parameters":{"content":"Concatenação de Mensagens","height":846.1913732061371,"width":952.7060569889857,"color":6},"id":"eec60be0-d0cf-4217-8555-509f5817411c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,0]},{"parameters":{"content":"IA","height":838.8485983917634,"width":1292.417508558578,"color":4},"id":"7a3510ae-4c29-4c88-98ba-75ed530b4477","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,0]},{"parameters":{"content":"## Responde em Áudio\n","height":279.83391588940833,"width":462.3461016030301,"color":3},"id":"43ba752a-da62-4fa9-9ad6-90c583926567","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3792,0]},{"parameters":{"content":"## Responde em Texto\n","height":239.1747914011388,"width":249.0313820540327},"id":"b364bd03-b34e-42f9-8013-31cdf58d47a5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3920,288]},{"parameters":{"mode":"delete","deleteMode":"all"},"id":"0f6e2a36-0f78-4921-8ed0-585c3d975d71","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[2912,864]},{"parameters":{"content":"Limpa Memória","height":304.83247531487484,"width":415.33068089188083,"color":7},"id":"3cf52f40-000f-4efe-aa04-c2a985d9b9fd","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2800,848]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/jsCqWAovK2LkecY7zXl4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"audio/mpeg"},{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('Credenciais').item.json['xi-api-key'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n    \"model_id\": \"eleven_multilingual_v2\",\n    \"voice_settings\": {\n        \"stability\": 0.5,\n        \"similarity_boost\": 0.5\n    }\n}","options":{}},"id":"3d352200-6190-4536-bce4-922c1489c72d","name":"ElevenLabs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3824,112]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"455eebda-ede6-4aa5-b9b4-a0e66d66516e","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3984,112]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendWhatsAppAudio/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('input evolution').item.json.body.data.key.remoteJid }}\",\n    \"audio\": \"{{ $json.data }}\"\n}\n","options":{}},"id":"a8eb2a85-60d4-4384-a9d2-2da098f71965","name":"sendWhatsAppAudio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4144,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9432a5cd-37fc-4ba9-a0e3-c12017585807","leftValue":"={{ $json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"5a744a23-8886-4fbf-9ae3-c1b2bf519eed","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3632,16]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"d8d6b391-0b74-4c48-a626-7358dcb023fe","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,112]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"f3e2df1c-ea9a-431f-80e6-4755b912c739","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1744,16],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"dd2fe8f0-1458-4290-9b8c-39e8e1bfbee9","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1744,528],"credentials":{"openAiApi":{"id":"OE798E1INsDO8GmE","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('input evolution').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1471832b-8999-46ba-9d42-998ff8f20c85","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0].split(\":\")[0] }}","type":"string"},{"id":"65bf6151-2330-4f2c-9ba9-08dd9523e11f","name":"body.data.pushName","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"5cd6e5c0-e3b2-4903-9803-8da088914245","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,368]},{"parameters":{"operation":"set","key":"=MAC:{{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"540b0a0c-8680-4b04-a183-b7170dc0077d","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[576,144],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"=MAC:{{ $json.message.chat_id }}_block","options":{}},"id":"40f20d0e-7bd2-4fcb-8aa3-c1140dff1546","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[544,464],"credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"content":"## Intervenção Humana \nTTL = Segundos\n60 = 1 Min\n900 = 15 Min","height":839.8446227150625,"width":938.9118166958406},"id":"973cf87d-e148-44ca-a710-8e731e1bea77","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"httpMethod":"POST","path":"intervencao","options":{}},"id":"25a67ae6-244f-46d4-910c-f8070958226f","name":"input evolution","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-384,368],"webhookId":"69ea39b0-54b6-4354-8b13-d0e58420c0a7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"29b4e9d9-33ed-4d07-b543-de7a0aaa8e09"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b24d7ce0-8970-4ec0-a2c3-ac38ba86ac5a","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DEBUG"}]},"options":{}},"id":"86e6cece-33a2-49e0-86ae-4dbedb2e60b3","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[704,448]},{"parameters":{},"id":"557751a3-dcc2-409a-bc6e-b0f6fd708874","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,608]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('input evolution').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4b94d2ac-53e5-4153-9377-4cc6db20cb1c","leftValue":"={{ $json.body.data.message.extendedTextMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('input evolution').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('input evolution').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('input evolution').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"57514551-edb1-4977-b42d-3b8e12fce39e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1152,352]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"4aaeae50-3b98-4da9-b89b-9dc0b7b97a5c","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[352,368]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=**Você é o Assistente Virtual Oficial da MAC Transporte Executivo.**\nSua função é **exclusivamente** lidar com:\n0. Saudação Inicial de Boas Vindas para novos contatos e Olá NOME! Em que posso ajudar? para contatos já conhecidos.\n1. Agendamento de novas corridas\n2. Alteração de reservas\n3. Cancelamento de reservas\n4. Consulta de informações sobre reservas\n\nIMPORTANTE:\nAntes de aplicar a regra de “FALAR COM ATENDENTE”, você sempre deve:\n\n- Identificar se o cliente existe no banco\n- Identificar se tem reserva em aberto\n- Identificar se está iniciando um atendimento\n- Interpretar se a mensagem é uma saudação ou início de conversa.\n- Interpretar se a mensagem é um agradecimento ou encerramento de conversa.\n\nSaudações (ex.: “olá”, “oi”, “bom dia”, “boa noite”, “tudo bem”) NUNCA devem ser tratadas como assunto fora do escopo.\nNesses casos você deve seguir o fluxo NORMAL de atendimento.\n\nAgradecimento ou encerramento de conversa (exemplos: \"obrigado\", \"obg\", \"tchau\", \"ok\")\nNesses casos, se já tiver sido finalizado o registro da reserva, apenas encerrar o atendimento.\n\nSó considere “fora do escopo” quando a mensagem for realmente sobre temas não relacionados a corridas, como:\n\n– conversar sobre assuntos pessoais\n– pedir informações que não envolvem transporte\n– tentar vender algo\n– perguntas filosóficas ou gerais\n– assuntos administrativos internos\n– conversas paralelas\n\nNesses casos, e somente nesses casos, responda com:\n\n“Sou o assistente da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\nJamais usar essa resposta em saudações, início de conversa ou mensagens vagas.\n\nQuando a mensagem for vaga (ex.: “oi”, “olá”, “boa noite”), você deve seguir o fluxo:\n\nVerificar se o contato existe\n\nSe sim:\n\n“Olá NOME! Em que posso ajudar?”\n\nSe não:\n\n“Olá! Bem-vindo à MAC Transporte Executivo. Como posso te chamar?”\n\n---\n\n**1. ESTILO DE COMUNICAÇÃO**\n\nVocê deve ser:\n\n* **Extremamente objetivo**\n* **Cordial**\n* **Simpático na medida certa**\n* **Claro e rápido**, como se fosse um atendente humano experiente\n* Evite textos longos.\n* Sempre leve o cliente ao próximo passo para concluir a reserva.\n\n---\n\n**2. REGRA FUNDAMENTAL DO ATENDIMENTO**\n\nO objetivo central é **coletar os dados necessários para cadastrar ou alterar uma reserva**, e **confirmar com o cliente antes de salvar**.\n\nOs dados que precisam estar completos:\n\n* Endereço de partida\n* Endereço de destino\n* Data\n* Horário\n\nNada deve ser registrado no banco sem **confirmação explícita do cliente**, mas não precisa pedir confirmação mais de uma vez, pedir confirmação apenas no final após coletar todos os dados da corrida.\n\n---\n\n**3. FUNCIONAMENTO GERAL DO AGENTE**\n\n## **3.1 Identificação do Cliente**\n\nSempre siga esta ordem:\n\n1. Use a Tool: buscar_contato_por_telefone\no retorno deve estar nesse formato quando encontrar o contato:\n[\n{\n\"encontrado\": \ntrue,\n\"contato\": \n{\n\"id\": \n\"ctt_1765505949746\",\n\"nome\": \n\"Renato\",\n\"telefone\": \n\"5511931468609\",\n\"status\": \n\"a7f40dde\",\n\"criado_em\": \n\"2025-12-11T21:19:09.745-05:00\"\n}\n}\n]\nguardar o nome para se referir ao contato.\n\n2. Se não encontrar o cliente:\n     Responda: “Para continuar, como posso te chamar?”\n3. Após receber o nome:\n   * Use a Tool: criar_contato\n   * Em seguida, comece imediatamente a coleta de dados da reserva.\n\n---\n\n# **4. COMPORTAMENTO POR CENÁRIO**\n\n## **4.1 Se o cliente ainda NÃO tem atendimento em aberto (status EM_ATENDIMENTO)**\n\nVerifique se existe reserva em aberto (Tool buscar_reserva_em_aberto - salvar o valor reserva_id do retorno json e todos os dados da reserva em aberto para utilizar posteriormente):\n\n* Se **não existe reserva em aberto** : Cenário A\n* Se existe **reserva em aberto** : Cenário B\n\n### **Cenário A — Cliente sem reserva em aberto**\n\nResponda:\n\n> “Que bom ter você por aqui! Gostaria de agendar uma corrida agora?”\n\n---\n\n### **Cenário B — Cliente com reserva em aberto**\n\nPergunte:\n\n> “Você deseja *alterar* sua reserva atual ou *cancelar*?”\n\nSe a mensagem do cliente já sugerir intenção (ex.: “Quero mudar para 18h”):\n\n* Interprete automaticamente\n* Responda com confirmação:\n\n> “Entendi que você deseja alterar *HORÁRIO* da sua reserva. Segue novos dados da reserva: (enviar todos os dados da reserva, já alterados) Posso confirmar isso?”\n\nSomente após confirmação → chamar Tool de alterar_reserva passando o valor reserva_id e todos os dados atualizados da reserva como parâmetro. Seguindo esse formato: \n{\n  \"telefone\": \"5511931468609\",\n  \"alteracoes\" : {\n    \"origem\": \"Rua X\",\n    \"destino\": \"Aeroporto de Congonhas\",\n    \"data_hora\": \"2025-02-15 09:30\",\n    \"status\": \"f460a703\"\n  }\n}\n\n---\n\n## **4.2 Se o cliente já está em atendimento status EM_ATENDIMENTO (a7f40dde)**\n\nSimplesmente continue a coleta de dados.\n\n---\n\n# **5. COLETA DE DADOS PARA NOVA RESERVA**\n\nVocê deve sempre conduzir as perguntas de maneira objetiva:\n\n1. **Endereço de Partida**\n\n   * Pergunte apenas se o cliente não informou antes.\n    > “Qual será o endereço de partida?”\n   \n2. **Endereço de Destino**\n\n   * Se cliente não informou:\n\n     > “Qual será o destino?”\n\n3. **Data**\n\n   * Interprete linguagens naturais: “amanhã”, “sábado”, “dia 15”, etc.\n  * Para referência, a data de hoje é {{ $now }}\n\n4. **Horário**\n\n   * Interprete “às 8”, “8 da manhã”, “18h”, “me busca às 7”, etc.\n\n---\n\n## **5.1 Confirmação antes de salvar**\n\nQuando os quatro dados estiverem completos, você sempre deve enviar:\n\n> “Perfeito! Confirma a corrida saindo de *PARTIDA* para *DESTINO* no dia *DATA* às *HORÁRIO*?”\n(na confirmação sempre utilizar o formato de data \"DD/MM/YYYY - dia da semana\")\n\nSomente se o cliente confirmar → chamar a Tool **registrar_reserva**.\n\nApós salvar a reserva:\n\n> **“Reserva registrada! Nossa equipe entrará em contato para confirmar.”**\n\nE então:\n\n* Atualize status do contato para **AGUARDANDO (06a0701d)** via Tool atualizar_status_atendimento)\n\nEsse passo é obrigatório.\n\n---\n\n# **6. ALTERAÇÃO DE RESERVA**\n\nO agente deve:\n\n1. Identificar automaticamente a intenção (se possível), utilizar a Tool buscar_reserva_em_aberto para verificar os dados da reserva atual\n2. Perguntar confirmação\n3. Somente após confirmar → chamar Tool alterar_reserva (enviando o campo reserva_id como parâmetro)\n\nExemplo:\n\nCliente: “Quero mudar o horário para 17h.”\n\nResposta:\n\n> “Certo! Você deseja alterar o horário da sua reserva atual para 17h, correto?”\n\nApós confirmação → Tool alterar_reserva e resposta final:\n\n> “Alteração registrada! Nossa equipe dará continuidade.”\n\n---\n\n# **7. CANCELAMENTO DE RESERVA**\n\nSempre confirmar antes de cancelar, buscando dados atuais da reserva para confirmação Tool buscar_reserva_em_aberto:\n\n> “Deseja realmente cancelar sua reserva atual?”\n\nApós confirmação → chamar Tool cancelar_reserva.\n\n---\n\n# **9. REGRAS DE STATUS INTERNAS**\n\nOs status são exatamente:\n\n| Código   | Nome                   |\n| -------- | ---------------------- |\n| 7b3b688c | NOVO_CONTATO           |\n| a7f40dde | EM_ATENDIMENTO         |\n| 06a0701d | AGUARDANDO             |\n| f460a703 | RESERVA_EM_ABERTO      |\n| aa024903 | RESERVA_FINALIZADA     |\n| 503776da | ATENDIMENTO_FINALIZADO |\n| 7bbdf177 | CANCELADA              |\n\n### Quando o cliente enviar “FALAR COM ATENDENTE”:\n\n→ Mudar para **AGUARDANDO (06a0701d)** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **10. REGRAS DE INTERPRETAÇÃO DE MENSAGENS**\n\n* Entenda datas e horários em linguagem natural.\n* Entenda frases curtas e fragmentos.\n* Nunca invente dados.\n* Sempre confirme antes de salvar.\n* Se algo estiver ambíguo, pergunte de maneira objetiva:\n  “Só para confirmar, qual é o destino?”\n\n---\n\n# **11. FINALIZAÇÃO DO ATENDIMENTO**\n\nApós qualquer ação concluída:\n\n> “Reserva registrada! Nossa equipe entrará em contato para confirmar.”\n\nE sempre:\n\n* Mudar para **AGUARDANDO** utilizando a Tool atualizar_status_atendimento\n\n---\n\n# **12. QUANDO RECUSAR ASSUNTOS**\n\nQualquer assunto fora de:\n\n* Agendar corrida\n* Alterar corrida\n* Cancelar corrida\n* Consultar status da reserva\n\nDeve ser respondido somente com:\n\n> “Sou o assistente da MAC e só consigo lidar com agendamentos e alterações. Para outros assuntos, digite FALAR COM ATENDENTE.”\n\n---\n\n# **13. MENSAGEM DE FALHA OU DADOS INSUFICIENTES**\n\nSe faltarem dados:\n\n> “Para prosseguir preciso apenas de *X*. Pode me informar?”\n\nSe o cliente enrolar:\n\n> “Perfeito! Só me informe *X* para eu finalizar seu agendamento.”\n\n---\n\n# **14. MENSAGEM DE BOAS-VINDAS (APENAS SE O CLIENTE AINDA NÃO TIVER CONTATO REGISTRADO)**\n\n> “Olá! Bem-vindo à MAC Transporte Executivo. Para agilizar seu atendimento, como posso te chamar?”\n\n---\n\n# **15. PRIORIDADE MÁXIMA DO AGENTE**\n\nSua missão é:\n\n**Coletar dados → Confirmar → Registrar → Encerrar em AGUARDANDO.**\n\nSempre de forma rápida, objetiva e simpática."}},"id":"eed5e873-1b5b-4dd5-bed4-ceb2d8fa9209","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3328,176]},{"parameters":{"description":"Objetivo: localizar o cliente na aba contatos usando o telefone vindo do WhatsApp.","workflowId":{"__rl":true,"value":"v3Phy4QYRGpmN1iW","mode":"list","cachedResultUrl":"/workflow/v3Phy4QYRGpmN1iW","cachedResultName":"[MAC] buscar_contato_por_telefone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["telefone"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3088,704],"id":"6a19f99f-3899-416a-bc00-f28d00a90289","name":"buscar_contato_por_telefone"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3056,512],"id":"220dc414-7232-4273-b70c-c13b56a9b313","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"EiI1RjCFgKiqZlew","name":"Postgres account"}}},{"parameters":{"description":"Objetivo: atualizar o status do contato na aba contatos.","workflowId":{"__rl":true,"value":"WYYNaQUSejiL35xi","mode":"list","cachedResultUrl":"/workflow/WYYNaQUSejiL35xi","cachedResultName":"[MAC] atualizar_status_atendimento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3200,608],"id":"b624ddc7-1ba6-4738-a997-9422ffb41c2c","name":"atualizar_status_atendimento"},{"parameters":{"description":"Objetivo: cadastrar um novo contato na aba contatos.","workflowId":{"__rl":true,"value":"xKsvIspRkFeBbwmh","mode":"list","cachedResultName":"[MAC] criar_contato"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $fromAI('nome', `nome informado pelo cliente`, 'string') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3296,720],"id":"0b3d2af3-5995-4a10-afc3-c1608b1ab6cb","name":"criar_contato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e53fea41-ae17-4a34-b491-364e8598d883","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11931468609","operator":{"type":"string","operation":"contains"}},{"id":"f1840b98-0b0f-4804-b5ac-f915bbaa50b2","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11947471209","operator":{"type":"string","operation":"contains"}},{"id":"503d1d80-9f90-440a-bace-b36fc079f255","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11987261353","operator":{"type":"string","operation":"contains"}},{"id":"f599c2cf-1174-4a2c-b2fa-a8126cb5aa9b","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11963549018","operator":{"type":"string","operation":"contains"}},{"id":"a2936d06-3676-4ac6-b539-337053280a55","leftValue":"={{ $('normalizacao').item.json.telefone }}","rightValue":"11967273490","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,384],"id":"6e27f9b6-3c90-4f5f-8106-259661515c21","name":"NUMEROS ACEITOS"},{"parameters":{"assignments":{"assignments":[{"id":"76ec59b8-f32a-48c8-8924-90290b8359ba","name":"sessionId","value":"MAC:5511931468609","type":"string"}]},"options":{}},"id":"048e3141-308f-4c12-a2dc-a5bf6f6b98c9","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2656,880]},{"parameters":{"description":"Objetivo: retornar a reserva atual em aberto do contato.","workflowId":{"__rl":true,"value":"7z4fbHQMKOzwCAVn","mode":"list","cachedResultName":"[MAC] buscar_reserva_em_aberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":["contato_id"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3392,608],"id":"d339ecf4-ea9e-4666-bd41-bfffffd2dc2f","name":"buscar_reserva_em_aberto"},{"parameters":{"description":"Objetivo: criar nova reserva na aba reservas.","workflowId":{"__rl":true,"value":"mWVta9ikFzxw5bWb","mode":"list","cachedResultUrl":"/workflow/mWVta9ikFzxw5bWb","cachedResultName":"[MAC] registrar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"origem":"={{ $fromAI('origem', ``, 'string') }}","destino":"={{ $fromAI('destino', ``, 'string') }}","data_hora":"={{ $fromAI('data_hora', ``, 'string') }}","status":"f460a703","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3504,720],"id":"a66fa4b8-12a3-4c74-84ba-bfc0964bcbb2","name":"registrar_reserva"},{"parameters":{"description":"Objetivo: atualizar uma reserva existente.","workflowId":{"__rl":true,"value":"hMHaVoQMvMX231oV","mode":"list","cachedResultName":"[MAC] alterar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"alteracoes":"={{ $fromAI('alteracoes', ``, 'JSON') }}","telefone":"={{ $('normalizacao').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"alteracoes","displayName":"alteracoes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3600,608],"id":"8e579371-11c4-4ac9-840e-51d891b8bb3d","name":"alterar_reserva"},{"parameters":{"description":"Objetivo: alterar o status da reserva para CANCELADA (ID = 7bbdf177).","workflowId":{"__rl":true,"value":"p7hwOcBRVIZ6D2kC","mode":"list","cachedResultName":"[MAC] cancelar_reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reserva_id":"={{ $fromAI('reserva_id', ``, 'string') }}"},"matchingColumns":["reserva_id"],"schema":[{"id":"reserva_id","displayName":"reserva_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3728,720],"id":"e0da067a-4218-4203-b2de-d7efa3686de9","name":"cancelar_reserva"},{"parameters":{"description":"Objetivo: retornar o destino mais frequente do cliente.","workflowId":{"__rl":true,"value":"zi8F3SI5hkRN9TW7","mode":"list","cachedResultName":"[MAC] sugerir_destino_preferido"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contato_id":"={{ $fromAI('contato_id', ``, 'string') }}"},"matchingColumns":["contato_id"],"schema":[{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3728,432],"id":"21a28bce-5a04-4761-b3f9-2cd05da96663","name":"sugerir_destino_preferido"},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.numAlerta }}\",\n  \"text\": \"[MAC] Alerta: nova mensagem do contato {{ $('normalizacao').item.json.telefone }}\"\n}\n","options":{}},"id":"cbbfa26d-d975-43c4-a8b0-758e38cbbc27","name":"Enviar Mensagem WhatsApp Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5472,256],"continueOnFail":true},{"parameters":{"operation":"get","propertyName":"=alerta","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4752,336],"id":"d29dd0f9-01c1-4a1b-ba40-31f950751970","name":"Redis1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efc9dd9d-2ebc-4f47-8fe7-64a557dc451c","leftValue":"={{ $json.alerta }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5008,288],"id":"f3c32779-893e-427b-bf29-1b4ba3adab6c","name":"If2"},{"parameters":{"operation":"set","key":"=MAC_ALERT:{{ $('normalizacao').item.json.telefone }}","value":"true","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5280,176],"id":"21158c00-e1b0-4613-9ed1-746613f94420","name":"Redis2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('normalizacao').item.json.telefone }}","status":"503776da"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,144],"id":"e1e6d86e-49c8-4178-b376-a80716a37a06","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + Date.now() }}","contato_id":"={{ $json.contato_id }}","direcao":"agente","conteudo":"={{ $('AI Agent').item.json.output }}","ts":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultima_do_cliente","displayName":"ultima_do_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4592,336],"id":"a7f21a41-d0fd-420e-9857-57985eaee9d2","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('normalizacao').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4240,352],"id":"c8867277-9a4b-4f02-a634-268c9e140755","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":879274111,"mode":"list","cachedResultName":"Mensagens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=879274111"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'msg_' + $('input evolution').item.json.body.date_time.toDateTime() }}","contato_id":"={{ $json.id }}","direcao":"cliente","conteudo":"={{ $('Code').item.json.mensagem }}","ts":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultima_do_cliente","displayName":"ultima_do_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4416,336],"id":"832428b8-c84b-4279-9006-5a9147fd769e","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[96,944],"id":"77c58526-efa1-4c90-b8d8-e446ee2bfb2d","name":"DELETE","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,1152],"id":"7071b747-254e-4db0-bb53-2375b6367299","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"a82c847e-cded-4c9a-b5e1-3c364f4f5cea","name":"TELEFONE","value":"5511947471209","type":"string"},{"id":"c1fb9df8-7812-4536-a49c-cd7db4edc088","name":"TELEFONE2","value":"5511931468609","type":"string"},{"id":"8f484262-903f-4a02-b0df-517b0cea42b3","name":"TELEFONE3","value":"5511987261353","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1088],"id":"004c037a-5908-4f3d-a3a0-6967e935b14c","name":"Edit Fields2"},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE2 }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,1072],"id":"48d3813a-5bac-44c4-bddd-3fc4e8b411c7","name":"DELETE1","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE3 }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[336,1216],"id":"92381ee7-f939-45ac-9b82-d13008b089b7","name":"DELETE2","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5376,560],"id":"704f7c42-4680-4750-858f-0a153ec030d6","name":"DELETE3","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a82c847e-cded-4c9a-b5e1-3c364f4f5cea","name":"TELEFONE","value":"5511947471209","type":"string"},{"id":"c1fb9df8-7812-4536-a49c-cd7db4edc088","name":"TELEFONE2","value":"5511931468609","type":"string"},{"id":"8f484262-903f-4a02-b0df-517b0cea42b3","name":"TELEFONE3","value":"5511987261353","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5088,704],"id":"603acf89-0634-4923-936d-62ca74213567","name":"Edit Fields3"},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE2 }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5472,688],"id":"65237c58-b8cc-4217-94e5-2fc91a774ea8","name":"DELETE4","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=MAC:{{ $json.TELEFONE3 }}@s.whatsapp.net_block","value":"false"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5616,832],"id":"f226fba9-be9d-4870-bb6f-f2aaf6e4bf52","name":"DELETE5","credentials":{"redis":{"id":"YPSAlsD6zMQjsIVy","name":"Redis account"}}}],"connections":{"Filtra Webhook":{"main":[[{"node":"Lista Mensagens1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mensagem de Audio":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Credenciais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Texto Web":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Filta Msg App":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Lista Mensagens1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extrair Dados":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo1","type":"main","index":0}]]},"Converter Arquivo1":{"main":[[{"node":"Extrair Dados","type":"main","index":0}]]},"ElevenLabs1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"sendWhatsAppAudio1","type":"main","index":0}]]},"If":{"main":[[{"node":"ElevenLabs1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"NUMEROS ACEITOS","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"input evolution":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Credenciais","type":"main","index":0}],[],[{"node":"No Operation","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem de Audio","type":"main","index":0}],[{"node":"Texto Web","type":"main","index":0}],[{"node":"Filta Msg App","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead6","type":"main","index":0}]]},"buscar_contato_por_telefone":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"atualizar_status_atendimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_contato":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"NUMEROS ACEITOS":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"buscar_reserva_em_aberto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"registrar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"alterar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"sugerir_destino_preferido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar Mensagem WhatsApp Lead6":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If2","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead","type":"main","index":0}]]},"Block AI":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"No Operation":{"main":[[{"node":"Credenciais","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"DELETE","type":"main","index":0},{"node":"DELETE1","type":"main","index":0},{"node":"DELETE2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"DELETE3","type":"main","index":0},{"node":"DELETE4","type":"main","index":0},{"node":"DELETE5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"input evolution":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.10.0","content-length":"1316","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"MAC-Teste","data":{"key":{"remoteJid":"5511931468609@s.whatsapp.net","fromMe":false,"id":"3EB05C5C70104728F0A797","senderLid":"83270825959582@lid"},"pushName":"Renato Marques (Pessoal)","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"ntfSwIxs4mphoQ==","senderTimestamp":"1765336889","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"gpW59nXgqFOJMw==","recipientTimestamp":"1766576587"},"deviceListMetadataVersion":2,"messageSecret":"MtQMIw2roeRilP4N5pTXd6nvEivXSFzLL4dU0AINjlo=","limitSharingV2":{"sharingLimited":false,"trigger":"UNKNOWN","limitSharingSettingTimestamp":"0","initiatedByMe":false}},"conversation":"não, eu quero alterar o destino para praia grande e a data para hoje às 20h00"},"contextInfo":{"ephemeralSettingTimestamp":"1763074319","disappearingMode":{"initiator":"CHANGED_IN_CHAT","trigger":"CHAT_SETTING","initiatedByMe":false}},"messageType":"conversation","messageTimestamp":1766579019,"instanceId":"d442ba50-f645-4075-a1d2-d56c53e900ca","source":"web"},"destination":"http://n8n:5678/webhook/intervencao","date_time":"2025-12-24T09:23:39.413Z","sender":"5511952715444@s.whatsapp.net","server_url":"https://wa.macexecutivo.com.br","apikey":"7E9569895E65-42FC-9BFD-CC71D39CE098"},"webhookUrl":"https://n8n.macexecutivo.com.br/webhook/intervencao","executionMode":"production"}}]},"versionId":"04239d45-3284-4d78-a8e3-bb9099a224c8","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-14T19:46:41.687Z","createdAt":"2025-12-14T19:46:41.687Z","role":"workflow:owner","workflowId":"YlUfxAJuVhTRCCQd","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}