[mac]-alterar_reserva-uPYDEsWAd8hYluOP.json
{"updatedAt":"2025-12-31T13:42:56.698Z","createdAt":"2025-12-14T20:03:00.737Z","id":"uPYDEsWAd8hYluOP","name":"[MAC] alterar_reserva","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"telefone\": \"5511931468609\",\n  \"alteracoes\" : {\n    \"origem\": \"Rua X\",\n    \"destino\": \"Aeroporto de Congonhas\",\n    \"data_hora\": \"2025-02-15 09:30\",\n    \"status\": \"f460a703\"\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[592,-64],"id":"22b667b6-0eb2-455f-b92f-7b2127c5a0c2","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": true\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,-64],"id":"ef958a49-1d2b-446f-bcb7-92c74d8ba2f8","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,-64],"id":"dcf8d70e-ee46-4af9-885c-ab9ad5e66246","name":"GET_CONTATO","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"},{"lookupColumn":"status","lookupValue":"f460a703"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1088,-64],"id":"ee615f39-9cc6-49b9-bacc-736276526026","name":"GET_RESERVA","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","origem":"={{ $('When Executed by Another Workflow').item.json.alteracoes.origem }}","destino":"={{ $('When Executed by Another Workflow').item.json.alteracoes.destino }}","data_hora":"={{ $('When Executed by Another Workflow').item.json.alteracoes.data_hora }}","status":"=f460a703","ultimo_evento_em":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,-64],"id":"67e7f921-e871-46c9-a41b-82454466679a","name":"ATUALIZA_RESERVA","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"GET_CONTATO","type":"main","index":0}]]},"GET_CONTATO":{"main":[[{"node":"GET_RESERVA","type":"main","index":0}]]},"GET_RESERVA":{"main":[[{"node":"ATUALIZA_RESERVA","type":"main","index":0}]]},"ATUALIZA_RESERVA":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"5511931468609","alteracoes":{"origem":"Rua X","destino":"Aeroporto de Congonhas","data_hora":"2025-02-15 09:30","status":"f460a703"}}}]},"versionId":"22ce041b-1457-4b82-865a-14e556d63255","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:03:00.737Z","createdAt":"2025-12-14T20:03:00.737Z","role":"workflow:owner","workflowId":"uPYDEsWAd8hYluOP","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}