[mac]-atendimento-1.0-hAmsqsFfMQfS3R0j.json
{"updatedAt":"2025-12-14T19:46:25.970Z","createdAt":"2025-12-14T19:46:25.970Z","id":"hAmsqsFfMQfS3R0j","name":"[MAC] ATENDIMENTO 1.0","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mac","options":{}},"id":"60619add-1906-454d-9bfe-02049bdd36be","name":"Webhook /mac","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2096,944],"webhookId":"d1d6d0d1-e9d2-4b27-8b06-ed44316682a4"},{"parameters":{"assignments":{"assignments":[{"name":"baseUrl","value":"https://wa.mutua.digital","type":"string","id":"927b369b-9de4-4537-8839-d702163aad34"},{"name":"instancia","value":"mutua","type":"string","id":"5ddf3f9f-1614-4bf2-ab30-e79bdf02409f"},{"name":"apikey","value":"44410F7D2FF4-4E32-B787-8E063DF11626","type":"string","id":"0b9878d8-d603-4b8d-84c7-9aa576281546"},{"name":"sheetId","value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","type":"string","id":"66c6d5a1-46de-4f69-bb1e-403b2f1ff0cc"},{"name":"num_admin","value":"5511952715444","type":"string","id":"7ca03d57-7c31-41ef-945c-2b820cee28f3"},{"name":"sla_1","value":30,"type":"number","id":"46583714-5fdb-42df-acef-ad3e2746ee75"},{"name":"sla_2","value":60,"type":"number","id":"1654eddf-2a9c-4600-bad5-42165942f4d5"},{"id":"b0b70ff3-c5d6-41f3-b22a-7d40dca3f83f","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"697769b4-7a70-4007-91a7-120494461b4f","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"3fa4e1f4-e54c-4e42-8d70-ddce0a1254dc","name":"message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"cadfd82e-24cd-4781-a301-ca7e76b96182","name":"saida","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"}]},"options":{}},"id":"ecdaef0d-0c54-46c6-abdd-f668a5652578","name":"SETUP","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1824,944]},{"parameters":{"jsCode":"// === Parse Evento (evolution -> campos normalizados) ===\nconst items = $input.all();\n\nfunction jidToPhone(jid) {\n  return String(jid || '').split('@')[0].replace(/\\D/g, '');\n}\n\nfunction pickText(m) {\n  if (!m) return '';\n  if (m.conversation) return m.conversation;\n  if (m.extendedTextMessage?.text) return m.extendedTextMessage.text;\n  if (m.imageMessage?.caption) return m.imageMessage.caption;\n  if (m.videoMessage?.caption) return m.videoMessage.caption;\n  if (m.buttonsResponseMessage?.selectedDisplayText) return m.buttonsResponseMessage.selectedDisplayText;\n  if (m.listResponseMessage?.singleSelectReply?.selectedRowId) return m.listResponseMessage.singleSelectReply.selectedRowId;\n  if (m.listResponseMessage?.title) return m.listResponseMessage.title;\n  if (m.templateButtonReplyMessage?.selectedId) return m.templateButtonReplyMessage.selectedId;\n  if (m.templateButtonReplyMessage?.selectedDisplayText) return m.templateButtonReplyMessage.selectedDisplayText;\n  if (m.ephemeralMessage?.message) return pickText(m.ephemeralMessage.message);\n  if (m.viewOnceMessageV2?.message) return pickText(m.viewOnceMessageV2.message);\n  if (m.viewOnceMessage?.message) return pickText(m.viewOnceMessage.message);\n  return '';\n}\n\nconst out = items.map((it) => {\n  const root = it?.json ?? it ?? {};\n  let body = root.body ?? root;\n  if (typeof body === 'string') {\n    try { body = JSON.parse(body); } catch {}\n  }\n  if (body?.body) body = body.body;\n\n  const d = body?.data ?? {};\n  const key = d?.key ?? {};\n\n  const telefone = $input.first().json.telefone;\n\n  const fromMe = Boolean(key.fromMe);\n\n  const msgObj = $(\"SETUP\").first().json.message;\n\n  const mensagem = msgObj;\n  const pushName = d.pushName || body?.pushName || '';\n\n  let ts = Date.now();\n  if (d.messageTimestamp) ts = Number(d.messageTimestamp) * 1000;\n  else if (body?.date_time) {\n    const parsed = Date.parse(body.date_time);\n    if (!Number.isNaN(parsed)) ts = parsed;\n  }\n\n  return { json: { telefone, mensagem, saida: fromMe, pushName, ts } };\n});\n\nreturn out;"},"id":"4aba2ec0-786f-4b59-b3c9-7677f05103fb","name":"Parse Evento","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,944]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('SETUP').item.json.telefone }}"}]},"options":{}},"id":"810af432-7067-4ca4-bb25-07090e7eaf14","name":"Contatos.Lookup(telefone)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,928],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.id.toString() }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"62f0b1f6-bf8f-431c-a635-8182764f2db0"}],"combinator":"and"},"options":{}},"id":"9baae5aa-915b-4a50-b985-b3f781c77e2c","name":"Contato existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3328,928]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"columns":{"0":{"column":"id","value":"={{ 'ctt_' + Date.now() }}"},"1":{"column":"telefone","value":"={{ $json.telefone }}"},"2":{"column":"nome","value":"={{ $json.pushName || '' }}"},"3":{"column":"current_atendimento_id","value":""},"4":{"column":"criado_em","value":"={{ new Date().toISOString() }}"},"5":{"column":"atualizado_em","value":"={{ new Date().toISOString() }}"},"mappingMode":"defineBelow","value":{"telefone":"={{ $('SETUP').item.json.telefone }}","criado_em":"={{ new DateTime($('NUMEROS ACEITOS').item.json.ts).setZone('America/Sao_Paulo')\n    .setLocale('pt-BR')\n    .toFormat('dd/LL/yyyy'); }}","nome":"={{ $('SETUP').item.json.pushName }}","id":"={{ $('Make Contato ID').first().json.contato_id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"atualizado_em","displayName":"atualizado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"45704985-d2df-429d-87bf-2d8673b5a054","name":"Contatos.Append","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3776,800]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"}]},"options":{}},"id":"21bffd4f-e362-48e1-9e7a-b89e32d4988f","name":"Atendimentos.Lookup(current)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4448,928],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty"},"id":"95b91310-342d-4ae2-83a1-98cb9c95e257"}],"combinator":"or"},"options":{}},"id":"13bc2e94-adb5-4abb-8dc6-fb29c9cd3bf6","name":"Precisa criar novo atendimento?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5152,928],"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"name":"atendimento_id","value":"={{ 'atd_' + Date.now() }}","type":"string"}]},"options":{}},"id":"5cd003df-b3cb-4f4c-98a9-570a1385114e","name":"Make Atendimento ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5536,800]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Atendimentos","mode":"name"},"columns":{"0":{"column":"id","value":"={{ $('Make Atendimento ID').first().json.atendimento_id }}"},"1":{"column":"contato_id","value":"={{ $('Contato.Result').first().json.id }}"},"2":{"column":"status","value":"em_aberto"},"3":{"column":"ultimo_evento_em","value":"={{ new Date().toISOString() }}"},"4":{"column":"last_side","value":"={{ $items('Parse Evento',0,0).json.saida ? 'agente' : 'cliente' }}"},"5":{"column":"criado_em","value":"={{ new Date().toISOString() }}"},"6":{"column":"atualizado_em","value":"={{ new Date().toISOString() }}"},"mappingMode":"defineBelow","value":{"id":"={{ $json.atendimento_id }}","contato_id":"={{ $('CLIENTE').item.json.id }}","ultimo_evento_em":"={{ new Date().toDateTime() }}","status":"7b3b688c","criado_em":"={{ (new Date()).toDateTime().format('dd/MM/yyyy') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c41e5157-5b1a-411d-baa3-c29887362109","name":"Atendimentos.Append","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5760,800]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"columns":{"0":{"column":"current_atendimento_id","value":"={{ $('Make Atendimento ID').first().json.atendimento_id }}"},"1":{"column":"atualizado_em","value":"={{ new Date().toISOString() }}"},"mappingMode":"defineBelow","value":{"id":"={{ $('CLIENTE').item.json.id }}","row_number":0,"atualizado_em":"={{ (new Date()).toDateTime() }} "},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"atualizado_em","displayName":"atualizado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7e4db730-2a89-4c0d-bee7-872a480f0816","name":"Contatos.Update current_atendimento_id","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5984,800],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"name":"msg_id","value":"={{ 'msg_' + Date.now() }}","type":"string","id":"01768041-56c7-40fb-aa4c-4065dedb6cd6"},{"name":"direcao","value":"={{ $('Webhook /mac').item.json.body.data.key.fromMe ? 'agente' : 'cliente' }}","type":"string","id":"5e85969d-ad3a-4ec8-aa7b-8832b288f8cb"},{"name":"ultima_do_cliente","value":"={{ $('Parse Evento').item.json ? false : true }}","type":"boolean","id":"752367a4-34f5-4032-b397-38630c8031b8"},{"name":"conteudo","value":"={{ $('Mensagem Completa').first().json.mensagem_completa }}","type":"string","id":"48bd3d96-7fdd-4056-958c-d5c66cb67ee4"},{"name":"ts","value":"={{ new Date($('Parse Evento').first().json.ts).toISOString() }}","type":"string","id":"f430ab47-d05a-4881-b6bf-6ca33794369b"}]},"options":{}},"id":"c58fdfab-0021-466e-a2a0-21ba85c8c0ad","name":"Prep Mensagem","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6880,928]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Mensagens","mode":"name"},"columns":{"0":{"column":"id","value":"={{ $('Prep Mensagem').first().json.msg_id }}"},"1":{"column":"atendimento_id","value":"={{ $('Pick Atendimento').first().json.atendimento_id }}"},"2":{"column":"direcao","value":"={{ $('Prep Mensagem').first().json.direcao }}"},"3":{"column":"conteudo","value":"={{ $('Prep Mensagem').first().json.conteudo }}"},"4":{"column":"ts","value":"={{ $('Prep Mensagem').first().json.ts }}"},"5":{"column":"ultima_do_cliente","value":"={{ $('Prep Mensagem').first().json.ultima_do_cliente }}"},"mappingMode":"defineBelow","value":{"id":"={{ $json.msg_id }}","direcao":"={{ $json.direcao }}","atendimento_id":"={{ $('ATENDIMENTO').item.json.id }}","conteudo":"={{ $json.conteudo }}","ts":"={{ $json.ts }}","ultima_do_cliente":"={{ $json.ultima_do_cliente }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"atendimento_id","displayName":"atendimento_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"direcao","displayName":"direcao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conteudo","displayName":"conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ultima_do_cliente","displayName":"ultima_do_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e56918cc-5ad3-4a64-b277-69ea1975a05c","name":"Mensagens.Append (log)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7104,928]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Atendimentos","mode":"name"},"columns":{"0":{"column":"ultimo_evento_em","value":"={{ new Date().toISOString() }}"},"1":{"column":"last_side","value":"={{ $('Prep Mensagem').first().json.direcao }}"},"2":{"column":"atualizado_em","value":"={{ new Date().toISOString() }}"},"mappingMode":"defineBelow","value":{"id":"={{ $json.atendimento_id }}","contato_id":"={{ $('CLIENTE').item.json.id }}","ultimo_evento_em":"={{ $('ATENDIMENTO').item.json.atualizado_em }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"dec546b2-0289-4cca-a9e4-403dba0d51b8","name":"Atendimentos.Update (touch)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7328,928],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('CLIENTE').item.json.telefone }}\",\n  \"text\": \"{{ $json.MSGS.replace(\"[info_reserva]\", $('Resposta').item.json.reserva) }}\"\n}","options":{}},"id":"1da2b25b-3cad-47de-ad5a-f6386d342b1e","name":"Enviar Mensagem Inicial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9120,1008],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"name":"contato_id","value":"={{ 'ctt_' + Date.now() }}","type":"string","id":"4805a3b2-eec8-4542-8f53-6b239e9491ff"}]},"options":{}},"id":"aaad7eec-8739-4a15-af92-63088009ebdf","name":"Make Contato ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3552,800]},{"parameters":{"operation":"set","key":"=MAC:CLI:{{ $json.id }}","value":"={{$('Contatos.Lookup(telefone)')}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4000,992],"id":"55ecf518-4732-4876-9ca3-61bb29ab9605","name":"SET_CLI_ANTIGO"},{"parameters":{"operation":"set","key":"=MAC:CLI:{{ $json.id }}","value":"={{$('Contatos.Append')}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4000,800],"id":"a4964da5-4a94-4a52-8643-e84b97b5c04c","name":"SET_CLI_NOVO"},{"parameters":{"operation":"set","key":"=MAC:ATD:{{ $('Make Atendimento ID').item.json.atendimento_id }}","value":"={{$('Atendimentos.Append').item.json.toJsonString()}}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6208,800],"id":"79d9a283-dee8-4a7d-b863-14608175ca58","name":"SET_ATD_NOVO","alwaysOutputData":true},{"parameters":{"operation":"set","key":"=MAC:ATD:{{ $json.id }}","value":"={{$('Atendimentos.Lookup(current)')}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6208,992],"id":"abc32aec-d813-496b-82d2-bf3c6193a007","name":"SET_ATD_ANTIGO"},{"parameters":{"url":"https://wa.mutua.digital/instance/connect/MAC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"72EA33A93A77-4A18-BFF1-EC3C628A41DF"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,2672],"id":"05b0ac1c-63d6-4b86-98a3-bd5df8ad1e4f","name":"HTTP Request2"},{"parameters":{"operation":"toBinary","sourceProperty":"=base64","binaryPropertyName":"qrcode","options":{"fileName":"qrcode.png","mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1120,2576],"id":"cfb23e30-2481-4341-8e67-5e03b5875bc7","name":"Convert to File"},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-896,2576],"id":"a6c209c9-6c7a-426a-8188-b398e0ab527e","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"388ef957-a692-4e15-8fc8-dbffb7932338","name":"base64","value":"={{ $json.base64.split(\"base64,\")[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,2576],"id":"cde487f8-63e6-4973-b329-75210235f700","name":"Edit Fields2"},{"parameters":{"path":"whats-mac","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1872,2464],"id":"b4cd2bf5-8d3a-433a-8fdf-4d97b1d0292e","name":"CONECTAR_WHATS","webhookId":"91286aad-fccf-44b5-8ee3-3daa4b2edd87"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2127993e-9d75-4813-95ed-03c79079b39d","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"06a0701d","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGUARDANDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ATENDIMENTO').first().json.status }}","rightValue":"7b3b688c","operator":{"type":"string","operation":"equals"},"id":"5b4fcc01-0523-4331-bf03-077e470c5470"}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO_CONTATO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb9bc737-5e29-45f7-bb77-f6ea7ac8216f","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"f460a703","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RESERVA_EM_ABERTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5881d6c-89d0-47fc-bec5-a9f03fabf1e0","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"aa024903","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RESERVA_FINALIZADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67f99939-4555-4b4e-8a60-fa45b5408a14","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"ATENDIMENTO_FINALIZADO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATENDIMENTO_FINALIZADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e614f857-e4d7-42dc-9e3f-bb7b19f5c5b5","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"a7f40dde","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EM_ATENDIMENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[9120,640],"id":"a493985d-d3a7-4e1c-b7c6-892235180b5d","name":"Switch","alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"+{{ $('CLIENTE').item.json.telefone }}\",\n  \"text\": \"Olá!\"\n}","options":{}},"id":"2619e4d8-f06a-4c25-9f0e-186b484e8334","name":"Enviar Mensagem MAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,2256],"onError":"continueRegularOutput"},{"parameters":{"amount":"={{ (Math.random()*4+2) }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8896,928],"id":"65834252-5065-453e-bd63-d4bf041844a8","name":"Wait","webhookId":"960f7a0a-bf15-4a90-b91e-d584a7ce2c76"},{"parameters":{"assignments":{"assignments":[{"id":"eba7f5a3-5b9d-4b89-a940-d6ec6f49c720","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"b0539cbc-222f-49b4-8f7f-0de57165dd2d","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"d6ad55e8-6438-45b9-888a-626948ec77d0","name":"criado_em","value":"={{ $json.criado_em }}","type":"string"},{"id":"75822fd7-682f-40ac-b4cb-05d66d98784c","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"773d6f98-c27d-4bef-b857-739ff904759b","name":"atualizado_em","value":"={{ $json.atualizado_em }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4224,928],"id":"109d027f-dd55-4764-8e8a-88ead91c01ed","name":"CLIENTE"},{"parameters":{"assignments":{"assignments":[{"id":"eba7f5a3-5b9d-4b89-a940-d6ec6f49c720","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"b0539cbc-222f-49b4-8f7f-0de57165dd2d","name":"nome","value":"={{ $('CLIENTE').item.json.nome }}","type":"string"},{"id":"d6ad55e8-6438-45b9-888a-626948ec77d0","name":"criado_em","value":"={{ $json.criado_em }}","type":"string"},{"id":"75822fd7-682f-40ac-b4cb-05d66d98784c","name":"telefone","value":"={{ $('CLIENTE').item.json.telefone }}","type":"string"},{"id":"773d6f98-c27d-4bef-b857-739ff904759b","name":"atualizado_em","value":"={{ $json.ultimo_evento_em }}","type":"string"},{"id":"5e845c7a-e229-4d42-a955-a1f2bee271cc","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6656,928],"id":"c9bd5a5d-04d6-4fa1-8763-57eeee538884","name":"ATENDIMENTO"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $('CLIENTE').item.json.id }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6432,928],"id":"34b1d778-da06-4f94-949b-f72caf31bbe5","name":"Get row(s) in sheet1"},{"parameters":{"assignments":{"assignments":[{"id":"032c8d61-6d1d-45be-97ee-c27e33969580","name":"MSGS","value":"={{ $json.MSG[(Math.random().round() * ($json.MSG.length-1))].split(\"|\") }}","type":"array"},{"id":"f45c75bb-5ae9-4b18-9017-4dc59a3ea2d6","name":"reserva","value":"=DADOS DA RESERVA","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8320,1008],"id":"46cebed7-ffab-4f6d-9e7a-52f2ab0b79ff","name":"Resposta"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"MSG"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[8160,1040],"id":"e512891e-095a-42fd-8c0b-6673b82bb4e4","name":"Aggregate"},{"parameters":{"url":"https://wa.mutua.digital/instance/connect/MAC-OFICIAL","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"20D5898A2167-4A46-B019-94C465535ED6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,2480],"id":"a51c67d9-c22e-4a42-af07-64e585d1db87","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8672,928],"id":"d6e276bc-cab8-4c28-be5c-751a184c3fd9","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"MSGS","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8480,912],"id":"f6b240a3-9b94-4093-a111-206bc8950a42","name":"Split Out"},{"parameters":{"operation":"set","key":"=MAC:{{ $('SETUP').first().json.telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":86400},"id":"b100735a-a898-4851-aefa-36ffbf9c081b","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-912,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.saida }}","rightValue":"outcoming","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d52daea6-e87b-4ee2-8e5e-745b9098f259"}],"combinator":"and"},"renameOutput":true,"outputKey":"SAÍDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.saida }}","rightValue":"incoming","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENTRADA"}]},"options":{}},"id":"bc459e54-eb29-4dd6-9d54-0f1c22a44615","name":"INTERVENÇÃO HUMANA","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1312,944]},{"parameters":{"operation":"get","propertyName":"block","key":"=MAC:{{ $json.telefone }}_block","options":{}},"id":"0a6e7d55-4ff0-4769-90dc-00c6903491ab","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-640,1136]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"de08acd1-71fc-43ce-8011-304bab87440b"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"5dda1c62-4afe-4b4a-ab36-7fd9d6cd3508","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-416,1168]},{"parameters":{},"id":"51723798-20a8-4641-aa7e-a7285ef95f04","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[544,1920]},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[8896,704],"id":"ebdf87cf-02fa-454a-8640-c5e9f98bd085","name":"Limit"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('ATENDIMENTO').item.json.id }}","status":"a7f40dde","ultimo_evento_em":"={{ new Date().toDateTime() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[9504,592],"id":"33e5c22e-4634-48ce-a8b7-667b41f7e417","name":"Status -> EM_ATENDIMENTO"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('ATENDIMENTO').item.json.id }}","status":"06a0701d","ultimo_evento_em":"={{ new Date().toDateTime() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[9568,832],"id":"f70fe944-c2bc-4ec5-920d-210de488796d","name":"Status -> AGUARDANDO"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1282330620,"mode":"list","cachedResultName":"MSGS_PADRAO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1282330620"},"filtersUI":{"values":[{"lookupColumn":"ETAPA","lookupValue":"={{ $('ATENDIMENTO').first().json.status }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7984,1088],"id":"76616600-1c0c-4227-9ec9-badfdc7c5a55","name":"GET_MSGS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db175988-cd9f-4e4f-bf44-e1ef2646c6bf","leftValue":"={{ $('ATENDIMENTO').item.json.status }}","rightValue":"f460a703","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7536,976],"id":"3ad986e7-841d-4d42-94ff-b20ee619efc5","name":"SE_RESERVA_EM_ABERTO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e53fea41-ae17-4a34-b491-364e8598d883","leftValue":"={{ $('SETUP').item.json.telefone }}","rightValue":"931468609","operator":{"type":"string","operation":"contains"}},{"id":"f1840b98-0b0f-4804-b5ac-f915bbaa50b2","leftValue":"={{ $('SETUP').item.json.telefone }}","rightValue":"947471209","operator":{"type":"string","operation":"contains"}},{"id":"503d1d80-9f90-440a-bace-b36fc079f255","leftValue":"={{ $('SETUP').item.json.telefone }}","rightValue":"932925766","operator":{"type":"string","operation":"contains"}},{"id":"908b5637-d8d5-4029-8c54-ac2d9d8ace2b","leftValue":"={{ $('SETUP').item.json.telefone }}","rightValue":"11968126551","operator":{"type":"string","operation":"contains"}},{"id":"66a54690-ef4d-4231-ba7a-35ae0c79dd73","leftValue":"={{ $('SETUP').item.json.telefone }}","rightValue":"11994654035","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1552,960],"id":"6f691532-5de3-43ab-b47b-0af3663e3b75","name":"NUMEROS ACEITOS"},{"parameters":{"content":"","height":620,"width":1332,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1680,704],"typeVersion":1,"id":"b552bd35-1c36-4214-84d1-f8dacf8589a1","name":"Sticky Note17"},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"5fd87a7d-2f4a-445a-9a5c-ebe7fe20ce69","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"08691634-efe2-4593-8f55-d9c718c69ce3","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,944]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"88c37d20-4a0e-4783-86f6-7b118da86f6b","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2432,928]},{"parameters":{"amount":1},"id":"7a00bfa4-9619-495e-a6d5-20b76d1ff0f1","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1984,928],"webhookId":"f6c81d17-1a7d-40c4-8617-deab7d16595e"},{"parameters":{"operation":"get","key":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","options":{}},"id":"7de4b62e-08d3-471d-9793-ac7710871db2","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1760,928]},{"parameters":{"operation":"get","key":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","options":{}},"id":"14064f4c-43f4-41d1-8670-3e83f399f561","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,928]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"3dff9af7-0412-4095-9801-e4b9c9bf997c","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,928]},{"parameters":{"content":"","height":660,"width":1056,"color":4},"type":"n8n-nodes-base.stickyNote","position":[448,688],"typeVersion":1,"id":"fb9d0bff-a1a5-4300-bab0-f0c487eb4c84","name":"Sticky Note20"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"d80a9af3-a58e-4be8-9d19-35b03463a16d","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[848,1184]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"8c5e59b8-a803-430c-a376-dd09a256bcf3","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,1184]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook /mac').first().json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d3bbabf9-6d0d-43a8-8a7f-32dcd59dba52","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1184,1184]},{"parameters":{"operation":"push","list":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","messageData":"={{ $('Webhook /mac').first().json.body.data.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"88fae681-b453-4e6d-8cd4-da9f86214e3a","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1200]},{"parameters":{"operation":"push","list":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"052b20d5-f226-452f-835e-a7bd7ba4f3fa","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1024]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook /mac').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook /mac').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook /mac').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook /mac').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"dc49a537-d9da-4699-b48a-6a41d1f356a4","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[480,880]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"00b54bb3-3d63-4de1-bb46-1a3022297215","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1008,1184]},{"parameters":{"operation":"push","list":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","messageData":"={{ $('SETUP').item.json.message }}","tail":true},"id":"100baf30-3a6e-43ee-be3b-441bc9e32483","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,704]},{"parameters":{"operation":"push","list":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"44ec908f-9aa1-415d-815e-ab61d66ecfdd","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,864]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"d9254bde-9df0-40ef-a174-16d1bc6c4e64","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,704]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook /mac').first().json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"32c1c03a-c29f-4b8d-aec4-fc1a21f7eb89","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,976]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"39809ccb-9fe8-49c7-a222-a8c5b9449c6b","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1168,976]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"259dbc23-712f-41fb-8e9a-28fdce20a4cb","name":"Convert to File2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,976]},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $('CLIENTE').item.json.id }}"},{"lookupColumn":"status","lookupValue":"f460a703"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7760,880],"id":"8c7e3d98-bdb1-440a-b16a-fe9e15da32eb","name":"GET_RESERVA","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38b9ff4c-cf16-4da8-9fde-0b0f894f4a92","leftValue":"={{ $json.status }}","rightValue":"aa024903","operator":{"type":"string","operation":"notEquals"}},{"id":"b42b7681-7771-4e63-b5db-f146342803e3","leftValue":"={{ $json.status }}","rightValue":"503776da","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[4656,928],"id":"c2221a15-617a-4222-9125-64dc16a1dd13","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4848,928],"id":"8651a423-e313-4575-94ba-34bc23c1df5c","name":"Limit1"},{"parameters":{"operation":"delete","key":"=MAC:MEM:{{ $('SETUP').item.json.telefone }}"},"id":"67533437-0a8b-4b51-a16f-e84644540d6d","name":"Apaga Memoria","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3104,1136]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a905e5c-9106-474b-a7db-36d078c2c407","leftValue":"={{ $('SETUP').item.json.message }}","rightValue":"você confirma?","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,272],"id":"c0b42e19-31f3-47cd-ba47-627ddd2beb5d","name":"If_Confirma_Reserva?"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('SETUP').item.json.telefone }}"}]},"options":{}},"id":"03728d3d-0c02-4019-b59a-baaa832d3b61","name":"Contatos.Lookup(telefone)1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-656,320],"alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"}]},"options":{}},"id":"cca9b1d9-2777-40f4-9311-64e54b138c7b","name":"Atendimentos.Lookup(current)1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,304],"alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"a7f40dde","ultimo_evento_em":"={{ new Date().toDateTime() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,288],"id":"c849d991-ea50-4040-a315-146704c22941","name":"Status -> EM_ATENDIMENTO1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.reserva_id }}","status":"={{ $json.status }}","ultimo_evento_em":"={{ new Date().toDateTime() }}","contato_id":"={{ $json.contato_id }}","origem":"={{ $json.origem }}","destino":"={{ $json.destino }}","data_hora":"={{ new Date($json.data_hora.split(\"/\")[2].split(\" -\")[0]+\"/\"+$json.data_hora.split(\"/\")[1]+\"/\"+$json.data_hora.split(\"/\")[0]+\" \"+$json.data_hora.split(\"- \")[1].split(\"h\")[0]+\":\"+$json.data_hora.split(\"h\")[1]).toDateTime() }}","criada_em":"={{ new Date().toDateTime() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,160],"id":"d28094fe-57a6-48a0-8b3b-70ef43959566","name":"NOVA RESERVA"},{"parameters":{"assignments":{"assignments":[{"id":"fc78715f-bf06-4e7c-a1ad-b97068f16121","name":"reserva_id","value":"={{ 'res_' + Date.now() }}","type":"string"},{"id":"113089a0-7e82-48e5-91d9-47035f6ebb51","name":"contato_id","value":"={{ $('Contatos.Lookup(telefone)1').first().json.id }}","type":"string"},{"id":"d9111352-f85b-4b45-8188-ddd4fdff66b0","name":"origem","value":"={{ $('SETUP').item.json.message.split('Origem: ')[1].split(\"\\n\")[0] }}","type":"string"},{"id":"3a79f055-9e07-402d-bd8a-1980024d7f07","name":"destino","value":"={{ $('SETUP').item.json.message.split('Destino: ')[1].split(\"\\n\")[0] }}","type":"string"},{"id":"86bb9239-8e7e-497a-b1aa-8900fda1bfcc","name":"data_hora","value":"={{ $('SETUP').item.json.message.split('Data: ')[1].split(\"\\n\")[0] }} - {{ $('SETUP').item.json.message.split('Horario: ')[1].split(\"\\n\")[0] }}","type":"string"},{"id":"71b2cbdc-4a96-400f-b9a3-7ed8f45fa57b","name":"status","value":"06a0701d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,176],"id":"043cae7b-6569-4b06-bbcb-8591debe19c4","name":"DADOS_RESERVA"},{"parameters":{"assignments":{"assignments":[{"name":"contato_id","value":"={{ 'ctt_' + Date.now() }}","type":"string","id":"4805a3b2-eec8-4542-8f53-6b239e9491ff"}]},"options":{}},"id":"285f57ab-a87a-4569-9f8b-36f9f1f75214","name":"Make Contato ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"operation":"set","key":"=MAC:RES:{{ $json.id }}","value":"={{$('NOVA RESERVA')}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[512,160],"id":"761056ba-c060-4870-b89a-69c11c2cdf7a","name":"SET_RES_NOVA"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('SETUP').item.json.telefone }}"}]},"options":{}},"id":"57e94a85-da12-4277-8d67-ace88d54de46","name":"Contatos.Lookup(telefone)2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,1280],"alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"},{"lookupColumn":"status","lookupValue":"06a0701d"}]},"options":{}},"id":"11b882fe-3105-4f20-9e93-3a3fd1bb6def","name":"Reservas.Lookup","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-80,1360],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('SETUP').first().json.telefone }}\",\n  \"text\": \"Digite apenas número para confirmação:\\n[1] - SIM\\n[2] - NÃO\"\n}","options":{}},"id":"940e3665-e3b9-4308-8757-95ab0c6bc336","name":"Confirma-Sim-Não","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,160],"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('SETUP').item.json.message }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"0092c13b-87bc-43ca-8c35-a0d86be68850"}],"combinator":"and"},"renameOutput":true,"outputKey":"SIM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b57b0b5d-acf4-4fe6-8ac9-c0041e480acf","leftValue":"={{ $('SETUP').item.json.message }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"erro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,1392],"id":"c26ebe23-54e3-4e22-b07d-c553f2318e17","name":"Switch2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"},{"lookupColumn":"status","lookupValue":"f460a703"}]},"options":{}},"id":"362bf00b-73e2-4fc0-9974-1db29f4ceea2","name":"Reservas.Confirma","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1376],"alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $('Switch2').item.json.contato_id }}"},{"lookupColumn":"status","lookupValue":"06a0701d"}]},"options":{}},"id":"d197824a-a61e-4877-83ee-3629893f8844","name":"Atendimento.Lookup.Reserva","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,1376],"alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ultimo_evento_em":"={{ new Date().toDateTime() }}","status":"f460a703"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,1376],"id":"8ceb9e4a-f9ab-4694-8a03-5312de7a8922","name":"Update row in sheet"},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('SETUP').first().json.telefone }}\",\n  \"text\": \"Digite apenas o número para confirmação:\\n[1] - SIM\\n[2] - NÃO\"\n}","options":{}},"id":"a950fab3-ee10-4be0-8ee2-f1c80dc7c131","name":"Confirma-Sim-Não1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,1744],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('SETUP').first().json.telefone }}\",\n  \"text\": \"Sua reserva foi confirmada com sucesso!\"\n}","options":{}},"id":"73240167-08a7-4bc4-9d18-72ed41c6e629","name":"Reserva-Confirmada","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,1392],"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $('Switch2').item.json.contato_id }}"},{"lookupColumn":"status","lookupValue":"06a0701d"}]},"options":{}},"id":"a6b17239-3b91-40d2-bed9-f9cdcae6ed53","name":"Atendimento.Lookup.Reserva1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,1568],"alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ultimo_evento_em":"={{ new Date().toDateTime() }}","status":"503776da"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,1568],"id":"626436ba-12fb-49f8-81a1-756672520dc0","name":"Update row in sheet1"},{"parameters":{"method":"POST","url":"={{ $('SETUP').first().json.baseUrl }}/message/sendText/{{ $('SETUP').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('SETUP').first().json.telefone }}\",\n  \"text\": \"Sua reserva foi cancelada!\\nPara realizar outra reserva é só chamar novamente.\"\n}","options":{}},"id":"5ded833e-1cdd-42f3-a7d0-0459da6311e0","name":"Reserva-Confirmada1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,1584],"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"},{"lookupColumn":"status","lookupValue":"aa024903"}]},"options":{}},"id":"fea6d4a8-ea09-46a1-9aa3-f1d91448d3c2","name":"Reservas.Cancela","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1568],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51dfa4a0-e308-4466-a13e-8e6670bd5879","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,1456],"id":"af1bdd1e-3f11-4c8e-a5a7-b7c071b2d6cb","name":"If"},{"parameters":{"operation":"set","key":"=MAC:{{ $('SETUP').first().json.telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":86400},"id":"b53f0d40-975d-494e-ad12-d606d0b5f5f1","name":"Block AI1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1408,2288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"055eab97-c79a-4662-bf06-8c1ffad151a2","leftValue":"={{ $json.message }}","rightValue":"/reset","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,1040],"id":"8e756aca-2823-4f18-8d4d-12368f729f81","name":"If1"},{"parameters":{"operation":"delete","key":"=MAC:{{ $('SETUP').first().json.telefone }}_block"},"id":"65fda0c2-1fde-4ff8-9104-fcffe7804d3f","name":"RESET","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-864,912]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2352,1456],"id":"a329b694-589b-45e0-95d6-d6fdb1781b16","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"name":"baseUrl","value":"https://wa.mutua.digital","type":"string","id":"927b369b-9de4-4537-8839-d702163aad34"},{"name":"instancia","value":"mutua","type":"string","id":"5ddf3f9f-1614-4bf2-ab30-e79bdf02409f"},{"name":"apikey","value":"44410F7D2FF4-4E32-B787-8E063DF11626","type":"string","id":"0b9878d8-d603-4b8d-84c7-9aa576281546"},{"name":"sheetId","value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","type":"string","id":"66c6d5a1-46de-4f69-bb1e-403b2f1ff0cc"},{"name":"num_admin","value":"5511952715444","type":"string","id":"7ca03d57-7c31-41ef-945c-2b820cee28f3"}]},"options":{}},"id":"d22511f7-5eea-4848-86ee-5ca33169b088","name":"SETUP1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,1440]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contatos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('SETUP').item.json.telefone }}"}]},"options":{}},"id":"7cb56e5a-425a-452b-8a52-95096bc0b7f3","name":"Contatos.Lookup(telefone)3","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1008,2336],"alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('SETUP1').first().json.sheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":2044236238,"mode":"list","cachedResultName":"Atendimentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=2044236238"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"=06a0701d"}]},"options":{}},"id":"52c68245-0986-42bf-8522-b954f04b5a23","name":"Atendimentos.Lookup(current)2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1600,1440],"alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1360,1440],"id":"380f59c7-7701-4a72-b7a1-d926bfbd34d9","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"103e4096-ddba-4eda-81d3-922a1a44f357","leftValue":"={{ $json.ultimo_evento_em }}","rightValue":"={{ new Date(Date.now() - 10 * 60 * 1000).toDateTime() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1552],"id":"2a3ab6fe-e318-4faf-97b4-2dae4e496a54","name":"If2"},{"parameters":{"operation":"delete","key":"MAC:ALERTAS"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1824,1440],"id":"24c3f622-191f-4cf0-b6b3-7313f0dcc5fc","name":"Redis"},{"parameters":{"operation":"push","list":"MAC:ALERTAS","messageData":"={{ (() => {\n    const tel = $json.telefone || \"\";\n    const primeiroNome = ($json.nome || \"\").split(\" \")[0] || \"\";\n\n    if (!$json.atualizado_em) {\n      return tel + \" \" + primeiroNome + \" (sem data de atualização)\";\n    }\n\n    // Normaliza a string de data (ex: 2025-11-14T07:44:32.459-05:00 -> -0500)\n    const raw = String($json.atualizado_em).trim();\n    const normalizado = raw.replace(/(Z|[+-]\\d\\d):(\\d\\d)$/, '$1$2');\n\n    const atualizado = new Date(normalizado);\n    const tAtualizado = atualizado.getTime();\n\n    if (isNaN(tAtualizado)) {\n      return tel + \" \" + primeiroNome + \" (data inválida: \" + raw + \")\";\n    }\n\n    const diffMin = Math.floor((Date.now() - tAtualizado) / 60000);\n\n    // Converte minutos para horas e minutos\n    const horas = Math.floor(diffMin / 60);\n    const minutos = diffMin % 60;\n\n    // Deixa minutos com 2 dígitos (ex: 1h05min)\n    const minStr = minutos < 10 ? \"0\" + minutos : String(minutos);\n\n    const tempoFmt = \"(\" + horas + \"h\" + minStr + \"min)\";\n\n    return tel + \" \" + primeiroNome + \" \" + tempoFmt;\n  })()\n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-528,1664],"id":"dd1f3703-a145-4d79-88da-b923e67d8b43","name":"Redis1"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"id","lookupValue":"={{ $json.contato_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-784,1600],"id":"314b4183-7e1f-4a74-ab80-0c701736bd3c","name":"GET_CONTATO"},{"parameters":{"operation":"get","propertyName":"alertas","key":"MAC:ALERTAS","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1072,1344],"id":"73e63fab-6fd5-44c2-8024-63950d780622","name":"Redis2"},{"parameters":{"method":"POST","url":"={{ $('SETUP1').first().json.baseUrl }}/message/sendText/{{ $('SETUP1').first().json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SETUP1').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"+{{ $('SETUP1').first().json.num_admin }}\",\n  \"text\": \"Os clientes abaixo estão aguardando retorno!\\n{{ $json.alertas.join(\"\\\\n\") }}\"\n}","options":{}},"id":"1625297d-9d8d-492e-917d-9c3179835a19","name":"Confirma-Sim-Não2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,1360],"onError":"continueRegularOutput"}],"connections":{"Webhook /mac":{"main":[[{"node":"SETUP","type":"main","index":0}]]},"SETUP":{"main":[[{"node":"NUMEROS ACEITOS","type":"main","index":0}]]},"Parse Evento":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Contatos.Lookup(telefone)":{"main":[[{"node":"Contato existe?","type":"main","index":0}]]},"Contato existe?":{"main":[[{"node":"Make Contato ID","type":"main","index":0}],[{"node":"SET_CLI_ANTIGO","type":"main","index":0}]]},"Contatos.Append":{"main":[[{"node":"SET_CLI_NOVO","type":"main","index":0}]]},"Atendimentos.Lookup(current)":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Precisa criar novo atendimento?":{"main":[[{"node":"Make Atendimento ID","type":"main","index":0}],[{"node":"SET_ATD_ANTIGO","type":"main","index":0}]]},"Make Atendimento ID":{"main":[[{"node":"Atendimentos.Append","type":"main","index":0}]]},"Atendimentos.Append":{"main":[[{"node":"Contatos.Update current_atendimento_id","type":"main","index":0}]]},"Contatos.Update current_atendimento_id":{"main":[[{"node":"SET_ATD_NOVO","type":"main","index":0}]]},"Prep Mensagem":{"main":[[{"node":"Mensagens.Append (log)","type":"main","index":0}]]},"Mensagens.Append (log)":{"main":[[{"node":"Atendimentos.Update (touch)","type":"main","index":0}]]},"Atendimentos.Update (touch)":{"main":[[{"node":"SE_RESERVA_EM_ABERTO","type":"main","index":0}]]},"Make Contato ID":{"main":[[{"node":"Contatos.Append","type":"main","index":0}]]},"SET_CLI_ANTIGO":{"main":[[{"node":"CLIENTE","type":"main","index":0}]]},"SET_CLI_NOVO":{"main":[[{"node":"CLIENTE","type":"main","index":0}]]},"SET_ATD_NOVO":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"SET_ATD_ANTIGO":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"CONECTAR_WHATS":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Status -> EM_ATENDIMENTO","type":"main","index":0}],[],[{"node":"Status -> EM_ATENDIMENTO","type":"main","index":0}],[{"node":"Status -> EM_ATENDIMENTO","type":"main","index":0}],[{"node":"Status -> AGUARDANDO","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar Mensagem Inicial","type":"main","index":0}]]},"CLIENTE":{"main":[[{"node":"Atendimentos.Lookup(current)","type":"main","index":0}]]},"ATENDIMENTO":{"main":[[{"node":"Prep Mensagem","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"ATENDIMENTO","type":"main","index":0}]]},"Resposta":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Enviar Mensagem Inicial":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"INTERVENÇÃO HUMANA":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Parse Evento","type":"main","index":0}],[{"node":"Contatos.Lookup(telefone)2","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"GET_MSGS":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"SE_RESERVA_EM_ABERTO":{"main":[[{"node":"GET_RESERVA","type":"main","index":0}],[{"node":"GET_MSGS","type":"main","index":0}]]},"NUMEROS ACEITOS":{"main":[[{"node":"INTERVENÇÃO HUMANA","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Contatos.Lookup(telefone)","type":"main","index":0},{"node":"Apaga Memoria","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"GET_RESERVA":{"main":[[{"node":"GET_MSGS","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Precisa criar novo atendimento?","type":"main","index":0}]]},"Block AI":{"main":[[{"node":"Contatos.Lookup(telefone)1","type":"main","index":0}]]},"If_Confirma_Reserva?":{"main":[[{"node":"DADOS_RESERVA","type":"main","index":0}]]},"Contatos.Lookup(telefone)1":{"main":[[{"node":"Atendimentos.Lookup(current)1","type":"main","index":0}]]},"Atendimentos.Lookup(current)1":{"main":[[{"node":"Status -> EM_ATENDIMENTO1","type":"main","index":0}]]},"Status -> EM_ATENDIMENTO1":{"main":[[{"node":"If_Confirma_Reserva?","type":"main","index":0}]]},"DADOS_RESERVA":{"main":[[{"node":"NOVA RESERVA","type":"main","index":0}]]},"NOVA RESERVA":{"main":[[{"node":"SET_RES_NOVA","type":"main","index":0}]]},"Contatos.Lookup(telefone)2":{"main":[[{"node":"Reservas.Lookup","type":"main","index":0}]]},"Reservas.Lookup":{"main":[[{"node":"If","type":"main","index":0}]]},"SET_RES_NOVA":{"main":[[{"node":"Confirma-Sim-Não","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Reservas.Confirma","type":"main","index":0}],[{"node":"Reservas.Cancela","type":"main","index":0}],[{"node":"Confirma-Sim-Não1","type":"main","index":0}]]},"Reservas.Confirma":{"main":[[{"node":"Atendimento.Lookup.Reserva","type":"main","index":0}]]},"Atendimento.Lookup.Reserva":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Reserva-Confirmada","type":"main","index":0}]]},"Atendimento.Lookup.Reserva1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Reserva-Confirmada1","type":"main","index":0}]]},"Reservas.Cancela":{"main":[[{"node":"Atendimento.Lookup.Reserva1","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"If1":{"main":[[{"node":"RESET","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"RESET":{"main":[[{"node":"Get Block Chat Id","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"SETUP1","type":"main","index":0}]]},"SETUP1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Atendimentos.Lookup(current)2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"GET_CONTATO","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Atendimentos.Lookup(current)2","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"GET_CONTATO":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Confirma-Sim-Não2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook /mac":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.12.2","content-length":"1272","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mutua","data":{"key":{"remoteJid":"5511931468609@s.whatsapp.net","remoteJidAlt":"83270825959582@lid","fromMe":false,"id":"3AAF707117521D477F88"},"pushName":"Renato Marques (Pessoal)","status":"DELIVERY_ACK","message":{"conversation":"Ola","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":8,"1":135,"2":159,"3":77,"4":151,"5":136,"6":134,"7":216,"8":96,"9":159},"senderTimestamp":1762377999,"recipientKeyHash":{"0":98,"1":169,"2":21,"3":169,"4":2,"5":181,"6":115,"7":214,"8":202,"9":39},"recipientTimestamp":1762945599},"deviceListMetadataVersion":2,"messageSecret":{"0":92,"1":37,"2":198,"3":179,"4":165,"5":233,"6":8,"7":158,"8":72,"9":177,"10":229,"11":200,"12":32,"13":199,"14":251,"15":149,"16":77,"17":145,"18":34,"19":97,"20":38,"21":168,"22":42,"23":101,"24":246,"25":83,"26":89,"27":223,"28":162,"29":80,"30":201,"31":172}}},"messageType":"conversation","messageTimestamp":1763123021,"instanceId":"9b400f31-53d8-41cf-a77b-2437a66f0305","source":"ios"},"destination":"http://n8n:5678/webhook/mac","date_time":"2025-11-14T09:23:41.893Z","sender":"5511952715444@s.whatsapp.net","server_url":"https://wa.mutua.digital","apikey":"44410F7D2FF4-4E32-B787-8E063DF11626"},"webhookUrl":"https://n8n.mutua.digital/webhook/mac","executionMode":"production"}}]},"versionId":"7e3675a3-db20-4d9e-b8c9-230d6c7114ed","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T19:46:25.970Z","createdAt":"2025-12-14T19:46:25.970Z","role":"workflow:owner","workflowId":"hAmsqsFfMQfS3R0j","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[]}