[mac]-conectar-evo-okL5OEu6KviZZRgn.json
{"updatedAt":"2025-12-29T17:34:16.597Z","createdAt":"2025-12-14T20:24:51.226Z","id":"okL5OEu6KviZZRgn","name":"[MAC] CONECTAR EVO","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"=<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Conectar WhatsApp — Mútua Digital</title>\n  <style>\n    :root{\n      --mutua-1:#FF9B00;\n      --mutua-2:#FF8300;\n      --mutua-3:#FF7000;\n      --mutua-4:#FF5500;\n      --mutua-5:#FF4F42;\n      --mutua-6:#F23E25;\n      --gray-1:#666666;\n      --gray-2:#C4C4C4;\n      --bg:#fafafa;\n      --card:#ffffff;\n    }\n    *{box-sizing:border-box}\n    body{\n      margin:0;\n      font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;\n      background: radial-gradient(1200px 600px at 10% -10%, rgba(255,155,0,.20), transparent 55%),\n                  radial-gradient(1200px 600px at 90% -10%, rgba(242,62,37,.16), transparent 55%),\n                  var(--bg);\n      color:var(--gray-1);\n    }\n    header{\n      padding:24px 16px 8px;\n      display:flex;\n      justify-content:center;\n    }\n    .wrap{\n      max-width: 980px;\n      margin: 0 auto;\n      padding: 8px 16px 28px;\n    }\n    .topbar{\n      display:flex;\n      align-items:center;\n      gap:14px;\n      padding:14px 16px;\n      border-radius: 16px;\n      background: linear-gradient(90deg, rgba(255,155,0,.10), rgba(242,62,37,.08));\n      border: 1px solid rgba(196,196,196,.55);\n    }\n    .logo{\n      width:160px;\n      height:auto;\n      display:block;\n    }\n    .title{\n      display:flex;\n      flex-direction:column;\n      gap:2px;\n      line-height:1.2;\n    }\n    .title h1{\n      margin:0;\n      font-size:18px;\n      color:#333;\n      font-weight:700;\n    }\n    .title p{\n      margin:0;\n      font-size:13px;\n      opacity:.9;\n    }\n    .grid{\n      margin-top:14px;\n      display:grid;\n      grid-template-columns: 1.1fr .9fr;\n      gap:14px;\n    }\n    @media (max-width: 860px){\n      .grid{grid-template-columns:1fr}\n      .logo{width:140px}\n    }\n    .card{\n      background:var(--card);\n      border:1px solid rgba(196,196,196,.55);\n      border-radius:18px;\n      box-shadow: 0 10px 30px rgba(0,0,0,.05);\n      padding:16px;\n    }\n    .badge{\n      display:inline-flex;\n      align-items:center;\n      gap:8px;\n      padding:6px 10px;\n      border-radius: 999px;\n      background: linear-gradient(90deg, rgba(255,155,0,.18), rgba(242,62,37,.14));\n      border: 1px solid rgba(255,155,0,.25);\n      font-size:12px;\n      color:#333;\n      font-weight:600;\n    }\n    ol{\n      margin:12px 0 0 18px;\n      padding:0;\n    }\n    li{\n      margin:10px 0;\n      font-size:14px;\n      line-height:1.45;\n    }\n    .hint{\n      margin-top:12px;\n      padding:12px;\n      border-radius:14px;\n      border:1px dashed rgba(196,196,196,.75);\n      background: rgba(196,196,196,.08);\n      font-size:13px;\n    }\n    .qrbox{\n      display:flex;\n      flex-direction:column;\n      gap:10px;\n      align-items:center;\n      justify-content:center;\n    }\n    .qr{\n      width: 320px;\n      max-width: 100%;\n      background:#fff;\n      border-radius: 18px;\n      border: 1px solid rgba(196,196,196,.65);\n      padding:14px;\n    }\n    .actions{\n      display:flex;\n      gap:10px;\n      flex-wrap:wrap;\n      justify-content:center;\n      margin-top:6px;\n    }\n    .btn{\n      appearance:none;\n      border:0;\n      cursor:pointer;\n      padding:10px 12px;\n      border-radius: 12px;\n      font-weight:700;\n      font-size:13px;\n      color:#222;\n      background: linear-gradient(90deg, rgba(255,155,0,.90), rgba(242,62,37,.88));\n    }\n    .btn.secondary{\n      background: transparent;\n      border:1px solid rgba(196,196,196,.9);\n      color:#333;\n      font-weight:700;\n    }\n    .footer{\n      margin-top:12px;\n      font-size:12px;\n      opacity:.85;\n      text-align:center;\n    }\n    code{background: rgba(196,196,196,.18); padding:2px 6px; border-radius:8px}\n  </style>\n</head>\n\n<body>\n  <header>\n    <div class=\"wrap\" style=\"width:100%\">\n      <div class=\"topbar\">\n        <!-- Troque o src para o seu logo público (recomendado) -->\n        <img class=\"logo\" src=\"https://mutua.digital/wp-content/uploads/2023/01/mutua-digital-logo.svg\" alt=\"Mútua Digital\" />\n        <div class=\"title\">\n          <h1>Conectar WhatsApp ao Atendimento Automatizado: MAC Transporte Executivo</h1>\n          <p>Escaneie o QR Code abaixo no WhatsApp Business para concluir a conexão com segurança.</p>\n        </div>\n      </div>\n\n      <div class=\"grid\">\n        <section class=\"card\">\n          <span class=\"badge\">Instruções rápidas</span>\n          <ol>\n            <li>No celular, abra o <b>WhatsApp Business</b>.</li>\n            <li>Vá em <b>Configurações</b> → <b>Aparelhos conectados</b>.</li>\n            <li>Toque em <b>Conectar um aparelho</b>.</li>\n            <li>Aponte a câmera para o QR Code desta página.</li>\n            <li>Se o QR expirar, clique em <b>Atualizar QR</b>.</li>\n          </ol>\n\n          <div class=\"hint\">\n            <b>Dicas:</b> mantenha o celular com internet durante a conexão. Se aparecer “QR inválido”, atualize a página.\n            Em alguns casos o WhatsApp exige desbloqueio por biometria/senha antes de escanear.\n          </div>\n        </section>\n\n        <aside class=\"card qrbox\">\n          <span class=\"badge\">Seu QR Code</span>\n\n          <div class=\"qr\">\n            <img\n              src=\"data:image/png;base64,{{ $json.base64 }}\"\n              alt=\"QR Code de conexão do WhatsApp\"\n              style=\"width:100%; height:auto; display:block;\"\n            />\n          </div>\n\n          <div class=\"actions\">\n            <button class=\"btn\" onclick=\"location.reload()\">Atualizar QR</button>\n            <button class=\"btn secondary\" onclick=\"window.print()\">Imprimir / Salvar PDF</button>\n          </div>\n\n          <div class=\"footer\">\n            Suporte Mútua Digital • Se necessário, envie um print desta tela para sua equipe.\n          </div>\n        </aside>\n      </div>\n    </div>\n  </header>\n</body>\n</html>\n","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,16],"id":"efa2156d-9480-4486-ab29-b1783e43e1e3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"388ef957-a692-4e15-8fc8-dbffb7932338","name":"base64","value":"={{ $json.base64.split(\"base64,\")[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,16],"id":"813c4a80-b646-4c00-be4e-5ddc07c7190f","name":"Edit Fields2"},{"parameters":{"path":"whats-mac","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"336cb9ee-1475-4c2d-b1c1-70527cf2cfe0","name":"CONECTAR_WHATS","webhookId":"91286aad-fccf-44b5-8ee3-3daa4b2edd87"},{"parameters":{"url":"https://wa.macexecutivo.com.br/instance/connect/MAC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"A4D7BFA8CAE8-41DC-9E39-CCA859AFCBD2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,16],"id":"7742c0ba-9ca4-44ac-b107-731e8a7a5956","name":"HTTP Request"}],"connections":{"Edit Fields2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"CONECTAR_WHATS":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e7283448-0b82-4bc8-a54a-829603eb4351","activeVersionId":"e7283448-0b82-4bc8-a54a-829603eb4351","triggerCount":1,"shared":[{"updatedAt":"2025-12-14T20:24:51.226Z","createdAt":"2025-12-14T20:24:51.226Z","role":"workflow:owner","workflowId":"okL5OEu6KviZZRgn","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":{"updatedAt":"2025-12-29T17:34:16.599Z","createdAt":"2025-12-29T17:34:16.599Z","versionId":"e7283448-0b82-4bc8-a54a-829603eb4351","workflowId":"okL5OEu6KviZZRgn","nodes":[{"parameters":{"respondWith":"text","responseBody":"=<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Conectar WhatsApp — Mútua Digital</title>\n  <style>\n    :root{\n      --mutua-1:#FF9B00;\n      --mutua-2:#FF8300;\n      --mutua-3:#FF7000;\n      --mutua-4:#FF5500;\n      --mutua-5:#FF4F42;\n      --mutua-6:#F23E25;\n      --gray-1:#666666;\n      --gray-2:#C4C4C4;\n      --bg:#fafafa;\n      --card:#ffffff;\n    }\n    *{box-sizing:border-box}\n    body{\n      margin:0;\n      font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;\n      background: radial-gradient(1200px 600px at 10% -10%, rgba(255,155,0,.20), transparent 55%),\n                  radial-gradient(1200px 600px at 90% -10%, rgba(242,62,37,.16), transparent 55%),\n                  var(--bg);\n      color:var(--gray-1);\n    }\n    header{\n      padding:24px 16px 8px;\n      display:flex;\n      justify-content:center;\n    }\n    .wrap{\n      max-width: 980px;\n      margin: 0 auto;\n      padding: 8px 16px 28px;\n    }\n    .topbar{\n      display:flex;\n      align-items:center;\n      gap:14px;\n      padding:14px 16px;\n      border-radius: 16px;\n      background: linear-gradient(90deg, rgba(255,155,0,.10), rgba(242,62,37,.08));\n      border: 1px solid rgba(196,196,196,.55);\n    }\n    .logo{\n      width:160px;\n      height:auto;\n      display:block;\n    }\n    .title{\n      display:flex;\n      flex-direction:column;\n      gap:2px;\n      line-height:1.2;\n    }\n    .title h1{\n      margin:0;\n      font-size:18px;\n      color:#333;\n      font-weight:700;\n    }\n    .title p{\n      margin:0;\n      font-size:13px;\n      opacity:.9;\n    }\n    .grid{\n      margin-top:14px;\n      display:grid;\n      grid-template-columns: 1.1fr .9fr;\n      gap:14px;\n    }\n    @media (max-width: 860px){\n      .grid{grid-template-columns:1fr}\n      .logo{width:140px}\n    }\n    .card{\n      background:var(--card);\n      border:1px solid rgba(196,196,196,.55);\n      border-radius:18px;\n      box-shadow: 0 10px 30px rgba(0,0,0,.05);\n      padding:16px;\n    }\n    .badge{\n      display:inline-flex;\n      align-items:center;\n      gap:8px;\n      padding:6px 10px;\n      border-radius: 999px;\n      background: linear-gradient(90deg, rgba(255,155,0,.18), rgba(242,62,37,.14));\n      border: 1px solid rgba(255,155,0,.25);\n      font-size:12px;\n      color:#333;\n      font-weight:600;\n    }\n    ol{\n      margin:12px 0 0 18px;\n      padding:0;\n    }\n    li{\n      margin:10px 0;\n      font-size:14px;\n      line-height:1.45;\n    }\n    .hint{\n      margin-top:12px;\n      padding:12px;\n      border-radius:14px;\n      border:1px dashed rgba(196,196,196,.75);\n      background: rgba(196,196,196,.08);\n      font-size:13px;\n    }\n    .qrbox{\n      display:flex;\n      flex-direction:column;\n      gap:10px;\n      align-items:center;\n      justify-content:center;\n    }\n    .qr{\n      width: 320px;\n      max-width: 100%;\n      background:#fff;\n      border-radius: 18px;\n      border: 1px solid rgba(196,196,196,.65);\n      padding:14px;\n    }\n    .actions{\n      display:flex;\n      gap:10px;\n      flex-wrap:wrap;\n      justify-content:center;\n      margin-top:6px;\n    }\n    .btn{\n      appearance:none;\n      border:0;\n      cursor:pointer;\n      padding:10px 12px;\n      border-radius: 12px;\n      font-weight:700;\n      font-size:13px;\n      color:#222;\n      background: linear-gradient(90deg, rgba(255,155,0,.90), rgba(242,62,37,.88));\n    }\n    .btn.secondary{\n      background: transparent;\n      border:1px solid rgba(196,196,196,.9);\n      color:#333;\n      font-weight:700;\n    }\n    .footer{\n      margin-top:12px;\n      font-size:12px;\n      opacity:.85;\n      text-align:center;\n    }\n    code{background: rgba(196,196,196,.18); padding:2px 6px; border-radius:8px}\n  </style>\n</head>\n\n<body>\n  <header>\n    <div class=\"wrap\" style=\"width:100%\">\n      <div class=\"topbar\">\n        <!-- Troque o src para o seu logo público (recomendado) -->\n        <img class=\"logo\" src=\"https://mutua.digital/wp-content/uploads/2023/01/mutua-digital-logo.svg\" alt=\"Mútua Digital\" />\n        <div class=\"title\">\n          <h1>Conectar WhatsApp ao Atendimento Automatizado: MAC Transporte Executivo</h1>\n          <p>Escaneie o QR Code abaixo no WhatsApp Business para concluir a conexão com segurança.</p>\n        </div>\n      </div>\n\n      <div class=\"grid\">\n        <section class=\"card\">\n          <span class=\"badge\">Instruções rápidas</span>\n          <ol>\n            <li>No celular, abra o <b>WhatsApp Business</b>.</li>\n            <li>Vá em <b>Configurações</b> → <b>Aparelhos conectados</b>.</li>\n            <li>Toque em <b>Conectar um aparelho</b>.</li>\n            <li>Aponte a câmera para o QR Code desta página.</li>\n            <li>Se o QR expirar, clique em <b>Atualizar QR</b>.</li>\n          </ol>\n\n          <div class=\"hint\">\n            <b>Dicas:</b> mantenha o celular com internet durante a conexão. Se aparecer “QR inválido”, atualize a página.\n            Em alguns casos o WhatsApp exige desbloqueio por biometria/senha antes de escanear.\n          </div>\n        </section>\n\n        <aside class=\"card qrbox\">\n          <span class=\"badge\">Seu QR Code</span>\n\n          <div class=\"qr\">\n            <img\n              src=\"data:image/png;base64,{{ $json.base64 }}\"\n              alt=\"QR Code de conexão do WhatsApp\"\n              style=\"width:100%; height:auto; display:block;\"\n            />\n          </div>\n\n          <div class=\"actions\">\n            <button class=\"btn\" onclick=\"location.reload()\">Atualizar QR</button>\n            <button class=\"btn secondary\" onclick=\"window.print()\">Imprimir / Salvar PDF</button>\n          </div>\n\n          <div class=\"footer\">\n            Suporte Mútua Digital • Se necessário, envie um print desta tela para sua equipe.\n          </div>\n        </aside>\n      </div>\n    </div>\n  </header>\n</body>\n</html>\n","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,16],"id":"efa2156d-9480-4486-ab29-b1783e43e1e3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"388ef957-a692-4e15-8fc8-dbffb7932338","name":"base64","value":"={{ $json.base64.split(\"base64,\")[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,16],"id":"813c4a80-b646-4c00-be4e-5ddc07c7190f","name":"Edit Fields2"},{"parameters":{"path":"whats-mac","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"336cb9ee-1475-4c2d-b1c1-70527cf2cfe0","name":"CONECTAR_WHATS","webhookId":"91286aad-fccf-44b5-8ee3-3daa4b2edd87"},{"parameters":{"url":"https://wa.macexecutivo.com.br/instance/connect/MAC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"A4D7BFA8CAE8-41DC-9E39-CCA859AFCBD2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,16],"id":"7742c0ba-9ca4-44ac-b107-731e8a7a5956","name":"HTTP Request"}],"connections":{"Edit Fields2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"CONECTAR_WHATS":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"authors":"Renato Marques","name":null,"description":null},"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}