[mac]-buscar_reserva_em_aberto-VyufsUFec5hyMHTh.json
{"updatedAt":"2026-01-14T22:25:09.904Z","createdAt":"2025-12-14T20:04:23.213Z","id":"VyufsUFec5hyMHTh","name":"[MAC] buscar_reserva_em_aberto","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"telefone\": \"5511931468609\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,224],"id":"e70155fa-56ea-41ab-b4a3-37657fe1f83e","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b3ca81f-cbc3-498c-86f5-e5c137f8fe1c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec806692-4e29-48b2-b4a4-012726cace24","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,224],"id":"7c19da0a-7d28-4b2e-a54c-6cc872594ca7","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"existe\": true,\n  \"reserva\": {\n    \"id\": \"{{ $json.id }}\",\n    \"origem\": \"{{ $json.origem }}\",\n    \"destino\": \"{{ $json.destino }}\",\n    \"data_hora\": \"{{ $json.data_hora }}\",\n    \"status\": \"{{ $json.status }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,144],"id":"260000f1-41f4-472f-8c31-9ee84c06b0b9","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"existe\": false \n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,352],"id":"c23c82bc-313a-45e5-8b8f-08de66bfefd9","name":"Edit Fields1"},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"filtersUI":{"values":[{"lookupColumn":"contato_id","lookupValue":"={{ $json.id }}"},{"lookupColumn":"status","lookupValue":"f460a703"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-816,224],"id":"2901e539-a1fc-4620-8dc5-cce3b299ebad","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-992,224],"id":"c0d85720-513e-4d17-a916-13a6892bbd37","name":"GET_CONTATO","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f6551d-fb8f-48bc-a9a4-54b004071f18","leftValue":"={{ $json.data_hora }}","rightValue":"={{ $now.minus({hours: 2}) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-608,224],"id":"0ea3a328-9dd8-4797-913c-716cb12040c6","name":"Filter","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"GET_CONTATO","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"GET_CONTATO":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"5511931468609"}}]},"versionId":"56ab6b35-ff47-487e-8dc9-c66b28855666","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:04:23.213Z","createdAt":"2025-12-14T20:04:23.213Z","role":"workflow:owner","workflowId":"VyufsUFec5hyMHTh","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}