[mac]-buscar_contato_por_telefone-v3Phy4QYRGpmN1iW.json
{"updatedAt":"2025-12-14T20:04:07.182Z","createdAt":"2025-12-14T20:04:07.182Z","id":"v3Phy4QYRGpmN1iW","name":"[MAC] buscar_contato_por_telefone","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"telefone\": \"{{$json.telefone}}\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,96],"id":"a2880c43-5ba1-4e9a-9e6f-04ba2f6df087","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,96],"id":"698641f2-db9a-4974-b353-084da4a574e1","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b3ca81f-cbc3-498c-86f5-e5c137f8fe1c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,96],"id":"3cb1d014-419f-41c3-b142-c62cf3a27c2a","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"encontrado\": true,\n  \"contato\": {\n    \"id\": \"{{ $json.id }}\",\n    \"nome\": \"{{ $json.nome }}\",\n    \"telefone\": \"{{ $json.telefone }}\",\n    \"status\": \"{{ $json.status }}\",\n    \"criado_em\": \"{{ $json.criado_em }}\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"7005f05a-33e8-46ad-bd4c-9da6c5bb0ee3","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"encontrado\": false\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,208],"id":"4cd9de8d-7e9f-49eb-9c60-05889512c66f","name":"Edit Fields1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"5511931468609"}}]},"versionId":"1c9b200d-b133-4617-8c94-e6d2f4d242a9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:04:07.182Z","createdAt":"2025-12-14T20:04:07.182Z","role":"workflow:owner","workflowId":"v3Phy4QYRGpmN1iW","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}