[mac]-registrar_reserva-mWVta9ikFzxw5bWb.json
{"updatedAt":"2026-01-15T15:22:05.852Z","createdAt":"2025-12-14T20:05:44.576Z","id":"mWVta9ikFzxw5bWb","name":"[MAC] registrar_reserva","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"telefone\": \"5511931468609\",\n  \"origem\": \"Rua X\",\n  \"destino\": \"Aeroporto de Congonhas\",\n  \"data_hora\": \"2025-02-15 09:30\",\n  \"status\": \"f460a703\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,112],"id":"fb514fdb-bc60-40eb-8a2e-9e52b19740e5","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"criado\": true,\n  \"reserva_id\": \"{{ $json.id }}\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,128],"id":"9d3f9781-be33-4e42-8902-666ddc0c2b00","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ 'res_' + Date.now() }}","contato_id":"={{ $json.telefone }}","origem":"={{ $('When Executed by Another Workflow').item.json.origem }}","destino":"={{ $('When Executed by Another Workflow').item.json.destino }}","data_hora":"={{ $('When Executed by Another Workflow').item.json.data_hora }}","status":"=f460a703","criada_em":"={{ $now }}","ultimo_evento_em":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,128],"id":"8b2a4e3a-e2ae-404b-8568-3f119d147d3d","name":"Append row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,96],"id":"153830a6-8976-4aad-bfd8-62f15116fd99","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"5511931468609","origem":"Rua X","destino":"Aeroporto de Congonhas","data_hora":"2025-02-15 09:30","status":"f460a703"}}]},"versionId":"293707cf-57ca-4fa8-9751-604c64358846","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:05:44.576Z","createdAt":"2025-12-14T20:05:44.576Z","role":"workflow:owner","workflowId":"mWVta9ikFzxw5bWb","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}