[mac]-criar_contato-uvBdX5xok6YjjX0v.json
{"updatedAt":"2026-01-14T22:41:55.470Z","createdAt":"2025-12-14T20:05:23.714Z","id":"uvBdX5xok6YjjX0v","name":"[MAC] criar_contato","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"nome\": \"João Silva\",\n  \"telefone\": \"5511999999999\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,16],"id":"52054f43-e85b-45e7-8f26-e4e1c2f31481","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"criado\": true,\n  \"contato_id\": \"{{ $json.id }}\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,16],"id":"bb2f9797-5aeb-45f9-9981-a2f24438621a","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":132333865,"mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=132333865"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","nome":"={{ $json.nome }}","criado_em":"={{ $now }}","ultimo_evento_em":"={{ $now }}","id":"={{ 'ctt_' + Date.now() }}","status":"a7f40dde","motorista":"false","exclusao":"false"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"motorista","displayName":"motorista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"exclusao","displayName":"exclusao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_confirmado","displayName":"nome_confirmado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem_preferida","displayName":"origem_preferida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino_preferido","displayName":"destino_preferido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-160,16],"id":"866c5516-d369-41b8-8780-31678e8b4694","name":"Append or update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"nome":"João Silva","telefone":"5511999999999"}}]},"versionId":"63f814c1-fb1d-45c9-ad26-5106dbc3322d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:05:23.714Z","createdAt":"2025-12-14T20:05:23.714Z","role":"workflow:owner","workflowId":"uvBdX5xok6YjjX0v","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}