[mac]-cancelar_reserva-dJ9ErQBa8ADMTLct.json
{"updatedAt":"2025-12-14T20:04:38.477Z","createdAt":"2025-12-14T20:04:38.477Z","id":"dJ9ErQBa8ADMTLct","name":"[MAC] cancelar_reserva","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"reserva_id\": \"res_1763124268042\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1600,-80],"id":"451304ae-980e-4a71-a7ad-86a833f558fe","name":"When Executed by Another Workflow","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ok\": true\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,-80],"id":"9dad9924-6808-470e-b5d2-bdb84c78416c","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.reserva_id }}","status":"7bbdf177","ultimo_evento_em":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1344,-80],"id":"766d1ed1-83e1-43ae-b4cc-99beb3e37308","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"reserva_id":"res_1763124268042"}}]},"versionId":"7d6271d4-77a3-4f1a-a94a-8764f67a5b36","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T20:04:38.477Z","createdAt":"2025-12-14T20:04:38.477Z","role":"workflow:owner","workflowId":"dJ9ErQBa8ADMTLct","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.820Z","createdAt":"2025-12-14T19:46:37.820Z","id":"5AwIGxYxGitvtMKp","name":"MAC"}]}