fecha-reservas-3RwU1XKKLRIEPIkF.json
{"updatedAt":"2026-01-15T15:33:20.643Z","createdAt":"2026-01-15T15:30:07.571Z","id":"3RwU1XKKLRIEPIkF","name":"FECHA RESERVAS","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,-64],"id":"61fef7ad-76fa-4382-8f24-7afaa5c3fb43","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"aa024903"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,-48],"id":"1d532626-0b81-4066-9f60-1b94ad697af4","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f6551d-fb8f-48bc-a9a4-54b004071f18","leftValue":"={{ $json.data_hora }}","rightValue":"={{ $now.minus({hours: 2}) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[288,-48],"id":"82c055a1-e61d-4888-ad1d-54ca3723c983","name":"Filter","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-176,-64],"id":"cb58831a-d9f6-4fff-a512-3c4955b1788c","name":"Schedule Trigger"}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"Filter":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d47f54c5-1b39-434b-9b27-855d15c54bfd","activeVersionId":"d47f54c5-1b39-434b-9b27-855d15c54bfd","triggerCount":1,"shared":[{"updatedAt":"2026-01-15T15:30:07.571Z","createdAt":"2026-01-15T15:30:07.571Z","role":"workflow:owner","workflowId":"3RwU1XKKLRIEPIkF","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":{"updatedAt":"2026-01-15T15:33:20.645Z","createdAt":"2026-01-15T15:33:20.645Z","versionId":"d47f54c5-1b39-434b-9b27-855d15c54bfd","workflowId":"3RwU1XKKLRIEPIkF","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,-64],"id":"61fef7ad-76fa-4382-8f24-7afaa5c3fb43","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs","mode":"list","cachedResultName":"banco_automacao_mac","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1137228010,"mode":"list","cachedResultName":"Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y75XZ22O6RMTriLO_RGNy_gEXIl30TynP8KQmxxsWZs/edit#gid=1137228010"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"aa024903"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato_id","displayName":"contato_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"destino","displayName":"destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criada_em","displayName":"criada_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultimo_evento_em","displayName":"ultimo_evento_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,-48],"id":"1d532626-0b81-4066-9f60-1b94ad697af4","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0eoq2U9aNncEl4Wu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f6551d-fb8f-48bc-a9a4-54b004071f18","leftValue":"={{ $json.data_hora }}","rightValue":"={{ $now.minus({hours: 2}) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[288,-48],"id":"82c055a1-e61d-4888-ad1d-54ca3723c983","name":"Filter","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-176,-64],"id":"cb58831a-d9f6-4fff-a512-3c4955b1788c","name":"Schedule Trigger"}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"Filter":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"authors":"Renato Marques","name":null,"description":null},"tags":[]}