n8n-backup-github-V6Dx1SFPxFNFlZXo.json
{"updatedAt":"2026-03-09T03:52:35.637Z","createdAt":"2026-03-09T03:27:42.667Z","id":"V6Dx1SFPxFNFlZXo","name":"N8N Backup GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"582b6c55-231c-4415-8c8e-e678896075ce","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,528]},{"parameters":{"options":{}},"id":"9c5b2fde-3a26-41d3-b483-66d7e4ecac8f","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-528,528]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"29b2f578-5347-400f-bd94-4041f265d0c3","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-320,528]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"aa1b8bc6-07ac-452c-a3a8-1edd08e978d9","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-128,528]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"mutuadigital","mode":"list","cachedResultName":"mutuadigital","cachedResultUrl":"https://github.com/mutuadigital"},"repository":{"__rl":true,"value":"macexecutivo","mode":"list","cachedResultName":"macexecutivo","cachedResultUrl":"https://github.com/mutuadigital/macexecutivo"},"filePath":"="},"id":"89c41c37-b5b8-4fda-8aef-c858e288045b","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[80,512],"alwaysOutputData":true,"webhookId":"dbe181e5-0801-4a2e-9dd2-f7af431b46a0","credentials":{"githubApi":{"id":"HYDRp21c7MuX9CNj","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"a17851b7-7bb2-4e9e-afe5-4c8490e269ce","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[288,528]},{"parameters":{"filters":{},"requestOptions":{}},"id":"520a42d2-ff17-4ff0-8ea7-df891ba32c41","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[480,528],"credentials":{"n8nApi":{"id":"czNqOwGK508DQKsF","name":"n8n account 2"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"4406fd44-cef0-4d93-b479-038769cc105c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[688,528]},{"parameters":{"batchSize":1,"options":{}},"id":"5100b679-4227-4d53-bcb7-86f237b9e795","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[928,528]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"bead3a45-529e-42fe-b112-b3c0ff6c3e3c","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1168,448]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"mutuadigital","mode":"list","cachedResultName":"mutuadigital","cachedResultUrl":"https://github.com/mutuadigital"},"repository":{"__rl":true,"value":"macexecutivo","mode":"list","cachedResultName":"macexecutivo","cachedResultUrl":"https://github.com/mutuadigital/macexecutivo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1b654f49-aba9-4b71-b14b-5dc81cf0ae56","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1392,240],"webhookId":"0cb1f4ba-da0c-48d5-bd57-a8a10fcbfb24","credentials":{"githubApi":{"id":"HYDRp21c7MuX9CNj","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"mutuadigital","mode":"list","cachedResultName":"mutuadigital","cachedResultUrl":"https://github.com/mutuadigital"},"repository":{"__rl":true,"value":"macexecutivo","mode":"list","cachedResultName":"macexecutivo","cachedResultUrl":"https://github.com/mutuadigital/macexecutivo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"585f2348-0ec3-464d-a4e7-1ccf137c2fc6","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1392,640],"webhookId":"20667ef5-3c62-4f10-9088-35cedeecc95b","credentials":{"githubApi":{"id":"HYDRp21c7MuX9CNj","name":"GitHub account"}}},{"parameters":{"content":"## Gatilho\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":520,"width":202},"id":"c33614ff-eeab-47ad-bf1c-f2cbe112b490","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,368]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir uma data e hora atuais no formato `dd-MM-aaaa/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"86d32b61-c341-4355-ae27-a9bb71a9d3da","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,368]},{"parameters":{"content":"## Lista de Arquivos Existentes\nRetorna uma lista de arquivos de backup já presentes no repositório GitHub. Esses dados serão utilizados pelo nó \"IF\" (posteriormente no fluxo de trabalho) para determinar se os arquivos de backup precisam ser criados ou atualizados.","height":459,"width":390},"id":"4eeeaad4-8232-438c-a75b-e973c2f1b63f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,304]},{"parameters":{"content":"## Recuperar fluxos de trabalho  \nObtenha todos os fluxos de trabalho da sua instância n8n. Certifique-se de que **suas credenciais estejam configuradas para a instância correta para realizar o backup.**","height":419,"width":404},"id":"eb2b8736-abbf-40e4-ace7-e49e48789f1d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,352]},{"parameters":{"content":"## Carregar backup\nDivide os arquivos JSON em lotes de 1 e verifique se já foram carregados no repositório. Se sim (true), envie a nova versão do arquivo. Caso contrário (false), crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"f4ba496a-04c8-429e-8887-856334a1603b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,112]},{"parameters":{"content":"```\n   ▄▄▄▄███▄▄▄▄      ▄████████    ▄██████▄   ▄██████▄  \n ▄██▀▀▀███▀▀▀██▄   ███    ███   ███    ███ ███    ███ \n ███   ███   ███   ███    ███   ███    █▀  ███    ███ \n ███   ███   ███   ███    ███  ▄███        ███    ███ \n ███   ███   ███ ▀███████████ ▀▀███ ████▄  ███    ███ \n ███   ███   ███   ███    ███   ███    ███ ███    ███ \n ███   ███   ███   ███    ███   ███    ███ ███    ███ \n  ▀█   ███   █▀    ███    █▀    ████████▀   ▀██████▀                                                                                                                                                                                                                                                                                   \n```\n","height":166,"width":518,"color":3},"id":"2b367508-38d7-4dec-822e-f7aef3750c93","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-736,720],"id":"a61e5cde-13a7-4d6a-b463-4b6812a2b483","name":"Schedule Trigger","disabled":true}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8229d1c9-aa35-4da6-91e2-62dca646766a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T03:27:42.667Z","createdAt":"2026-03-09T03:27:42.667Z","role":"workflow:owner","workflowId":"V6Dx1SFPxFNFlZXo","projectId":"jbeNXH4Iacc2I5ds"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-14T19:46:37.814Z","createdAt":"2025-12-14T19:46:37.814Z","id":"pPXKxQ9xe8aU3vxf","name":"🧙 Mago Automações"}]}